Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(mobile): implement TravelMatch Mobile Master X1000 Guide
  apps/mobile/src/components/ui/Paywall.tsx
  apps/mobile/src/components/ui/TMAvatar.tsx
  apps/mobile/src/components/ui/TMGiftCard.tsx
  apps/mobile/src/components/ui/TMInput.tsx
  apps/mobile/src/components/ui/TMProofCard.tsx
  apps/mobile/src/components/ui/TMSheet.tsx
  apps/mobile/src/components/ui/index.ts
  apps/mobile/src/constants/plans.ts
  apps/mobile/src/theme/typography.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(web): integrate design system and remove testimonials section
  apps/web/app/__tests__/page.test.tsx
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/components/shared/Navbar.tsx
  apps/web/components/ui/TrustRing.tsx
Due: eslint --fix, prettier --write

feat(admin): add gifts per month input to subscription plan cards
  apps/admin/src/app/(dashboard)/pricing/page.tsx
Due: eslint --fix, prettier --write

feat: implement Proof Ceremony UX system
  apps/admin/src/app/(dashboard)/ceremony-management/page.tsx
  apps/admin/src/components/ceremony/CeremonyAnalytics.tsx
  apps/admin/src/components/ceremony/ProofReviewPanel.tsx
  apps/admin/src/components/ceremony/index.ts
  apps/mobile/src/components/ceremony/MemoryCard.tsx
  apps/mobile/src/components/ceremony/MomentAuthenticator.tsx
  apps/mobile/src/components/ceremony/PassportBook.tsx
  apps/mobile/src/components/ceremony/ProofCeremonyFlow.tsx
  apps/mobile/src/components/ceremony/SacredMoments.tsx
  apps/mobile/src/components/ceremony/SunsetClock.tsx
  apps/mobile/src/components/ceremony/ThankYouCardCreator.tsx
  apps/mobile/src/components/ceremony/TrustConstellation.tsx
  apps/mobile/src/components/ceremony/index.ts
  apps/mobile/src/constants/ceremony.ts
  apps/mobile/src/constants/index.ts
  apps/mobile/src/hooks/useCeremony.ts
  apps/web/components/ceremony/CeremonyShowcase.tsx
  apps/web/components/ceremony/TrustBadgeDisplay.tsx
  apps/web/components/ceremony/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

test: add TrustConstellation component test suite
  apps/mobile/src/components/ceremony/__tests__/TrustConstellation.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: add SunsetClock twilight pulse haptic and test suite
  apps/mobile/src/components/ceremony/SunsetClock.tsx
  apps/mobile/src/components/ceremony/__tests__/SunsetClock.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: add passport ceremony styles for book, stamp circle and page indicators
  apps/mobile/src/components/ceremony/PassportBook.tsx
  apps/mobile/src/constants/ceremony.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: add useCeremonyStats hook and TrustConstellationAdmin component
  apps/admin/src/components/ceremony/TrustConstellationAdmin.tsx
  apps/admin/src/components/ceremony/index.ts
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/hooks/index.ts
  apps/admin/src/hooks/useCeremonyStats.ts
Due: eslint --fix, prettier --write

feat: add Gift Vault system with screenshot protection
  apps/mobile/src/components/ceremony/GiftVault.tsx
  apps/mobile/src/components/ceremony/SacredMoments.tsx
  apps/mobile/src/components/ceremony/__tests__/SacredMoments.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: enhance MomentAuthenticator with cinematic verification UX
  apps/mobile/src/components/ceremony/MomentAuthenticator.tsx
  apps/mobile/src/components/ceremony/__tests__/MomentAuthenticator.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: add Proof Ceremony showcase section for web landing page
  apps/web/app/(marketing)/features/proof-ceremony/page.tsx
  apps/web/components/ceremony/CeremonyShowcase.tsx
  apps/web/components/ceremony/FeatureCard.tsx
  apps/web/components/ceremony/InteractiveDemo.tsx
  apps/web/components/ceremony/TrustBadgeDisplay.tsx
  apps/web/components/ceremony/index.ts
Due: eslint --fix, prettier --write

feat: enhance ProofCeremonyFlow with step transitions and CeremonyProgress
  apps/mobile/src/components/ceremony/CeremonyProgress.tsx
  apps/mobile/src/components/ceremony/ProofCeremonyFlow.tsx
  apps/mobile/src/components/ceremony/__tests__/ProofCeremonyFlow.test.tsx
  apps/mobile/src/components/ceremony/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: address critical security vulnerabilities from OWASP audit
  apps/admin/middleware.ts
  apps/mobile/src/utils/security.ts
  supabase/functions/paytr-webhook/index.ts
  supabase/functions/verify-2fa/index.ts
  supabase/migrations/20251230000000_enable_missing_rls.sql
  supabase/migrations/20251230000001_fix_with_check_policies.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(security): address payment audit findings
  supabase/functions/_shared/paytr.ts
  supabase/migrations/20251230000000_audit_payment_fixes.sql
Due: none

fix: address store compliance issues for app submission
  apps/mobile/src/components/GiftInboxCard.tsx
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/RequestCard.tsx
  apps/mobile/src/components/WishCard.tsx
  apps/mobile/src/components/discover/GridMomentCard.tsx
  apps/mobile/src/components/discover/SingleMomentCard.tsx
  apps/mobile/src/components/discover/cards/MomentGridCard.tsx
  apps/mobile/src/components/discover/cards/MomentSingleCard.tsx
  apps/mobile/src/components/moment-detail/ContributorSlotsSection.tsx
  apps/mobile/src/config/storeMetadata.ts
  apps/mobile/src/constants/values.ts
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/notifications/screens/GestureReceivedScreen.tsx
  apps/mobile/src/features/payments/screens/ProofReviewScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/features/profile/screens/MyMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  apps/mobile/src/features/profile/screens/SavedMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/ShareMomentScreen.tsx
  apps/mobile/src/features/settings/screens/BlockedUsersScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/features/trips/screens/EscrowStatusScreen.tsx
  apps/mobile/src/features/trips/screens/ReceiverApprovalScreen.tsx
  apps/mobile/store-metadata/app-store-metadata.json
  apps/mobile/store-metadata/play-store-metadata.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(design-system): align admin panel with Sunset Proof Palette
  apps/admin/src/app/globals.css
  apps/admin/tailwind.config.ts
Due: eslint --fix, prettier --write

fix(ui): address design system compliance and accessibility audit findings
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(admin): connect P0 pages to real API hooks instead of mock data
  apps/admin/src/app/(dashboard)/admin-users/page.tsx
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/(dashboard)/disputes/page.tsx
  apps/admin/src/app/(dashboard)/finance/page.tsx
  apps/admin/src/app/(dashboard)/moments/page.tsx
  apps/admin/src/hooks/use-disputes.ts
  apps/admin/src/hooks/use-stats.ts
Due: eslint --fix, prettier --write

fix(admin): connect audit-logs and campaigns pages to real API hooks
  apps/admin/src/app/(dashboard)/audit-logs/page.tsx
  apps/admin/src/app/(dashboard)/campaigns/page.tsx
Due: eslint --fix, prettier --write

fix(api): address critical API contract audit findings
  apps/mobile/src/features/payments/services/paymentsApi.ts
  apps/mobile/src/hooks/usePayments.ts
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/services/paymentService.ts
  apps/mobile/src/services/supabaseDbService.ts
  supabase/functions/paytr-webhook/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(error-handling): add ErrorBoundary and NetworkGuard to payment and KYC screens
  apps/mobile/src/features/payments/kyc/KYCDocumentCaptureScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCDocumentTypeScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCIntroScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCPendingScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCReviewScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCSelfieScreen.tsx
  apps/mobile/src/features/payments/screens/TransactionDetailScreen.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
