Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(mobile): add unified motion physics system
  apps/mobile/src/utils/index.ts
  apps/mobile/src/utils/motion.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(web): add TravelMatch design system with Tailwind v4
  apps/web/app/globals.css
Due: none

feat(design-system): add shared Tailwind CSS preset with TravelMatch design tokens
  apps/web/tailwind.config.ts
  packages/design-system/src/index.ts
  packages/design-system/src/tailwind.preset.ts
Due: eslint --fix, prettier --write

feat(web): redesign landing page with Trust Jewelry design system
  apps/web/app/globals.css
  apps/web/app/page.tsx
Due: eslint --fix, prettier --write

feat(admin): add Cinematic Travel + Trust Jewelry global styles
  apps/admin/src/app/globals.css
  apps/admin/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(admin): enhance StatCard with cinematic design and variants
  apps/admin/src/app/globals.css
  apps/admin/src/components/common/stat-card.tsx
  apps/admin/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(admin): implement Dashboard V2 with Cinematic Travel + Trust Jewelry design
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/globals.css
  apps/admin/src/components/common/stat-card.tsx
  apps/admin/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(design-system): implement TravelMatch Web Design System 2026
  apps/admin/src/app/globals.css
  apps/admin/src/components/ui/button.tsx
  apps/admin/src/components/ui/card.tsx
  apps/admin/src/components/ui/stat-card.tsx
  apps/admin/src/components/ui/trust-ring.tsx
  apps/admin/tailwind.config.ts
  apps/web/app/globals.css
  apps/web/app/page.tsx
  packages/design-system/src/tokens/colors.ts
  packages/design-system/src/tokens/index.ts
  packages/design-system/src/tokens/spacing.ts
  packages/design-system/src/tokens/typography.ts
Due: eslint --fix, prettier --write

feat(admin): implement Header V2 with breadcrumbs and improved UI
  apps/admin/src/app/globals.css
  apps/admin/src/components/layout/header.tsx
Due: eslint --fix, prettier --write

feat(admin): implement Sidebar V2 with cinematic design
  apps/admin/src/app/globals.css
  apps/admin/src/components/layout/sidebar.tsx
Due: eslint --fix, prettier --write

feat(admin): add DataTableV2 component with enhanced features
  apps/admin/src/app/globals.css
  apps/admin/src/components/ui/data-table-v2.tsx
Due: eslint --fix, prettier --write

feat(admin): implement TravelMatch Admin Panel Design System
  apps/admin/src/app/(dashboard)/dashboard-v2/page.tsx
  apps/admin/src/app/globals.css
  apps/admin/src/components/common/admin-chart.tsx
  apps/admin/src/components/common/stat-card-v2.tsx
  apps/admin/src/components/layout/sidebar-v2.tsx
  apps/admin/src/components/ui/data-table-v2.tsx
  apps/admin/tailwind.config.ts
Due: eslint --fix, prettier --write

refactor: consolidate v2/ultimate design system files into main platform
  apps/admin/src/app/(dashboard)/dashboard-v2/page.tsx
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/globals.css
  apps/admin/src/components/common/stat-card-v2.tsx
  apps/admin/src/components/common/stat-card.tsx
  apps/admin/src/components/layout/sidebar-v2.tsx
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/components/ui/data-table-v2.tsx
  apps/admin/src/components/ui/data-table.tsx
  apps/mobile/src/components/ui/TMButton.tsx
  apps/mobile/src/components/ui/TMCard.tsx
  apps/mobile/src/components/ui/TMPill.tsx
  apps/mobile/src/components/ui/TMTrustRing.tsx
  apps/mobile/src/constants/colors-ultimate.ts
  apps/mobile/src/constants/colors-v2.ts
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/constants/spacing-ultimate.ts
  apps/mobile/src/constants/spacing.ts
  apps/mobile/src/constants/typography-ultimate.ts
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/theme/colors-v2.ts
  apps/mobile/src/theme/colors.ts
  apps/mobile/src/theme/typography-v2.ts
  apps/mobile/src/theme/typography.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: Update GenericBottomSheet to use new COLORS API structure
  apps/mobile/src/components/ui/GenericBottomSheet.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: Complete V2 design system backward compatibility
  .backup-originals/BottomNav.tsx
  .backup-originals/Button.tsx
  .backup-originals/MomentCard.tsx
  .backup-originals/OnboardingScreen.tsx
  .backup-originals/ProfileHeaderSection.tsx
  .backup-originals/WelcomeScreen.tsx
  .backup-originals/colors.ts
  .backup-originals/typography.ts
  .backup-originals/useAnimations.ts
  apps/mobile/src/components/profile/__tests__/__snapshots__/StatsRow.test.tsx.snap
  apps/mobile/src/components/ui/__tests__/__snapshots__/ControlledInput.test.tsx.snap
  apps/mobile/src/components/ui/__tests__/__snapshots__/Input.test.tsx.snap
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/hooks/useAnimations.ts
  apps/mobile/src/navigation/transitions.ts
  tsconfig.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: Remove backup-originals folder (no longer needed)
  .backup-originals/BottomNav.tsx
  .backup-originals/Button.tsx
  .backup-originals/MomentCard.tsx
  .backup-originals/OnboardingScreen.tsx
  .backup-originals/ProfileHeaderSection.tsx
  .backup-originals/WelcomeScreen.tsx
  .backup-originals/colors.ts
  .backup-originals/typography.ts
  .backup-originals/useAnimations.ts
Due: none

chore: Remove V2 files and fix all lint warnings
  apps/mobile/src/components/BottomNavV2.tsx
  apps/mobile/src/components/MomentCardV2.tsx
  apps/mobile/src/components/profile/ProfileHeaderV2.tsx
  apps/mobile/src/components/ui/ButtonV2.tsx
  apps/mobile/src/components/ui/TMPill.tsx
  apps/mobile/src/constants/colors-v2.ts
  apps/mobile/src/constants/typography-v2.ts
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/design-system-v2/index.ts
  apps/mobile/src/features/auth/screens/OnboardingScreenV2.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreenV2.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/hooks/useAnimationsV2.ts
  apps/mobile/src/hooks/useMotion.ts
  apps/mobile/src/navigation/transitions.ts
  apps/mobile/src/navigation/transitionsV2.ts
  apps/mobile/src/utils/motion.ts
  apps/mobile/src/utils/production-logger.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: Jest test configuration and COLORS.overlay mocks
  apps/mobile/__mocks__/expo-blur.js
  apps/mobile/jest.config.js
  apps/mobile/src/__tests__/integration/DiscoverFlow.test.tsx
  apps/mobile/src/components/ui/__tests__/MomentCard.test.tsx
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/auth/screens/__tests__/LoginScreen.test.tsx
  apps/mobile/src/features/auth/screens/__tests__/RegisterScreen.test.tsx
  apps/mobile/src/services/__tests__/supabaseDbService.performance.test.ts
  apps/mobile/src/services/db/queries.ts
  apps/mobile/src/services/requestService.ts
  apps/mobile/src/services/supabaseDbService.ts
  apps/mobile/src/services/userService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: Omni-Architect audit fixes - performance, security, accessibility
  apps/mobile/app.config.ts
  apps/mobile/assets/notification-icon.png
  apps/mobile/src/components/CityAutocomplete.tsx
  apps/mobile/src/components/GiftMomentBottomSheet.tsx
  apps/mobile/src/components/PlaceSearchModal.tsx
  apps/mobile/src/components/ui/EnhancedSearchBar.tsx
  apps/mobile/src/features/messages/screens/ChatScreen.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/profile/screens/DeletedMomentsScreen.tsx
  apps/mobile/src/hooks/__tests__/useAuth.test.tsx
  apps/mobile/src/hooks/useRenderItem.ts
  supabase/functions/verify-kyc/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: refactor social login to icon-only design with provider colors
  apps/mobile/src/components/PlaceSearchModal.tsx
  apps/mobile/src/components/SocialButton.tsx
  apps/mobile/src/components/index.ts
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js
