Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(admin): resolve TypeScript errors in dashboard pages
  apps/admin/src/app/(dashboard)/admin-users/page.tsx
  apps/admin/src/app/(dashboard)/alerts/page.tsx
  apps/admin/src/app/(dashboard)/compliance/page.tsx
  apps/admin/src/app/(dashboard)/notifications/page.tsx
  apps/admin/src/app/(dashboard)/security/page.tsx
  apps/admin/src/components/common/admin-chart.tsx
Due: eslint --fix, prettier --write

fix(admin): fix all CanvaButton and CanvaBadge variant errors
  apps/admin/src/app/(auth)/2fa/page.tsx
  apps/admin/src/app/(auth)/2fa/setup/page.tsx
  apps/admin/src/app/(auth)/login/page.tsx
  apps/admin/src/app/(dashboard)/admin-users/page.tsx
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  apps/admin/src/app/(dashboard)/alerts/page.tsx
  apps/admin/src/app/(dashboard)/audit-logs/page.tsx
  apps/admin/src/app/(dashboard)/campaign-builder/page.tsx
  apps/admin/src/app/(dashboard)/campaigns/page.tsx
  apps/admin/src/app/(dashboard)/ceremony-management/page.tsx
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/(dashboard)/compliance/page.tsx
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/(dashboard)/disputes/page.tsx
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/feature-flags/page.tsx
  apps/admin/src/app/(dashboard)/finance/page.tsx
  apps/admin/src/app/(dashboard)/integrations-monitor/page.tsx
  apps/admin/src/app/(dashboard)/moderation/page.tsx
  apps/admin/src/app/(dashboard)/moments/page.tsx
  apps/admin/src/app/(dashboard)/notifications/page.tsx
  apps/admin/src/app/(dashboard)/promos/page.tsx
  apps/admin/src/app/(dashboard)/proof-center/page.tsx
  apps/admin/src/app/(dashboard)/queue/page.tsx
  apps/admin/src/app/(dashboard)/revenue/page.tsx
  apps/admin/src/app/(dashboard)/safety-hub/page.tsx
  apps/admin/src/app/(dashboard)/security/page.tsx
  apps/admin/src/app/(dashboard)/subscription-management/page.tsx
  apps/admin/src/app/(dashboard)/support/page.tsx
  apps/admin/src/app/(dashboard)/users/[id]/page.tsx
  apps/admin/src/app/(dashboard)/users/page.tsx
  apps/admin/src/app/(dashboard)/vip-management/page.tsx
  apps/admin/src/app/(dashboard)/wallet-operations/page.tsx
Due: eslint --fix, prettier --write

fix(admin): add missing Canva imports and fix remaining files
  apps/admin/src/app/(dashboard)/error.tsx
  apps/admin/src/app/(dashboard)/users/[id]/page.tsx
  apps/admin/src/app/error.tsx
  apps/admin/src/app/not-found.tsx
  apps/admin/src/app/privacy/page.tsx
  apps/admin/src/app/terms/page.tsx
Due: eslint --fix, prettier --write

fix(admin): resolve remaining TypeScript errors in dashboard pages
  apps/admin/src/app/(auth)/login/page.tsx
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  apps/admin/src/app/(dashboard)/analytics/page.tsx
  apps/admin/src/app/(dashboard)/campaigns/page.tsx
  apps/admin/src/app/(dashboard)/chat-analytics/page.tsx
  apps/admin/src/app/(dashboard)/compliance/page.tsx
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/geographic/page.tsx
  apps/admin/src/app/(dashboard)/integrations-monitor/page.tsx
  apps/admin/src/app/(dashboard)/moderation/page.tsx
  apps/admin/src/app/(dashboard)/notifications/page.tsx
  apps/admin/src/app/(dashboard)/ops-center/page.tsx
  apps/admin/src/app/(dashboard)/promos/page.tsx
  apps/admin/src/app/(dashboard)/revenue/page.tsx
  apps/admin/src/app/(dashboard)/support/page.tsx
  apps/admin/src/app/(dashboard)/system-health/page.tsx
  apps/admin/src/app/(dashboard)/user-lifecycle/page.tsx
  apps/admin/src/app/(dashboard)/users/[id]/page.tsx
  apps/admin/src/app/(dashboard)/wallet-operations/page.tsx
  apps/admin/src/app/api/admin-users/[id]/reset-password/route.ts
Due: eslint --fix, prettier --write

fix(admin): resolve all TypeScript errors and standardize logging
  apps/admin/next-env.d.ts
  apps/admin/src/app/api/admin-users/[id]/reset-password/route.ts
  apps/admin/src/app/api/auth/login/route.ts
  apps/admin/src/app/api/auth/setup-2fa/route.ts
  apps/admin/src/app/api/campaigns/route.ts
  apps/admin/src/app/api/compliance/route.ts
  apps/admin/src/app/api/compliance/stats/route.ts
  apps/admin/src/app/api/dashboard/route.ts
  apps/admin/src/app/api/disputes/route.ts
  apps/admin/src/app/api/escrow/route.ts
  apps/admin/src/app/api/feature-flags/route.ts
  apps/admin/src/app/api/kyc/route.ts
  apps/admin/src/app/api/notifications/route.ts
  apps/admin/src/app/api/promos/route.ts
  apps/admin/src/app/api/proofs/route.ts
  apps/admin/src/app/api/queue/route.ts
  apps/admin/src/app/api/reports/[id]/route.ts
  apps/admin/src/app/api/reports/route.ts
  apps/admin/src/app/api/revenue/route.ts
  apps/admin/src/app/api/support/route.ts
  apps/admin/src/app/api/tasks/[id]/route.ts
  apps/admin/src/app/api/tasks/route.ts
  apps/admin/src/app/api/users/[id]/route.ts
  apps/admin/src/app/api/vip-users/[userId]/route.ts
  apps/admin/src/app/api/vip-users/route.ts
  apps/admin/src/app/api/vip-users/stats/route.ts
  apps/admin/src/components/common/admin-chart.tsx
  apps/admin/src/components/enterprise/EnterpriseSidebar.tsx
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/components/ui/__tests__/button.test.tsx
  apps/admin/src/components/ui/calendar.tsx
  apps/admin/src/hooks/index.ts
  apps/admin/src/hooks/use-auth.ts
  apps/admin/src/hooks/use-dashboard.ts
  apps/admin/src/stores/__tests__/auth-store.test.ts
Due: eslint --fix, prettier --write

feat(mobile): TestFlight preparation - critical fixes and cleanup
  .husky/pre-commit
  apps/mobile/src/components/ui/ProgressBar.tsx
  apps/mobile/src/features/discover/components/DiscoverHeader.tsx
  apps/mobile/src/features/discover/screens/SearchMapScreen.tsx
  apps/mobile/src/features/messages/screens/ArchivedChatsScreen.tsx
  apps/mobile/src/features/payments/screens/CheckoutScreen.tsx
  apps/mobile/src/features/payments/screens/PaymentMethodsScreen.tsx
  apps/mobile/src/hooks/useMessages.ts
  apps/mobile/src/hooks/usePayments.ts
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/utils/animations.ts
  apps/web/src/components/3d/Atmosphere.tsx
  docs/mobile/APP_STORE_DEMO_ACCOUNT.md
  scripts/create-demo-account.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(mobile): enhance payment flow with critical safeguards
  apps/mobile/src/features/payments/screens/CheckoutScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

docs: App Store submission preparation
  docs/mobile/APP_STORE_METADATA.md
  docs/planning/future_referral_system.sql
  scripts/generate-screenshots.md
Due: prettier --write

fix(mobile): resolve critical moment creation and management bugs
  apps/mobile/src/features/moments/components/LocationPickerBottomSheet.tsx
  apps/mobile/src/features/moments/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/EditMomentScreen.tsx
  apps/mobile/src/features/profile/screens/MyMomentsScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): resolve modal conflict after moment creation
  apps/mobile/src/features/moments/screens/CreateMomentScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(security): critical security fixes for edge functions and RLS
  supabase/functions/paytr-transfer/index.ts
  supabase/functions/sendgrid-email/index.ts
  supabase/migrations/20260112000001_fix_reviews_rls.sql
Due: none

fix(security): comprehensive security hardening for edge functions and database
  supabase/functions/_shared/paytr.ts
  supabase/functions/twilio-sms/index.ts
  supabase/functions/verify-proof/index.ts
  supabase/migrations/20260116000001_fix_rls_security_breaches.sql
Due: none

fix(database): resolve all Supabase linter warnings
  supabase/migrations/20260112000002_fix_linter_warnings.sql
Due: none

feat(admin): comprehensive dashboard review and UX improvements
  apps/admin/ADMIN_DASHBOARD_EXECUTIVE_REPORT.md
  apps/admin/src/app/(dashboard)/campaigns/page.tsx
  apps/admin/src/app/(dashboard)/notifications/page.tsx
  apps/admin/src/components/layout/sidebar.tsx
Due: eslint --fix, prettier --write

fix(migration): remove non-existent request_id column reference in reviews RLS policy
  supabase/migrations/20260112000001_fix_reviews_rls.sql
Due: none

fix(admin): PayTR integration fixes and UI/UX improvements
  apps/admin/ADMIN_DASHBOARD_EXECUTIVE_REPORT.md
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/finance/page.tsx
  apps/admin/src/app/(dashboard)/wallet-operations/page.tsx
Due: eslint --fix, prettier --write

feat(admin): standardize design system across all pages
  apps/admin/src/app/(dashboard)/ai-insights/page.tsx
  apps/admin/src/app/(dashboard)/alerts/page.tsx
  apps/admin/src/app/(dashboard)/audit-trail/page.tsx
  apps/admin/src/app/(dashboard)/campaign-builder/page.tsx
  apps/admin/src/app/(dashboard)/ceo-briefing/page.tsx
  apps/admin/src/app/(dashboard)/chat-analytics/page.tsx
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/(dashboard)/discovery-analytics/page.tsx
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/fraud-investigation/page.tsx
  apps/admin/src/app/(dashboard)/integrations-monitor/page.tsx
  apps/admin/src/app/(dashboard)/proof-center/page.tsx
  apps/admin/src/app/(dashboard)/safety-hub/page.tsx
  apps/admin/src/app/(dashboard)/subscription-management/page.tsx
  apps/admin/src/app/(dashboard)/system-health/page.tsx
  apps/admin/src/app/(dashboard)/user-lifecycle/page.tsx
  apps/admin/src/app/(dashboard)/wallet-operations/page.tsx
  apps/admin/src/app/globals.css
Due: eslint --fix, prettier --write

feat(web): premium Awwwards-ready foundation with deep space aesthetics
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/3d/Atmosphere.tsx
  apps/web/src/components/layout/Navbar.tsx
  apps/web/src/components/ui/CustomCursor.tsx
  apps/web/src/components/ui/MagneticButton.tsx
  apps/web/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(admin): standardize wallet and escrow pages with Canva design system
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/wallet-operations/page.tsx
Due: eslint --fix, prettier --write

feat(landing): complete Awwwards-ready landing page with premium components
  apps/web/src/app/page.tsx
  apps/web/src/components/3d/GiftOrb.tsx
  apps/web/src/components/landing/Hero.tsx
  apps/web/src/components/landing/LiquidCard.tsx
  apps/web/src/components/landing/MatchSimulator.tsx
  apps/web/src/components/landing/RitualSection.tsx
  apps/web/src/components/landing/SacredMoments.tsx
  apps/web/src/components/landing/TrustRing.tsx
  apps/web/src/components/layout/Footer.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
