Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: Fix workflow failures - remove secret dependencies
  .github/workflows/_disabled/design-system.yml
  .github/workflows/_disabled/performance-ci.yml
  .github/workflows/_disabled/security-compliance.yml
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  supabase/functions/import_map.json
Due: prettier --write

docs: Add comprehensive forensic security audit report
  FORENSIC_SECURITY_AUDIT_2025-12-17.md
Due: prettier --write

chore: Rename disabled workflows to .yml.disabled to stop VS Code linting
  .github/workflows/_disabled/design-system.yml.disabled
  .github/workflows/_disabled/device-farm-tests.yml.disabled
  .github/workflows/_disabled/e2e-detox.yml.disabled
  .github/workflows/_disabled/e2e-tests.yml.disabled
  .github/workflows/_disabled/performance-ci.yml.disabled
  .github/workflows/_disabled/security-compliance.yml.disabled
  .github/workflows/_disabled/ui-e2e-tests.yml.disabled
  .github/workflows/_disabled/visual-regression.yml.disabled
Due: none

security: Fix DEFCON 1 critical vulnerabilities (5/5)
  apps/mobile/app.config.ts
  apps/mobile/src/components/discover/cards/__tests__/MomentGridCard.test.tsx
  apps/mobile/src/components/discover/cards/__tests__/MomentSingleCard.test.tsx
  apps/mobile/src/components/ui/__tests__/MomentCard.test.tsx
  apps/mobile/src/config/env.config.ts
  apps/mobile/src/services/cloudflareImages.ts
  supabase/functions/upload-cloudflare-image/index.ts
  supabase/migrations/20251217200000_enable_atomic_transfer.sql
  supabase/migrations/20251217200001_fix_cache_invalidation_rls.sql
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf: Add memoization to RequestCard and offline support to useFetch
  apps/mobile/src/components/RequestCard.tsx
  apps/mobile/src/hooks/useFetch.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: Add comprehensive Admin Panel implementation roadmap
  ADMIN_PANEL_ROADMAP.md
Due: prettier --write

feat(admin): Complete Phase 2 - Operations & Advanced Features
  apps/admin/src/app/(dashboard)/analytics/page.tsx
  apps/admin/src/app/(dashboard)/integrations/page.tsx
  apps/admin/src/app/(dashboard)/support/page.tsx
  apps/admin/src/app/(dashboard)/trust-safety/page.tsx
  apps/admin/src/app/(dashboard)/users/[id]/page.tsx
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/hooks/use-realtime.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): Complete Phase 3 - Growth & Intelligence
  apps/admin/src/app/(dashboard)/admin-users/page.tsx
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  apps/admin/src/app/(dashboard)/automation/page.tsx
  apps/admin/src/app/(dashboard)/campaigns/page.tsx
  apps/admin/src/app/(dashboard)/notifications/page.tsx
  apps/admin/src/app/(dashboard)/promos/page.tsx
  apps/admin/src/components/layout/sidebar.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): Complete Phase 4 - Advanced & Polish
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/(dashboard)/geographic/page.tsx
  apps/admin/src/app/(dashboard)/incidents/page.tsx
  apps/admin/src/app/(dashboard)/ops-center/page.tsx
  apps/admin/src/app/(dashboard)/revenue/page.tsx
  apps/admin/src/components/layout/sidebar.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): Add missing UI components, API routes and data hooks
  apps/admin/src/app/api/admin-users/[id]/route.ts
  apps/admin/src/app/api/admin-users/route.ts
  apps/admin/src/app/api/audit-logs/route.ts
  apps/admin/src/app/api/auth/login/route.ts
  apps/admin/src/app/api/auth/logout/route.ts
  apps/admin/src/app/api/disputes/route.ts
  apps/admin/src/app/api/moments/route.ts
  apps/admin/src/app/api/stats/route.ts
  apps/admin/src/app/api/tasks/[id]/route.ts
  apps/admin/src/app/api/tasks/route.ts
  apps/admin/src/app/api/users/[id]/route.ts
  apps/admin/src/app/api/users/route.ts
  apps/admin/src/components/ui/alert-dialog.tsx
  apps/admin/src/components/ui/alert.tsx
  apps/admin/src/components/ui/checkbox.tsx
  apps/admin/src/components/ui/command.tsx
  apps/admin/src/components/ui/popover.tsx
  apps/admin/src/components/ui/progress.tsx
  apps/admin/src/components/ui/radio-group.tsx
  apps/admin/src/components/ui/sheet.tsx
  apps/admin/src/components/ui/slider.tsx
  apps/admin/src/components/ui/table.tsx
  apps/admin/src/components/ui/textarea.tsx
  apps/admin/src/hooks/use-admin-users.ts
  apps/admin/src/hooks/use-audit-logs.ts
  apps/admin/src/hooks/use-disputes.ts
  apps/admin/src/hooks/use-stats.ts
  apps/admin/src/hooks/use-tasks.ts
  apps/admin/src/hooks/use-users.ts
  apps/admin/src/lib/auth.ts
  apps/admin/src/providers/query-provider.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: Complete Phase 5 - All differentiator modules
  apps/admin/src/app/(dashboard)/accessibility/page.tsx
  apps/admin/src/app/(dashboard)/competitive/page.tsx
  apps/admin/src/app/(dashboard)/creators/page.tsx
  apps/admin/src/app/(dashboard)/customer-success/page.tsx
  apps/admin/src/app/(dashboard)/dev-tools/page.tsx
  apps/admin/src/app/(dashboard)/editorial/page.tsx
  apps/admin/src/app/(dashboard)/errors/page.tsx
  apps/admin/src/app/(dashboard)/esg/page.tsx
  apps/admin/src/app/(dashboard)/events/page.tsx
  apps/admin/src/app/(dashboard)/feedback/page.tsx
  apps/admin/src/app/(dashboard)/gamification/page.tsx
  apps/admin/src/app/(dashboard)/knowledge-base/page.tsx
  apps/admin/src/app/(dashboard)/localization/page.tsx
  apps/admin/src/app/(dashboard)/partners/page.tsx
  apps/admin/src/app/(dashboard)/pricing/page.tsx
  apps/admin/src/app/(dashboard)/qa-center/page.tsx
  apps/admin/src/app/(dashboard)/safety-center/page.tsx
  apps/admin/src/app/(dashboard)/team/page.tsx
  apps/admin/src/components/layout/sidebar.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): Complete infrastructure - UI, API, hooks, types
  apps/admin/middleware.ts
  apps/admin/package.json
  apps/admin/src/app/api/analytics/route.ts
  apps/admin/src/app/api/campaigns/route.ts
  apps/admin/src/app/api/finance/route.ts
  apps/admin/src/app/api/notifications/route.ts
  apps/admin/src/app/api/reports/[id]/route.ts
  apps/admin/src/app/api/reports/route.ts
  apps/admin/src/components/ui/accordion.tsx
  apps/admin/src/components/ui/breadcrumb.tsx
  apps/admin/src/components/ui/calendar.tsx
  apps/admin/src/components/ui/collapsible.tsx
  apps/admin/src/components/ui/data-table.tsx
  apps/admin/src/components/ui/date-picker.tsx
  apps/admin/src/components/ui/form.tsx
  apps/admin/src/components/ui/toast.tsx
  apps/admin/src/hooks/index.ts
  apps/admin/src/hooks/use-analytics.ts
  apps/admin/src/hooks/use-campaigns.ts
  apps/admin/src/hooks/use-finance.ts
  apps/admin/src/hooks/use-moments.ts
  apps/admin/src/hooks/use-notifications.ts
  apps/admin/src/hooks/use-reports.ts
  apps/admin/src/types/admin.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): Add global states, utilities, and error handling
  apps/admin/src/app/(dashboard)/error.tsx
  apps/admin/src/app/(dashboard)/loading.tsx
  apps/admin/src/app/error.tsx
  apps/admin/src/app/loading.tsx
  apps/admin/src/app/not-found.tsx
  apps/admin/src/lib/constants.ts
  apps/admin/src/lib/formatters.ts
  apps/admin/src/lib/validators.ts
  apps/admin/src/stores/filter-store.ts
  apps/admin/src/stores/index.ts
  apps/admin/src/stores/notification-store.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): Final completions - common components, API client, 2FA fix
  apps/admin/src/app/api/auth/verify-2fa/route.ts
  apps/admin/src/components/common/empty-state.tsx
  apps/admin/src/components/common/index.ts
  apps/admin/src/components/common/page-header.tsx
  apps/admin/src/components/common/stat-card.tsx
  apps/admin/src/components/common/status-badge.tsx
  apps/admin/src/lib/api-client.ts
  apps/admin/src/lib/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(admin): Optimize admin panel - remove overkill, add essential features
  apps/admin/middleware.ts
  apps/admin/src/app/(dashboard)/audit-logs/page.tsx
  apps/admin/src/app/(dashboard)/competitive/page.tsx
  apps/admin/src/app/(dashboard)/esg/page.tsx
  apps/admin/src/app/(dashboard)/feature-flags/page.tsx
  apps/admin/src/app/(dashboard)/qa-center/page.tsx
  apps/admin/src/components/common/bulk-actions.tsx
  apps/admin/src/components/common/index.ts
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/lib/export.ts
  apps/admin/src/lib/index.ts
  apps/admin/src/lib/rate-limit.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: apps/admin/package.json to reduce vulnerabilities
  apps/admin/package.json
Due: prettier --write

fix: remove deprecated @testing-library/jest-native from tsconfig types
  packages/design-system/tsconfig.json
Due: prettier --write

chore: fix peer dependencies and security updates
  apps/admin/package.json
  apps/web/package.json
  pnpm-lock.yaml
  services/ml/package.json
  services/payment/package.json
Due: prettier --write

chore(deps): update all dependencies to latest versions
  apps/admin/package.json
  apps/mobile/package.json
  apps/web/package.json
  package.json
  packages/design-system/package.json
  packages/monitoring/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  services/ml/package.json
  services/payment/package.json
Due: prettier --write

fix(security): patch zlib and pam vulnerabilities in ml-service Dockerfile
  services/ml-service/Dockerfile
Due: none

fix(security): remove hardcoded secrets in 2FA encryption
  apps/admin/.env.example
  apps/admin/src/app/api/auth/verify-2fa/route.ts
  apps/mobile/src/utils/secureStorage.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(security): upgrade @sentry/react-native to 7.8.0
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): upgrade Next.js and add admin 2FA setup endpoint
  apps/admin/src/app/api/auth/setup-2fa/route.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): add 2FA setup page UI
  apps/admin/next.config.ts
  apps/admin/src/app/(auth)/2fa/setup/page.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ci): migrate all workflows from npm to pnpm
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/monorepo-ci.yml
Due: prettier --write

chore: upgrade pnpm from 8.15.0 to 9.15.9
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/monorepo-ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): remove explicit pnpm version - use packageManager from package.json
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/monorepo-ci.yml
Due: prettier --write

fix(admin): replace non-existent getServerSession with getAdminSession
  apps/admin/src/app/api/auth/setup-2fa/route.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(admin): update to @tailwindcss/postcss for Tailwind CSS v4
  apps/admin/package.json
  apps/admin/postcss.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(mobile): resolve ESLint errors for pre-push hook
  apps/mobile/src/features/payments/kyc/types.ts
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/utils/logger.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: use Infisical for Codecov token
  .github/workflows/ci.yml
  .github/workflows/monorepo-ci.yml
Due: prettier --write

ci: fix pre-push hook to allow push with known type errors
  .husky/pre-push
  .turbo/cache/f65a3e4069e3c644-meta.json
  .turbo/cache/f65a3e4069e3c644.tar.zst
  .turbo/cookies/6.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  apps/mobile/.gitignore
  apps/mobile/App.tsx
  apps/mobile/metro.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(mobile): complete Sentry integration with wizard
  .gitignore
  .turbo/cookies/10.cookie
  .turbo/cookies/11.cookie
  .turbo/cookies/12.cookie
  .turbo/cookies/13.cookie
  .turbo/cookies/9.cookie
  apps/mobile/.gitignore
  apps/mobile/App.tsx
  apps/mobile/app.config.ts
  metro.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
