Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Merge claude/fix-ios-simulator-bugs-MSQ5l - iOS simulator bug fixes and test updates
  apps/admin/jest.setup.js
  apps/admin/src/components/ui/__tests__/button.test.tsx
  apps/admin/src/components/ui/button.tsx
  apps/mobile/App.tsx
  apps/mobile/babel.config.js
  apps/mobile/index.ts
  apps/mobile/src/components/__tests__/FeedbackModal.test.tsx
  apps/mobile/src/components/ui/__tests__/MomentCard.test.tsx
  apps/mobile/src/context/ToastContext.tsx
  apps/mobile/src/features/auth/screens/__tests__/LoginScreen.test.tsx
  apps/mobile/src/features/auth/screens/__tests__/RegisterScreen.test.tsx
  apps/mobile/src/features/settings/screens/BlockedUsersScreen.tsx
  apps/mobile/src/features/settings/screens/NotificationSettingsScreen.tsx
  apps/mobile/src/features/settings/screens/PrivacyPolicyScreen.tsx
  apps/mobile/src/features/settings/screens/TermsOfServiceScreen.tsx
  apps/mobile/src/hooks/__tests__/useAuth.test.tsx
  apps/mobile/src/services/__tests__/storageMonitor.test.ts
  apps/mobile/src/services/analytics.ts
  apps/mobile/src/services/storageMonitor.ts
  apps/mobile/src/utils/forms/helpers.ts
  babel.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: add social login buttons (Apple, Google, Facebook) to auth screens
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

perf: migrate remaining components from Animated to Reanimated
  apps/mobile/jest.setup.root-backup.js
  apps/mobile/src/components/AnimatedComponents.tsx
  apps/mobile/src/components/ErrorRecoveryComponents.tsx
  apps/mobile/src/components/GiftSuccessModal.tsx
  apps/mobile/src/components/ui/GenericBottomSheet.tsx
  apps/mobile/src/context/ConfirmationContext.tsx
  apps/mobile/src/features/settings/context/ToastContext.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: restore clean auth screens from branch and fix test types
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/auth/screens/__tests__/LoginScreen.test.tsx
  apps/mobile/src/features/auth/screens/__tests__/RegisterScreen.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve type errors in App.tsx and analytics.ts
  apps/mobile/App.tsx
  apps/mobile/src/services/analytics.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor: consolidate duplicate Jest mocks into shared location
  apps/mobile/jest.config.js
  packages/design-system/__mocks__/react-native-reanimated.js
  packages/design-system/__mocks__/react-native-svg.js
  packages/design-system/__mocks__/react-native.js
  packages/design-system/jest.config.js
  tests/__mocks__/react-native-reanimated.js
  tests/__mocks__/react-native-svg.js
  tests/__mocks__/react-native.js
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: add Snyk Code inline ignore comments for path traversal warnings
  packages/design-system/scripts/design_token_generator.py
  scripts/ux-research/design_validator.py
  scripts/ux-research/journey_mapper.py
  scripts/ux-research/persona_generator.py
  scripts/ux-research/research_synthesizer.py
Due: none

chore: share VS Code settings for team consistency
  .gitignore
  .vscode/settings.json
Due: prettier --write

fix(security): add Snyk Code inline ignore comments for path traversal
  packages/design-system/scripts/design_token_generator.py
  scripts/ux-research/design_validator.py
  scripts/ux-research/journey_mapper.py
  scripts/ux-research/persona_generator.py
  scripts/ux-research/research_synthesizer.py
  scripts/ux-research/usability_testing.py
Due: none

chore: exclude internal Python scripts from Snyk scanning
  .vscode/settings.json
Due: prettier --write

chore: Remove unrelated algorithmic art files
  algorithmic-art/celestial-murmuration.html
  algorithmic-art/celestial-murmuration.md
Due: prettier --write

feat(mobile): add comprehensive animation hooks for Awwwards design system
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/hooks/useAnimations.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(theme): add V2 typography and colors design system
  apps/mobile/src/theme/colors-v2.ts
  apps/mobile/src/theme/typography-v2.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(design-system): add V2 "Liquid Warmth" color system
  apps/mobile/src/constants/colors-v2.ts
  packages/design-system/src/tokens/colors.ts
  packages/shared/src/constants/colors.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(design-system): implement 8pt grid spacing system with Awwwards standards
  apps/mobile/src/constants/spacing.ts
  apps/mobile/src/features/payments/constants/spacing.ts
  apps/mobile/src/features/settings/constants/spacing.ts
  apps/mobile/src/features/trips/constants/spacing.ts
  packages/design-system/src/tokens/index.ts
  packages/design-system/src/tokens/spacing.ts
  packages/shared/src/constants/spacing.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(typography): implement Premium Editorial design system
  apps/mobile/src/theme/typography.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(design-system): implement Sunset Proof color palette
  apps/mobile/src/constants/colors.ts
  packages/design-system/src/tokens/colors.ts
  packages/design-system/src/tokens/index.ts
  packages/shared/src/constants/colors.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(design-system): implement TravelMatch Ultimate Design System 2026
  apps/mobile/src/components/ui/TMButton.tsx
  apps/mobile/src/components/ui/TMCard.tsx
  apps/mobile/src/components/ui/TMPill.tsx
  apps/mobile/src/components/ui/TMTrustRing.tsx
  apps/mobile/src/components/ui/index.ts
  apps/mobile/src/constants/colors-ultimate.ts
  apps/mobile/src/constants/spacing-ultimate.ts
  apps/mobile/src/constants/typography-ultimate.ts
  apps/mobile/src/hooks/useMotion.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: implement Awwwards Design System 2026 V2 components
  apps/mobile/src/components/BottomNavV2.tsx
  apps/mobile/src/components/MomentCardV2.tsx
  apps/mobile/src/components/profile/ProfileHeaderV2.tsx
  apps/mobile/src/components/ui/ButtonV2.tsx
  apps/mobile/src/constants/colors-v2.ts
  apps/mobile/src/constants/typography-v2.ts
  apps/mobile/src/design-system-v2/index.ts
  apps/mobile/src/features/auth/screens/OnboardingScreenV2.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreenV2.tsx
  apps/mobile/src/hooks/useAnimationsV2.ts
  apps/mobile/src/navigation/transitionsV2.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(mobile): add unified motion physics system
  apps/mobile/src/utils/index.ts
  apps/mobile/src/utils/motion.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js
