Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(qa): production readiness improvements
  apps/mobile/API_KEYS_SETUP.md
  apps/mobile/jest.config.js
  apps/mobile/src/features/payments/hooks/usePaymentMethods.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(a11y): add testIDs to critical interactive components
  apps/mobile/src/components/BottomNav.tsx
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/messages/components/ChatInputBar.tsx
  apps/mobile/src/features/payments/screens/PaymentMethodsScreen.tsx
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(cleanup): implement TODO fixes and code quality improvements
  apps/mobile/src/constants/defaultValues.ts
  apps/mobile/src/features/profile/screens/TrustGardenDetailScreen.tsx
  apps/mobile/src/services/messageService.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: resolve pre-commit hook issues
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
Due: prettier --write

🎯 Production Audit: Blueprint Report + Critical Fixes
  BLUEPRINT_REPORT.md
  apps/mobile/src/utils/production-logger.ts
  supabase/migrations/20251215000000_auto_profile_creation.sql
  supabase/seed-production-ready.sql
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Fix All BLOCKERS & CRITICAL Issues - Production Ready
  apps/mobile/src/config/env.config.ts
  apps/mobile/tsconfig.json
  supabase/README_SCHEMA.md
  supabase/SEED_DATA_VALIDATION.md
  supabase/config.toml
  supabase/functions/verify-kyc/index.ts
  supabase/schema.sql.backup
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🎯 Complete Remaining Tasks - 100% Production Ready
  PRODUCTION_PREFLIGHT_CHECKLIST.md
  STORE_ASSETS_GUIDE.md
  apps/mobile/tsconfig.json
Due: prettier --write

🧹 GitHub Cleanup: Remove backup files & optimize .gitignore
  .gitignore
  apps/mobile/src/components/__tests__/CachedImage.test.tsx.backup
  apps/mobile/src/features/payments/screens/PaymentMethodsScreen.backup.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Supabase & Infisical Setup - Production Ready
  INFISICAL_SETUP_GUIDE.md
  SUPABASE_DEPLOYMENT_GUIDE.md
  apps/mobile/.env.example
  scripts/README.md
  scripts/setup-supabase.sh
  scripts/verify-supabase.sh
  supabase/config.toml
Due: prettier --write

📊 Session Summary - Complete Infrastructure Setup
  SESSION_SUMMARY_2025-12-15.md
Due: prettier --write

📖 Manuel Kurulum Rehberi - Adım Adım Deployment
  MANUEL_KURULUM_ADIMLARI.md
Due: prettier --write

🤖 Otomatik Deployment Sistemi - 3 Yöntem!
  .github/workflows/deploy-supabase.yml
  HEMEN_DEPLOY_ET.md
  supabase/migrations/combined-migrations.sql
Due: prettier --write

🔐 Infisical Entegrasyonu - GitHub Actions
  .github/workflows/deploy-supabase.yml
  INFISICAL_vs_GITHUB_SECRETS.md
Due: prettier --write

🔧 Fix ESLint errors in job-queue service
  services/job-queue/src/index.ts
  services/job-queue/src/workers/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🧹 Fix unused variable warnings
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/messages/hooks/useChatScreen.ts
  apps/mobile/src/features/messages/screens/ArchivedChatsScreen.tsx
  apps/mobile/src/features/payments/screens/GiftInboxDetailScreen.tsx
  apps/mobile/src/features/payments/screens/RefundRequestScreen.tsx
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProofFlowScreen.tsx
  apps/mobile/src/features/profile/screens/ShareMomentScreen.tsx
  apps/mobile/src/features/settings/screens/AppSettingsScreen.tsx
  apps/mobile/src/features/settings/screens/BlockedUsersScreen.tsx
  apps/mobile/src/features/settings/screens/ConnectedAccountsScreen.tsx
  apps/mobile/src/features/settings/screens/DataPrivacyScreen.tsx
  apps/mobile/src/features/settings/screens/HiddenItemsScreen.tsx
  apps/mobile/src/features/settings/screens/SecurityScreen.tsx
  apps/mobile/src/features/settings/screens/SupportScreen.tsx
  apps/mobile/src/services/offlineCache.ts
  apps/mobile/src/services/paymentService.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Relax ESLint rules for production readiness
  apps/mobile/.eslintrc.js
Due: eslint --fix --max-warnings=0, prettier --write

🔧 Fix react-hooks/exhaustive-deps warnings
  apps/mobile/.eslintrc.js
  apps/mobile/src/components/AccessibleVideoPlayer.tsx
  apps/mobile/src/components/CachedImage.tsx
  apps/mobile/src/components/discover/StoryViewer.tsx
  apps/mobile/src/components/skeletons/index.tsx
  apps/mobile/src/components/ui/AnimatedButton.tsx
  apps/mobile/src/features/messages/hooks/useChatScreen.ts
  apps/mobile/src/features/messages/screens/ArchivedChatsScreen.tsx
  apps/mobile/src/features/payments/hooks/useGiftInbox.ts
  apps/mobile/src/features/payments/kyc/KYCReviewScreen.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/DeletedMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/EditMomentScreen.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
  apps/mobile/src/features/profile/screens/ShareMomentScreen.tsx
  apps/mobile/src/features/settings/screens/DataPrivacyScreen.tsx
  apps/mobile/src/hooks/useMessages.ts
  apps/mobile/src/hooks/useMoments.ts
  apps/mobile/src/hooks/useSubscription.ts
  apps/mobile/src/services/analytics-sdk.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Fix inline styles in WelcomeScreen and MessagesScreen
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✨ Fix all ESLint warnings - 0 errors, 0 warnings!
  apps/mobile/.eslintrc.js
  apps/mobile/src/components/ErrorState.stories.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/hooks/useSubscription.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf: optimize requests table RLS policy with auth_user_id()
  supabase/migrations/20251215000001_optimize_requests_rls.sql
Due: none

refactor: remove duplicate Database types, use auto-generated types
  apps/mobile/src/config/supabase.ts
  apps/mobile/src/services/supabase.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: enable remote logging in production builds
  apps/mobile/src/utils/logger.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test: fix component exports and skip flaky timer tests
  apps/mobile/src/__tests__/testUtils.tsx
  apps/mobile/src/components/discover/cards/MomentGridCard.tsx
  apps/mobile/src/components/discover/cards/MomentSingleCard.tsx
  apps/mobile/src/components/profile/StatsRow.tsx
  apps/mobile/src/components/profile/__tests__/StatsRow.test.tsx
  apps/mobile/src/components/profile/__tests__/__snapshots__/StatsRow.test.tsx.snap
  apps/mobile/src/services/__tests__/paymentService.cancellation.test.ts
  apps/mobile/src/services/__tests__/paymentService.webhook.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🧹 Production cleanup: Remove unused services & add Claude verify-proof
  .env.example
  .github/workflows/_disabled/device-farm-tests.yml
  .github/workflows/_disabled/e2e-detox.yml
  .github/workflows/_disabled/e2e-tests.yml
  .github/workflows/_disabled/ui-e2e-tests.yml
  .github/workflows/_disabled/visual-regression.yml
  apps/mobile/package.json
  apps/mobile/src/services/infisicalService.ts
  pnpm-lock.yaml
  poc/graphql/README.md
  poc/graphql/package.json
  poc/graphql/src/loaders/index.ts
  poc/graphql/src/resolvers/index.ts
  poc/graphql/src/schema/schema.graphql
  poc/graphql/src/server.ts
  poc/multi-region/README.md
  poc/multi-region/package.json
  poc/multi-region/src/index.ts
  poc/multi-region/src/tests/replication-lag.ts
  supabase/functions/transcribe-video/index.ts
  supabase/functions/verify-proof/index.ts
  supabase/functions/video-processing/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🗄️ Supabase cleanup: Remove unused video infra & placeholder migrations
  supabase/config.toml
  supabase/migrations/20251207000000_file_upload_validation.sql
  supabase/migrations/20251209000006_ai_ml_services.sql
  supabase/migrations/20251209000007_engagement_analytics.sql
  supabase/migrations/20251209000008_event_tracking.sql
  supabase/migrations/20251209000009_video_soc2.sql
  supabase/migrations/20251209000010_video_infrastructure.sql
  supabase/migrations/20251209000011_comprehensive_index_strategy.sql
  supabase/migrations/20251209000012_create_audit_logs_table.sql
  supabase/migrations/20251209000014_database_optimizations.sql
  supabase/migrations/20251209000015_gdpr_compliance.sql
  supabase/migrations/20251209000016_materialized_views.sql
  supabase/migrations/20251209000017_moments_indexing.sql
  supabase/migrations/20251209000018_soft_delete_implementation.sql
  supabase/migrations/20251209000019_unused_index_cleanup.sql
  supabase/migrations/20251212100000_atomic_transfer_rpc.sql
  supabase/migrations/20251216000000_enable_realtime_chat.sql
  supabase/migrations/20251216000001_cleanup_video_infrastructure.sql
  supabase/migrations/combined-migrations.sql
Due: none

🧹 Remove unused services & components
  .turbo/cache/d8e8f122bba6f8a2-meta.json
  .turbo/cache/d8e8f122bba6f8a2.tar.zst
  .turbo/cookies/10.cookie
  .turbo/cookies/11.cookie
  .turbo/cookies/12.cookie
  .turbo/cookies/13.cookie
  .turbo/cookies/14.cookie
  .turbo/cookies/15.cookie
  .turbo/cookies/16.cookie
  .turbo/cookies/17.cookie
  .turbo/cookies/18.cookie
  .turbo/cookies/19.cookie
  .turbo/cookies/20.cookie
  .turbo/cookies/21.cookie
  .turbo/cookies/5.cookie
  .turbo/cookies/6.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  .turbo/daemon/a9af5680e9df5a0e-turbo.log.2025-12-15
  apps/mobile/App.tsx
  apps/mobile/src/components/AnalyticsDashboard.tsx
  apps/mobile/src/components/SocialEngagementComponents.tsx
  apps/mobile/src/components/VideoComponents.tsx
  apps/mobile/src/services/advanced-analytics.ts
  apps/mobile/src/services/analytics-sdk.ts
  apps/mobile/src/services/event-tracking.ts
  apps/mobile/src/services/supabaseDbService.ts
  apps/mobile/src/services/userService.ts
  apps/mobile/src/services/video-infrastructure.ts
  apps/mobile/src/services/video-service.ts
  apps/mobile/src/services/viral-loop-engine.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 TestFlight pre-flight fixes
  apps/mobile/tsconfig.json
Due: prettier --write

🔧 Final security audit fixes & test configuration improvements
  apps/mobile/babel.config.js
  apps/mobile/src/features/messages/screens/ChatScreen.backup.tsx
  tests/performance/benchmarks.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Adjust pre-push hooks - warning mode for known type issues
  .husky/pre-push
  .turbo/cookies/5.cookie
  .turbo/cookies/6.cookie
Due: none

⚡ Performance & Accessibility: Critical Production Optimizations
  apps/mobile/app.config.ts
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/ui/Button.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

💎 UX Polish: User-Friendly Error Messages & Haptic Feedback
  apps/mobile/src/components/ReportModal.tsx
  apps/mobile/src/components/ShareMomentBottomSheet.tsx
  apps/mobile/src/components/createMoment/DetailsSection.tsx
  apps/mobile/src/features/auth/RegisterScreen.tsx
  apps/mobile/src/features/auth/TwoFactorSetupScreen.tsx
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🖼️ Visual Performance: Expo Image + Premium Transitions
  apps/mobile/package.json
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/discover/StoryItem.tsx
  apps/mobile/src/components/discover/cards/MomentGridCard.tsx
  apps/mobile/src/components/discover/cards/MomentSingleCard.tsx
  apps/mobile/src/components/ui/OptimizedImage.tsx
  apps/mobile/src/components/ui/index.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📊 Analytics: PostHog Integration + Performance Tracking
  apps/mobile/.env.example
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/ui/OptimizedImage.tsx
  apps/mobile/src/services/analytics.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🎨 Image Optimization: BlurHash + Cloudflare Integration
  docs/BLURHASH_CLOUDFLARE_INTEGRATION.md
  supabase/functions/_shared/blurhash.ts
  supabase/functions/upload-image/index.ts
  supabase/migrations/20251217000000_add_blurhash_support.sql
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📚 Phase 5 (Final): BlurHash Integration + Quick Start Guide
  apps/mobile/src/types/api.ts
  apps/mobile/src/utils/cloudflareImageHelpers.ts
  docs/QUICK_START_PRODUCTION_OPTIMIZATIONS.md
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix --max-warnings=0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
