Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore: add release checklist and linter fix migrations
  supabase/RELEASE_CHECKLIST.md
  supabase/migrations/20260127000000_fix_linter_jan2026.sql
  supabase/migrations/20260127000001_fix_rls_initplan_performance.sql
Due: prettier --write

feat(admin): Complete admin security and compliance enhancements
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  apps/admin/src/app/(dashboard)/moderation/page.tsx
  apps/admin/src/app/api/forensic/export/route.ts
  apps/admin/src/app/api/gdpr/requests/route.ts
  apps/admin/src/lib/ai-service.ts
  apps/admin/src/lib/auth.ts
  supabase/migrations/20260130000010_gdpr_requests_and_session_security.sql
Due: eslint --fix, prettier --write

fix: fix TypeScript error - unknown to ReactNode type
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

fix: fix all TypeScript unknown to ReactNode type errors
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

fix: make env validation conditional for local builds
  apps/admin/next.config.js
Due: none

fix: cast update object to any for Supabase type compatibility
  apps/admin/src/app/(dashboard)/moderation/page.tsx
Due: eslint --fix, prettier --write

chore: audit fixes - lint rules, type fixes, cleanup
  eslint.config.mjs
Due: none

fix: restore Turkish translations and fix button text
  apps/web/src/data/content.ts
Due: eslint --fix, prettier --write

fix: restore proper Turkish characters in translations
  apps/web/src/data/content.ts
Due: eslint --fix, prettier --write

restore: revert to original translations and punchlines (cab2e28b)
  apps/web/src/app/page.tsx
  apps/web/src/data/content.ts
Due: eslint --fix, prettier --write

fix(admin): resolve Vercel build failures
  apps/admin/next.config.js
  apps/admin/src/app/api/gdpr/requests/route.ts
Due: eslint --fix, prettier --write

fix(admin): improve env validation logic for Vercel
  apps/admin/next.config.js
Due: none
