Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 CRITICAL FIX: BlurHash Real Implementation + Complete Audit
  apps/mobile/src/types/api.ts
  docs/EKSIKLER_VE_YAPMALISIN.md
  supabase/functions/_shared/blurhash.ts
  supabase/migrations/20251217000000_add_blurhash_support.sql
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔍 Production Audit + Critical Fixes: BlurHash Integration Complete
  SUPABASE_AUDIT_REPORT.md
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/discover/StoryItem.tsx
  apps/mobile/src/components/discover/cards/MomentGridCard.tsx
  apps/mobile/src/components/discover/cards/MomentSingleCard.tsx
  apps/mobile/src/features/profile/services/profileApi.ts
  apps/mobile/src/services/db/queries.ts
  supabase/migrations/20251217000001_create_proof_verifications.sql
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🚀 PRODUCTION-READY: Complete Platform Optimization
  supabase/functions/_shared/errorHandler.ts
  supabase/functions/_shared/security-middleware.ts
  supabase/functions/auth-login/index.ts
  supabase/functions/confirm-payment/index.ts
  supabase/functions/create-payment-intent/index.ts
  supabase/functions/create-payment/index.ts
  supabase/functions/export-user-data/index.ts
  supabase/functions/get-user-profile/index.ts
  supabase/functions/setup-2fa/index.ts
  supabase/functions/transfer-funds/index.ts
  supabase/functions/verify-2fa/index.ts
  supabase/functions/verify-proof/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📝 Add comprehensive PR instructions
  PR_INSTRUCTIONS.md
Due: prettier --write

📋 A++ WORLD-CLASS PLATFORM ROADMAP
  A++_ROADMAP.md
Due: prettier --write

⚡ Week 1-2: Performance Optimization - Component Memoization
  WEEK_1-2_PERFORMANCE_OPTIMIZATIONS.md
  apps/mobile/src/components/CardListItem.tsx
  apps/mobile/src/components/WalletListItem.tsx
  apps/mobile/src/components/discover/StoryItem.tsx
  apps/mobile/src/components/payment/CardItem.tsx
  apps/mobile/src/components/payment/WalletItem.tsx
  apps/mobile/src/services/messageService.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Week 1-2: Sentry Source Maps Configuration
  SENTRY_SOURCE_MAPS_SETUP.md
  apps/mobile/app.config.ts
  apps/mobile/eas.json
  apps/mobile/src/config/sentry.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

⚡ Week 1-2: Additional Component Optimizations + Completion Summary
  A++_PLATFORM_TRANSFORMATION_WEEK_1-2_COMPLETE.md
  apps/mobile/src/components/ConfirmGiftModal.tsx
  apps/mobile/src/components/SocialButton.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

⚡ Week 1-2: Additional Component Optimizations (3 components)
  apps/mobile/src/components/ErrorState.tsx
  apps/mobile/src/components/GiftInboxCard.tsx
  apps/mobile/src/components/NotificationCard.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

⚡ Week 1-2: Form & Loading Component Optimizations
  apps/mobile/src/components/LoadingState.tsx
  apps/mobile/src/components/ui/PasswordInput.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

⚡ Week 1-2: Core UI Component Optimizations - 20+ TARGET REACHED
  apps/mobile/src/components/BottomNav.tsx
  apps/mobile/src/components/FilterBottomSheet.tsx
  apps/mobile/src/components/ui/Badge.tsx
  apps/mobile/src/components/ui/Button.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📋 Week 1-2: Complete Optimization Summary - 20+ Components
  WEEK_1-2_OPTIMIZATION_COMPLETE.md
Due: prettier --write

📦 Week 3-4: Bundle Size Analysis + axios Replacement (-45 KB)
  WEEK_3-4_BUNDLE_SIZE_ANALYSIS.md
  apps/mobile/src/hooks/useImageUpload.ts
  apps/mobile/src/utils/uploadWithProgress.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

⚡ Week 3: Quick Wins Complete - Metro Minification (-15-20%)
  WEEK_3_QUICK_WINS_COMPLETE.md
  apps/mobile/METRO_OPTIMIZATION_GUIDE.md
  apps/mobile/metro.config.js
Due: eslint --fix, prettier --write

🗺️ Week 4: Lazy Load Maps (-3-5 MB) - CRITICAL OPTIMIZATION
  apps/mobile/LAZY_LOADING_MAPS_GUIDE.md
  apps/mobile/src/components/LazyLocationPicker.tsx
  apps/mobile/src/components/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📋 A++ Platform Transformation - COMPLETE SUMMARY
  A++_PLATFORM_TRANSFORMATION_COMPLETE.md
Due: prettier --write

🔬 FORENSIC CODE AUDIT: Critical Security Fixes & Comprehensive Report
  FORENSIC_AUDIT_REPORT_2025.md
  supabase/migrations/20251217100000_critical_security_fixes.sql
Due: prettier --write

📋 Revised Audit Report v2 + Production Launch Roadmap
  FORENSIC_AUDIT_REPORT_2025.md
  FORENSIC_AUDIT_REPORT_2025_v2.md
  LAUNCH_ROADMAP.md
Due: prettier --write

chore: replace old supabase project ref with bjikxgtbptrvawkguypv
  .env.oauth.example
  FINAL_AUDIT_BLUEPRINT_2025-12-15.md
  SESSION_SUMMARY_2025-12-15.md
  SUPABASE_DEPLOYMENT_GUIDE.md
  apps/mobile/src/config/supabase.ts
  apps/mobile/src/types/database.types.ts
  docs/CI_SECRETS_CHECKLIST.md
  docs/DB_ACTION_ITEMS.md
  docs/DB_OPTIMIZATION_SUMMARY.md
  docs/DB_PENDING_ITEMS.md
  docs/DEPLOYMENT_COMPLETE.md
  docs/ENVIRONMENT_SECURITY.md
  docs/GITHUB_SECRETS_SETUP.md
  docs/INFRASTRUCTURE_CLEANUP_COMPLETE.md
  docs/OAUTH_SETUP_GUIDE.md
  docs/QUICKSTART_INFRASTRUCTURE.md
  scripts/add-github-secrets.sh
  scripts/generate-db-types.sh
  scripts/monitor-edge-functions.sh
  scripts/setup-github-secrets.sh
  scripts/supabase-secrets-helper.sh
  scripts/test-api-v1.ts
  scripts/test-edge-functions.sh
  services/.env.example
  supabase/.temp/pooler-url
  supabase/.temp/project-ref
  supabase/config.toml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: update turbo cache
  .turbo/cache/12bba75548a837ab-meta.json
  .turbo/cache/12bba75548a837ab.tar.zst
  .turbo/cache/662953bb18e30671-meta.json
  .turbo/cache/662953bb18e30671.tar.zst
  .turbo/cookies/10.cookie
  .turbo/cookies/11.cookie
  .turbo/cookies/12.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  .turbo/daemon/a9af5680e9df5a0e-turbo.log.2025-12-17
Due: prettier --write

fix: update Deno imports for Edge Functions compatibility
  .turbo/cookies/10.cookie
  .turbo/cookies/11.cookie
  .turbo/cookies/12.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  scripts/migrate-production.sh
  scripts/run-migrations.sh
  scripts/setup-production-db.mjs
  supabase/.temp/cli-latest
  supabase/functions/_shared/blurhash.ts
  supabase/functions/verify-kyc/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔒 DEFCON 1 Security Fixes: RLS + Rate Limiting
  supabase/functions/handle-storage-upload/index.ts
  supabase/functions/verify-proof/index.ts
  supabase/migrations/20251217100001_fix_rls_security_holes.sql
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔒 Security: Remove .env.docker from git, placeholder .env.example
  .env.docker
  .turbo/cookies/17.cookie
  .turbo/cookies/18.cookie
  .turbo/cookies/19.cookie
  .turbo/cookies/20.cookie
  apps/mobile/.env.example
Due: none

🔒 DEFCON 1+2 Linter Fixes: Security + Performance
  .turbo/cache/78775fc4dc38968d-meta.json
  .turbo/cache/78775fc4dc38968d.tar.zst
  .turbo/cache/8dd36f60ea52c642-meta.json
  .turbo/cache/8dd36f60ea52c642.tar.zst
  .turbo/cookies/21.cookie
  .turbo/cookies/22.cookie
  .turbo/cookies/23.cookie
  .turbo/cookies/24.cookie
  .turbo/cookies/25.cookie
  .turbo/cookies/26.cookie
  supabase/migrations/20251218000000_fix_lints.sql
Due: prettier --write

docs: Update spatial_ref_sys migration with privilege revoke approach
  .turbo/cookies/27.cookie
  .turbo/cookies/28.cookie
  .turbo/cookies/29.cookie
  .turbo/cookies/30.cookie
  .turbo/cookies/31.cookie
  .turbo/cookies/32.cookie
  supabase/migrations/20251218000000_fix_lints.sql
Due: none

🔒 Complete PLATINUM FIX Migration v2
  .turbo/cookies/33.cookie
  .turbo/cookies/34.cookie
  .turbo/cookies/35.cookie
  .turbo/cookies/36.cookie
  supabase/migrations/20251218000000_fix_lints.sql
Due: none

🔒 Add reports/favorites SELECT policy optimizations
  .turbo/cookies/37.cookie
  .turbo/cookies/38.cookie
  .turbo/cookies/39.cookie
  .turbo/cookies/40.cookie
  supabase/migrations/20251218000000_fix_lints.sql
Due: none

🔒 FINAL SECURITY AUDIT: Complete RLS InitPlan Optimization
  .turbo/cookies/41.cookie
  .turbo/cookies/42.cookie
  .turbo/cookies/43.cookie
  .turbo/cookies/44.cookie
  supabase/migrations/20251218100000_final_security_audit.sql
Due: none

🔒 Complete RLS Linter Fix: INSERT policies + Multiple permissive consolidation
  .turbo/cookies/45.cookie
  .turbo/cookies/46.cookie
  .turbo/cookies/47.cookie
  .turbo/cookies/48.cookie
  supabase/migrations/20251218100000_final_security_audit.sql
Due: none

🔧 Fix rate_limit_config multiple permissive SELECT policies
  .turbo/cookies/49.cookie
  .turbo/cookies/50.cookie
  .turbo/cookies/51.cookie
  .turbo/cookies/52.cookie
  supabase/migrations/20251218100000_final_security_audit.sql
Due: none

🏥 Health Check Fixes: Escrow, Cleanup, Storage, Indexes
  .turbo/cookies/53.cookie
  .turbo/cookies/54.cookie
  .turbo/cookies/55.cookie
  .turbo/cookies/56.cookie
  supabase/migrations/20251218120000_health_check_fixes.sql
Due: none

🔄 Final Critical Fixes: Junction Sync + Edge Function Optimization
  .turbo/cookies/57.cookie
  .turbo/cookies/58.cookie
  .turbo/cookies/59.cookie
  .turbo/cookies/60.cookie
  supabase/migrations/20251218130000_final_critical_fixes.sql
Due: none

🧹 Cleanup: Remove duplicate indexes
  .turbo/cookies/61.cookie
  .turbo/cookies/62.cookie
  .turbo/cookies/63.cookie
  .turbo/cookies/64.cookie
  supabase/migrations/20251218140000_cleanup_duplicate_indexes.sql
Due: none

🔒 Security: Convert 2 functions to SECURITY INVOKER
  .turbo/cookies/65.cookie
  .turbo/cookies/66.cookie
  .turbo/cookies/67.cookie
  .turbo/cookies/68.cookie
  supabase/migrations/20251218150000_security_definer_audit.sql
Due: none

🔧 Linter Fixes: Duplicate index + SECURITY DEFINER view
  .turbo/cookies/69.cookie
  .turbo/cookies/70.cookie
  .turbo/cookies/71.cookie
  .turbo/cookies/72.cookie
  supabase/migrations/20251218160000_linter_fixes.sql
Due: none

A+ Supabase Structure: Shared utilities, tests, scripts, and documentation
  .lintstagedrc.json
  .turbo/cookies/73.cookie
  .turbo/cookies/74.cookie
  .turbo/cookies/75.cookie
  .turbo/cookies/76.cookie
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  supabase/.env.example
  supabase/README.md
  supabase/functions/_shared/database.ts
  supabase/functions/_shared/logger.ts
  supabase/functions/_shared/mod.ts
  supabase/functions/_shared/responses.ts
  supabase/functions/_shared/supabase.ts
  supabase/functions/_shared/test-utils.ts
  supabase/functions/_shared/types.ts
  supabase/functions/_shared/validation.ts
  supabase/functions/deno.json
  supabase/scripts/deploy.sh
  supabase/scripts/health-check.sh
  supabase/tests/responses.test.ts
  supabase/tests/validation.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: handle-storage-upload error type safety + remove console logs
  supabase/functions/handle-storage-upload/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

config: Exclude supabase/functions from console.log check
  .husky/pre-commit
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
