Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(admin): Add comprehensive audit report and critical security fixes
  apps/admin/ADMIN_DASHBOARD_AUDIT_REPORT.md
  apps/admin/src/app/(dashboard)/moderation/page.tsx
  apps/admin/src/app/api/auth/verify-2fa/route.ts
  apps/admin/src/app/api/finance/route.ts
  apps/admin/src/lib/rate-limit.ts
Due: eslint --fix, prettier --write

docs(admin): Add comprehensive integration status report
  apps/admin/INTEGRATION_STATUS_REPORT.md
Due: prettier --write

feat(admin): Implement critical P0/P1 fixes from audit report
  .github/workflows/production-deploy.yml
  apps/admin/src/app/api/alerts/[alertId]/acknowledge/route.ts
  apps/admin/src/app/api/alerts/[alertId]/resolve/route.ts
  apps/admin/src/app/api/alerts/active/route.ts
  apps/admin/src/app/api/alerts/history/route.ts
  apps/admin/src/app/api/alerts/rules/[ruleId]/route.ts
  apps/admin/src/app/api/alerts/rules/route.ts
  apps/admin/src/hooks/use-alerts.ts
  packages/shared/src/utils/email-validation.ts
  services/job-queue/src/webhooks.ts
  supabase/functions/sendgrid-webhook/index.ts
  supabase/migrations/20260114000001_create_email_logs.sql
  supabase/migrations/20260114000002_create_alerts_system.sql
Due: eslint --fix, prettier --write

docs: Add comprehensive mobile app audit report
  docs/MOBILE_AUDIT_REPORT.md
Due: prettier --write

fix(mobile): Implement audit report P1/P2 fixes
  apps/mobile/src/config/sentry.ts
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/features/auth/screens/SplashScreen.tsx
  apps/mobile/src/features/discover/screens/DiscoverScreen.tsx
  apps/mobile/src/services/biometricAuth.ts
  apps/mobile/src/utils/accessibility.ts
  apps/mobile/src/utils/cloudflareImageHelpers.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(admin): Complete P2 fixes - replace Stripe with PayTR, add user detail APIs
  apps/admin/src/app/api/escrow/stats/route.ts
  apps/admin/src/app/api/users/[id]/activity/route.ts
  apps/admin/src/app/api/users/[id]/moments/route.ts
  apps/admin/src/app/api/users/[id]/reports/route.ts
  apps/admin/src/app/api/users/[id]/transactions/route.ts
  apps/admin/src/hooks/use-escrow.ts
  apps/admin/src/lib/integrations.ts
  apps/mobile/src/hooks/useFeatureFlags.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(admin): Final closing pass - security and UX fixes
  apps/admin/middleware.ts
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/components/canva/CanvaCard.tsx
Due: eslint --fix, prettier --write

chore(admin): Update next-env.d.ts auto-generated file
  apps/admin/next-env.d.ts
Due: eslint --fix, prettier --write

fix(admin): Critical security and audit log fixes
  apps/admin/src/app/api/feature-flags/route.ts
  apps/admin/src/app/api/promos/route.ts
  apps/admin/src/lib/permissions.ts
  apps/admin/src/types/admin.ts
Due: eslint --fix, prettier --write

fix(security): Add auth checks to 10 unprotected admin API routes (P0)
  apps/admin/src/app/api/analytics/route.ts
  apps/admin/src/app/api/campaigns/route.ts
  apps/admin/src/app/api/dashboard/route.ts
  apps/admin/src/app/api/feature-flags/route.ts
  apps/admin/src/app/api/finance/route.ts
  apps/admin/src/app/api/queue/route.ts
  apps/admin/src/app/api/reports/[id]/route.ts
  apps/admin/src/app/api/reports/route.ts
  apps/admin/src/app/api/revenue/route.ts
  apps/admin/src/app/api/support/route.ts
Due: eslint --fix, prettier --write

fix(admin): P2 improvements - disable placeholder buttons and add dev banners
  apps/admin/src/app/(dashboard)/ceremony-management/page.tsx
  apps/admin/src/app/(dashboard)/compliance/page.tsx
  apps/admin/src/app/(dashboard)/creators/page.tsx
  apps/admin/src/app/(dashboard)/finance/page.tsx
  apps/admin/src/app/(dashboard)/geographic/page.tsx
  apps/admin/src/app/(dashboard)/promos/page.tsx
Due: eslint --fix, prettier --write

feat: Add stabilization features (SAFE MODE)
  apps/admin/src/app/(dashboard)/integration-health/page.tsx
  apps/admin/src/app/(dashboard)/ops-dashboard/page.tsx
  apps/admin/src/app/(dashboard)/triage/page.tsx
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/lib/audit.ts
  apps/admin/src/lib/integration-health.ts
  apps/mobile/src/features/discover/screens/EscrowStatusScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  docs/ADMIN_STABILITY_REPORT.md
  docs/CHANGELOG_SAFE.md
  docs/FEATURE_FLAGS.md
  docs/MOBILE_STABILITY_REPORT.md
  docs/SUPABASE_PROOF.md
  supabase/migrations/20260114000000_add_triage_and_integration_health.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(admin): Add Super Admin Mode extension to executive dashboards
  apps/admin/src/app/(dashboard)/ceo-briefing/page.tsx
  apps/admin/src/app/(dashboard)/command-center/page.tsx
Due: eslint --fix, prettier --write

feat(admin): Add Founder Decision Loop (SAFE MODE)
  apps/admin/src/app/(dashboard)/ceo-briefing/page.tsx
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/api/founder-decisions/route.ts
  apps/admin/src/config/founder-config.ts
  apps/admin/src/hooks/use-founder-decisions.ts
  docs/DECISION_LOOP_VERIFY.md
  docs/FOUNDER_DECISION_LOOP.md
  supabase/migrations/20260114000001_add_founder_decision_log.sql
Due: eslint --fix, prettier --write

refactor(admin): Enhance Founder Decision Loop with ENV-based flags
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/api/founder-decisions/route.ts
  apps/admin/src/config/founder-config.ts
  apps/admin/src/hooks/use-founder-decisions.ts
  docs/DECISION_LOOP_VERIFY.md
  docs/FOUNDER_DECISION_LOOP.md
Due: eslint --fix, prettier --write

security(admin): Implement two-layer flag model for Decision Loop
  apps/admin/src/config/founder-config.ts
  docs/DECISION_LOOP_VERIFY.md
  docs/FOUNDER_DECISION_LOOP.md
Due: eslint --fix, prettier --write

feat(admin): Add Founder Alert Routing (SAFE MODE)
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/api/founder-alerts/route.ts
  apps/admin/src/config/founder-alerts.ts
  apps/admin/src/hooks/use-founder-alerts.ts
  docs/ALERT_ROUTING_VERIFY.md
  docs/FOUNDER_ALERT_ROUTING.md
Due: eslint --fix, prettier --write

feat(admin): Add noise control and actionable links to Alert Routing
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/api/founder-alerts/route.ts
  apps/admin/src/config/founder-alerts.ts
  apps/admin/src/hooks/use-founder-alerts.ts
  docs/ALERT_ROUTING_VERIFY.md
  docs/FOUNDER_ALERT_ROUTING.md
Due: eslint --fix, prettier --write

feat(mobile): Add Mobile Diagnostics (SAFE MODE)
  apps/mobile/src/config/diagnostics.ts
  apps/mobile/src/features/settings/index.ts
  apps/mobile/src/features/settings/screens/AppSettingsScreen.tsx
  apps/mobile/src/features/settings/screens/DiagnosticsScreen.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/routeParams.ts
  apps/mobile/src/utils/diagnosticsLogger.ts
  docs/MOBILE_DIAGNOSTICS.md
  docs/MOBILE_DIAGNOSTICS_VERIFY.md
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(admin): Add Mobile Health Inbox (NO-NETWORK)
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/components/founder/MobileHealthInbox.tsx
  apps/admin/src/config/mobile-health-inbox.ts
  docs/MOBILE_HEALTH_INBOX.md
Due: eslint --fix, prettier --write

fix(admin): Add missing hooks for build compatibility
  apps/admin/src/hooks/use-debounce.ts
  apps/admin/src/hooks/use-toast.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
