Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(admin): check session from API on dashboard load
  apps/admin/src/app/(auth)/login/page.tsx
  apps/admin/src/components/layout/dashboard-shell.tsx
Due: eslint --fix, prettier --write

fix(admin): improve empty state message for queue page
  apps/admin/src/app/(dashboard)/queue/page.tsx
Due: eslint --fix, prettier --write

fix(admin): add error handling for session insert
  apps/admin/src/app/api/auth/login/route.ts
Due: eslint --fix, prettier --write

fix(admin): API route fixes and sidebar permissions
  apps/admin/next-env.d.ts
  apps/admin/src/app/api/auth/login/route.ts
  apps/admin/src/app/api/disputes/route.ts
  apps/admin/src/app/api/kyc/route.ts
  apps/admin/src/app/api/referrals/route.ts
  apps/admin/src/app/api/users/route.ts
  apps/admin/src/app/api/vip-users/route.ts
  apps/admin/src/components/layout/dashboard-shell.tsx
  apps/admin/src/components/layout/sidebar.tsx
  apps/mobile/ios/TravelMatch.xcodeproj/project.pbxproj
  apps/mobile/src/features/verifications/components/MomentAuthenticator.tsx
  apps/mobile/src/features/verifications/components/ProofCeremonyFlow.tsx
  apps/mobile/src/features/verifications/components/__tests__/MomentAuthenticator.test.tsx
  apps/mobile/src/features/verifications/components/__tests__/ProofCeremonyFlow.test.tsx
  apps/mobile/src/features/verifications/components/index.ts
  apps/mobile/src/features/verifications/index.ts
  apps/mobile/src/hooks/useAI.ts
  apps/mobile/src/hooks/useComplianceCheck.ts
  apps/mobile/src/services/aiService.ts
  apps/mobile/src/services/complianceService.ts
  apps/mobile/src/services/index.ts
  apps/mobile/src/services/notificationService.ts
  apps/mobile/src/utils/BaseService.ts
  scripts/check-db-schema.ts
  scripts/check-sessions.ts
  scripts/cleanup-admin-users.ts
  scripts/cleanup-users.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore(deps): update @types/node and dependencies
  apps/admin/package.json
  apps/web/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  services/job-queue/package.json
  services/payment/package.json
  supabase/.temp/cli-latest
Due: prettier --write

chore: simplify dependabot config to reduce PR noise
  .github/dependabot.yml
Due: prettier --write

chore: upgrade pnpm to v10.28.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(mobile): resolve TypeScript errors in ProofCeremonyFlow
  apps/mobile/src/features/discover/components/ceremony/index.ts
  apps/mobile/src/features/verifications/components/ProofCeremonyFlow.tsx
  apps/mobile/src/features/verifications/components/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve lint warnings and improve husky hook
  .husky/pre-commit
  apps/mobile/src/services/cacheService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

security: update ML dependencies to fix vulnerabilities
  services/ml-service/requirements.txt
Due: none

fix: use stable ML package versions for Snyk compatibility
  services/ml-service/requirements.txt
Due: none

refactor: remove ml-service, add idenfy KYC and proof verification
  packages/shared/src/integrations/idenfy/client.ts
  packages/shared/src/integrations/idenfy/index.ts
  packages/shared/src/services/proof/index.ts
  packages/shared/src/services/proof/verification.ts
  services/ml-service/Dockerfile
  services/ml-service/Dockerfile.gpu
  services/ml-service/README.md
  services/ml-service/app.py
  services/ml-service/app/core/base_model.py
  services/ml-service/app/core/config.py
  services/ml-service/app/core/redis_client.py
  services/ml-service/app/main.py
  services/ml-service/app/models/chatbot.py
  services/ml-service/app/models/forecasting.py
  services/ml-service/app/models/match_scoring.py
  services/ml-service/app/models/offer_analysis.py
  services/ml-service/app/models/price_prediction.py
  services/ml-service/app/models/proof_verification.py
  services/ml-service/app/models/recommendation_engine.py
  services/ml-service/app/models/recommendations.py
  services/ml-service/app/models/seo_hacker.py
  services/ml-service/app/models/smart_notifications.py
  services/ml-service/app/models/turkish_nlp.py
  services/ml-service/pyrightconfig.json
  services/ml-service/requirements-gpu.txt
  services/ml-service/requirements.txt
  services/ml-service/src/api/proof_scoring.py
  services/ml-service/tests/__init__.py
  services/ml-service/tests/test_chatbot.py
  services/ml-service/tests/test_forecasting.py
  services/ml-service/tests/test_price_prediction.py
  services/ml-service/tests/test_proof_verification.py
  services/ml-service/tests/test_recommendation_engine.py
  services/ml-service/tests/test_turkish_nlp.py
Due: eslint --fix, prettier --write

Update web app configuration and content
  .gitignore
  apps/web/.gitignore
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/components/PulseEngine.tsx
  apps/web/src/data/content.ts
  apps/web/vercel.json
  pnpm-lock.yaml
  vercel.json
Due: eslint --fix, prettier --write

feat(web): complete Turkish localization for website
  apps/web/src/app/page.tsx
  apps/web/src/components/PulseEngine.tsx
  apps/web/src/data/content.ts
Due: eslint --fix, prettier --write

fix(web): update Turkish button texts + add admin vercel.json
  apps/admin/vercel.json
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

chore: fix jest environment and resolve lint warnings
  .vscode/settings.json
  apps/mobile/eslint.config.mjs
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.afterEnv.js
  apps/mobile/src/features/discover/screens/DiscoverScreen.tsx
  apps/mobile/src/features/verifications/components/SacredMoments.tsx
  apps/mobile/src/features/verifications/components/__tests__/SacredMoments.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): resolve typescript errors
  apps/mobile/src/features/discover/screens/DiscoverScreen.tsx
  apps/mobile/src/features/verifications/components/SacredMoments.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js
