Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-admin, prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-web, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-packages, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-services, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-scripts, prettier --write --cache

docs: Comprehensive 18-branch merge roadmap with conflict analysis
  BRANCH_ROADMAP.md
Due: prettier --write --cache

fix: Multiple bug fixes and POI search feature
  apps/mobile/src/components/CityAutocomplete.tsx
  apps/mobile/src/components/LocationPickerBottomSheet.tsx
  apps/mobile/src/components/discover/cards/MomentGridCard.tsx
  apps/mobile/src/components/discover/cards/MomentSingleCard.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/types/database-manual.types.ts
  supabase/migrations/20251222210000_add_username_column.sql
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

chore: upgrade to ESLint 9 and Prettier 3
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

fix: production bug fixes for TestFlight build 10
  .gitignore
  apps/mobile/app.config.ts
  apps/mobile/src/components/ChooseCategoryBottomSheet.tsx
  apps/mobile/src/components/LocationPickerBottomSheet.tsx
  apps/mobile/src/config/supabase.ts
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/payments/screens/MyGiftsScreen.tsx
  apps/mobile/src/features/payments/screens/TransactionHistoryScreen.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/hooks/useMoments.ts
  apps/mobile/src/services/supabaseAuthService.ts
  apps/mobile/src/services/supabaseDbService.ts
  apps/mobile/src/services/userService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

fix: correct transaction status type mapping
  apps/mobile/src/features/payments/screens/TransactionHistoryScreen.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

fix: skip postinstall scripts in EAS production build
  apps/mobile/eas.json
Due: prettier --write --cache

fix: add pnpm installCommand to skip postinstall scripts in EAS
  apps/mobile/eas.json
Due: prettier --write --cache

fix: skip postinstall scripts in EAS pre-install hook
  apps/mobile/eas-hooks/eas-build-pre-install.sh
  apps/mobile/eas.json
Due: prettier --write --cache

revert: remove ignore-scripts hack that broke EAS build
  apps/mobile/eas-hooks/eas-build-pre-install.sh
Due: none

docs: add mobile-first implementation roadmap
  MOBILE_FIRST_ROADMAP.md
  README.md
Due: prettier --write --cache

docs: add architecture best practices based on Darius Cosden patterns
  MOBILE_FIRST_ROADMAP.md
  README.md
  docs/ARCHITECTURE_BEST_PRACTICES.md
Due: prettier --write --cache

docs: add Supabase/backend status to mobile roadmap
  MOBILE_FIRST_ROADMAP.md
Due: prettier --write --cache

feat(auth): simplify auth flow - phone OTP only, email link verification
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/features/auth/index.ts
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/auth/screens/VerifyPhoneScreen.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/services/supabaseAuthService.ts
  apps/mobile/src/services/userService.ts
  apps/mobile/src/types/database-manual.types.ts
  apps/mobile/src/utils/forms/schemas.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

fix: upload moment images to storage before saving to database
  apps/mobile/src/hooks/useMoments.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

feat: add gender and date of birth to user registration
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/services/supabaseAuthService.ts
  apps/mobile/src/utils/forms/schemas.ts
  supabase/migrations/20251223000000_add_gender_birthdate_to_profile_trigger.sql
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

docs: comprehensive roadmap update v3.0
  MOBILE_FIRST_ROADMAP.md
Due: prettier --write --cache

docs: create comprehensive MASTER_ROADMAP.md
  MASTER_ROADMAP.md
Due: prettier --write --cache

feat(mobile): implement UI/UX design improvements based on Adrian K guidelines
  apps/mobile/src/components/discover/HomeWelcomeCard.tsx
  apps/mobile/src/components/discover/index.ts
  apps/mobile/src/features/auth/index.ts
  apps/mobile/src/features/auth/screens/SplashScreen.tsx
  apps/mobile/src/features/payments/screens/SubscriptionScreen.tsx
  apps/mobile/src/features/settings/screens/AppSettingsScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

feat(mobile): implement Passport/First Class/Concierge subscription tiers
  apps/mobile/src/features/payments/constants/plans.ts
  apps/mobile/src/features/payments/screens/SubscriptionScreen.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

fix(mobile): update subscription plans with actual TravelMatch features
  apps/mobile/src/features/payments/constants/plans.ts
  apps/mobile/src/features/payments/screens/SubscriptionScreen.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

docs: update roadmap v4.0 - all branches merged
  ADMIN_PANEL_ROADMAP.md
  AUDIT_FIX_BLOCKER_1.sql
  AUDIT_FIX_BLOCKER_1_EdgeFunction.ts
  AUDIT_FIX_BLOCKER_2.sql
  AUDIT_FIX_BLOCKER_3_Backend.sql
  AUDIT_FIX_BLOCKER_3_Frontend.ts
  BRANCH_ROADMAP.md
  MASTER_ROADMAP.md
  ROADMAP.md
  temp_check.sql
Due: prettier --write --cache

fix(mobile): remove non-existent features from subscription plans
  apps/mobile/src/features/payments/constants/plans.ts
  apps/mobile/src/features/payments/screens/SubscriptionScreen.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

chore: organize project structure
  MOBILE_FIRST_ROADMAP.md
  docs/reports/CODE_REVIEW_REPORT.md
  docs/reports/FORENSIC_SECURITY_AUDIT_2025-12-17.md
  docs/reports/PENTEST_REPORT_2025-12-22.md
  docs/reports/SECURITY_AUDIT_REPORT.md
Due: prettier --write --cache

docs: create MASTERPLAN - comprehensive 7-day launch roadmap
  MASTERPLAN.md
  ROADMAP.md
Due: prettier --write --cache

docs: update MASTERPLAN with subscription tiers
  MASTERPLAN.md
Due: prettier --write --cache

docs: fix subscription tier details from actual spec
  MASTERPLAN.md
Due: prettier --write --cache

feat: implement iOS 26.3 design system for gift-moment concept
  apps/mobile/src/components/BottomNav.tsx
  apps/mobile/src/components/GiftButton.tsx
  apps/mobile/src/components/GiftCelebration.tsx
  apps/mobile/src/components/GiftJourneyTimeline.tsx
  apps/mobile/src/components/KYCBadge.tsx
  apps/mobile/src/components/TrustRing.tsx
  apps/mobile/src/components/WishCard.tsx
  apps/mobile/src/components/discover/CategoryChips.tsx
  apps/mobile/src/components/discover/DiscoverHeader.tsx
  apps/mobile/src/components/discover/index.ts
  apps/mobile/src/components/ui/GlassCard.tsx
  apps/mobile/src/components/ui/Skeleton.tsx
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/hooks/useEnterAnimation.ts
  apps/mobile/src/hooks/usePressAnimation.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

fix: resolve TypeScript errors after iOS design merge
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/hooks/usePressAnimation.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

refactor: simplify color palette and improve spacing system
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/constants/spacing.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

refactor: migrate to SPACING semantic tokens and fix color exports
  apps/mobile/src/components/AccessibleVideoPlayer.tsx
  apps/mobile/src/components/ConfirmGiftModal.tsx
  apps/mobile/src/components/ErrorBoundary.tsx
  apps/mobile/src/components/FilterPill.tsx
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/NotificationPermissionModal.tsx
  apps/mobile/src/components/OfflineState.tsx
  apps/mobile/src/components/ShareProofModal.tsx
  apps/mobile/src/components/ThankYouModal.tsx
  apps/mobile/src/components/ui/AdvancedFilterPanel.tsx
  apps/mobile/src/components/ui/EmptyState.tsx
  apps/mobile/src/components/ui/EnhancedLoginForm.tsx
  apps/mobile/src/components/ui/EnhancedSearchBar.tsx
  apps/mobile/src/components/ui/ImagePicker.tsx
  apps/mobile/src/components/ui/LoginForm.tsx
  apps/mobile/src/components/ui/MemoizedMomentCard.tsx
  apps/mobile/src/components/ui/OptimizedListItem.tsx
  apps/mobile/src/components/ui/SortSelector.tsx
  apps/mobile/src/components/ui/Spinner.tsx
  apps/mobile/src/constants/index.ts
  apps/mobile/src/constants/layout.ts
  apps/mobile/src/context/ConfirmationContext.tsx
  apps/mobile/src/context/ToastContext.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

fix: TypeScript errors in auth screens
  apps/mobile/src/features/auth/screens/ChangePasswordScreen.tsx
  apps/mobile/src/features/auth/screens/EmailAuthScreen.tsx
  apps/mobile/src/features/auth/screens/ForgotPasswordScreen.tsx
  apps/mobile/src/features/auth/screens/PhoneAuthScreen.tsx
  apps/mobile/src/hooks/useAuth.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile

refactor: Remove supabase CLI from dependencies
  apps/mobile/app.config.ts
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile, prettier --write --cache

fix: Add sentry.properties with correct EU region URL
  apps/mobile/android/sentry.properties
  apps/mobile/ios/sentry.properties
Due: none

revert: Remove sentry.properties to restore previous working state
  apps/mobile/android/sentry.properties
  apps/mobile/eas.json
  apps/mobile/ios/sentry.properties
Due: prettier --write --cache

fix: Configure Sentry for EU region (de.sentry.io)
  apps/mobile/android/sentry.properties
  apps/mobile/eas.json
  apps/mobile/ios/sentry.properties
Due: prettier --write --cache

fix: Temporarily disable Sentry source map upload
  apps/mobile/eas.json
Due: prettier --write --cache

Path conditions:
  eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-admin: any of: apps/admin/**/*.{ts,tsx}
  prettier --write: (((((any of: apps/admin/**/*.{ts,tsx}) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: packages/**/*.{ts,tsx})) or (any of: services/**/*.{ts,tsx})) or (any of: scripts/**/*.{ts,tsx,js,mjs})
  eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-web: any of: apps/web/**/*.{ts,tsx}
  eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-mobile: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-packages: any of: packages/**/*.{ts,tsx}
  eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-services: any of: services/**/*.{ts,tsx}
  eslint --fix --max-warnings=0 --cache --cache-location .eslintcache-scripts: any of: scripts/**/*.{ts,tsx,js,mjs}
  prettier --write --cache: any of: *.{json,md,yml,yaml}
