Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix: resolve TypeScript errors after compliance branch merge
  apps/mobile/package.json
  apps/mobile/src/components/PriceDisplay.tsx
  apps/mobile/src/components/moment-detail/ContributorSlotsSection.tsx
  apps/mobile/src/components/moment-detail/types.ts
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/context/CurrencyContext.tsx
  apps/mobile/src/features/auth/components/ConsentFlow.tsx
  apps/mobile/src/features/notifications/screens/GestureReceivedScreen.tsx
  apps/mobile/src/features/payments/components/CurrencySelector.tsx
  apps/mobile/src/features/payments/components/ProofRequirementComponents.tsx
  apps/mobile/src/features/payments/screens/GiftInboxDetailScreen.tsx
  apps/mobile/src/features/payments/screens/PayTRWebViewScreen.tsx
  apps/mobile/src/features/payments/screens/UnifiedGiftFlowScreen.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProofFlowScreen.tsx
  apps/mobile/src/features/settings/screens/legal/index.ts
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/hooks/useIdenfyVerification.ts
  apps/mobile/src/services/complianceService.ts
  apps/mobile/src/services/exchangeRateService.ts
  apps/mobile/src/services/trustNotesService.ts
  apps/mobile/src/theme/typography.ts
  apps/mobile/src/types/domain.ts
  apps/mobile/src/utils/currencyFormatter.ts
  apps/mobile/src/utils/imageResize.ts
  packages/design-system/src/tokens/colors.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

docs: add Master Architect Report 2025
  docs/reports/MASTER_ARCHITECT_REPORT_2025.md
Due: prettier --write

refactor: remove Stripe, use PayTR as sole payment provider
  .env.example
  apps/mobile/.env.example
  apps/mobile/src/services/securePaymentService.ts
  docs/reports/MASTER_ARCHITECT_REPORT_2025.md
  services/job-queue/.env.example
  services/payment/package.json
  services/payment/process-payment/index.ts
  services/payment/src/index.ts
  supabase/.env.example
  supabase/functions/confirm-payment/index.ts
  supabase/functions/create-payment-intent/__tests__/index.test.ts
  supabase/functions/create-payment-intent/index.ts
  supabase/functions/create-payment/index.ts
  supabase/functions/payment/README.md
  supabase/functions/payment/confirm-payment.ts
  supabase/functions/payment/create-payment-intent.ts
  supabase/functions/payment/stripe-webhook.ts
  supabase/functions/stripe-create-intent/index.ts
  supabase/functions/stripe-webhook/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(db): resolve migration errors and function column references
  supabase/migrations/20241218000001_admin_panel_tables.sql
  supabase/migrations/20251217100000_critical_security_fixes.sql
  supabase/migrations/20251217100001_fix_rls_security_holes.sql
  supabase/migrations/20251217200000_enable_atomic_transfer.sql
  supabase/migrations/20251229300000_fix_function_column_references.sql
Due: none

fix(mobile): resolve all 26 ESLint warnings
  apps/mobile/src/features/payments/components/ProofRequirementComponents.tsx
  apps/mobile/src/features/payments/screens/ProofReviewScreen.tsx
  apps/mobile/src/features/payments/screens/UnifiedGiftFlowScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

docs: add comprehensive Production Readiness Report 2025-12-29
  docs/reports/PRODUCTION_READINESS_REPORT_2025-12-29.md
Due: prettier --write

docs: add Unified Master Architect Report combining two audits
  docs/reports/MASTER_ARCHITECT_UNIFIED_REPORT_2025-12-29.md
Due: prettier --write

feat: implement production readiness fixes from Master Architect Report
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  apps/admin/src/lib/index.ts
  apps/admin/src/lib/redis.ts
  apps/mobile/src/components/AddCardBottomSheet.tsx
  apps/mobile/src/components/CardOptionsModal.tsx
  apps/mobile/src/components/GiftMomentBottomSheet.tsx
  apps/mobile/src/components/GiftSuccessModal.tsx
  apps/mobile/src/components/__tests__/GiftSuccessModal.test.tsx
  apps/mobile/src/features/auth/components/ConsentFlow.tsx
  apps/mobile/src/features/payments/components/CurrencySelector.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/hooks/useIdenfyVerification.ts
  apps/mobile/src/services/complianceService.ts
  apps/mobile/src/services/paymentsApi.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve TypeScript error in paymentsApi transaction status type
  apps/mobile/src/services/paymentsApi.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: cleanup old reports, keep only unified 2025-12-29 reports
  apps/admin/jest.setup.js
  apps/admin/src/components/ui/__tests__/button.test.tsx
  apps/admin/src/lib/__tests__/formatters.test.ts
  apps/web/app/__tests__/page.test.tsx
  docs/reports/CODE_REVIEW_REPORT.md
  docs/reports/FORENSIC_SECURITY_AUDIT_2025-12-17.md
  docs/reports/MASTER_ARCHITECT_REPORT_2025.md
  docs/reports/PENTEST_REPORT_2025-12-22.md
  docs/reports/SECURITY_AUDIT_REPORT.md
  packages/design-system/src/tokens/colors.ts
Due: eslint --fix, prettier --write

chore: remove docs/reports directory - content implemented in codebase
  docs/reports/MASTER_ARCHITECT_UNIFIED_REPORT_2025-12-29.md
  docs/reports/PRODUCTION_READINESS_REPORT_2025-12-29.md
Due: prettier --write

docs: add TravelMatch Production Audit Report v4.0
  docs/TRAVELMATCH_PRODUCTION_AUDIT_REPORT_v4.md
Due: prettier --write

fix(P0-1): replace console.log/error with production-safe logger
  apps/admin/src/app/(dashboard)/compliance/page.tsx
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/(dashboard)/error.tsx
  apps/admin/src/app/(dashboard)/users/page.tsx
  apps/admin/src/app/(dashboard)/vip-management/page.tsx
  apps/admin/src/app/error.tsx
  apps/admin/src/hooks/use-auth.ts
  apps/admin/src/hooks/useCsrf.ts
  apps/admin/src/lib/audit.ts
  apps/admin/src/lib/auth.ts
  apps/admin/src/lib/redis.ts
  supabase/functions/_shared/blurhash.ts
  supabase/functions/_shared/cache.ts
  supabase/functions/_shared/errorHandler.ts
  supabase/functions/_shared/rateLimit.ts
  supabase/functions/_shared/redisCache.ts
  supabase/functions/_shared/security-middleware.ts
  supabase/functions/_shared/upstashRateLimit.ts
  supabase/functions/export-user-data/index.ts
  supabase/functions/sendgrid-email/index.ts
  supabase/functions/setup-2fa/index.ts
  supabase/functions/update-exchange-rates/index.ts
  supabase/functions/upload-image/index.ts
  supabase/functions/verify-2fa/index.ts
  supabase/functions/verify-kyc/index-async.ts
Due: eslint --fix, prettier --write

fix(web): rename component back to Home for consistency
  apps/web/app/page.tsx
Due: eslint --fix, prettier --write

feat(admin): implement Dashboard with Cinematic Travel + Trust Jewelry design
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/globals.css
  apps/admin/src/components/common/stat-card.tsx
  apps/admin/tailwind.config.ts
Due: eslint --fix, prettier --write

refactor(admin): remove V2 naming from sidebar
  apps/admin/src/app/globals.css
  apps/admin/src/components/layout/sidebar.tsx
Due: eslint --fix, prettier --write

refactor(admin): remove V2 naming from header component
  apps/admin/src/app/globals.css
  apps/admin/src/components/layout/header.tsx
Due: eslint --fix, prettier --write

refactor(admin): update DataTable component with enhanced features
  apps/admin/src/app/globals.css
  apps/admin/src/components/ui/data-table-v2.tsx
  apps/admin/src/components/ui/data-table.tsx
Due: eslint --fix, prettier --write

refactor(admin): apply design system directly to original component files
  apps/admin/src/app/(dashboard)/dashboard-v2/page.tsx
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/components/common/stat-card-v2.tsx
  apps/admin/src/components/common/stat-card.tsx
  apps/admin/src/components/layout/sidebar-v2.tsx
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/components/ui/data-table-v2.tsx
  apps/admin/src/components/ui/data-table.tsx
Due: eslint --fix, prettier --write

fix(admin): update CSP for production Supabase connection
  apps/admin/next.config.js
  apps/web/tailwind.config.ts
Due: eslint --fix, prettier --write
