Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(error-handling): add ErrorBoundary and NetworkGuard to payment and KYC screens
  apps/mobile/src/features/payments/kyc/KYCDocumentCaptureScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCDocumentTypeScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCIntroScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCPendingScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCReviewScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCSelfieScreen.tsx
  apps/mobile/src/features/payments/screens/TransactionDetailScreen.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(web): address landing page audit findings for production readiness
  apps/web/app/(marketing)/features/proof-ceremony/page.tsx
  apps/web/app/download/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/partner/page.tsx
  apps/web/app/privacy/page.tsx
  apps/web/app/safety/page.tsx
  apps/web/app/terms/page.tsx
  apps/web/public/og-image.svg
Due: eslint --fix, prettier --write

fix(admin): connect analytics, notifications, and user detail pages to real API hooks
  apps/admin/src/app/(dashboard)/analytics/page.tsx
  apps/admin/src/app/(dashboard)/notifications/page.tsx
  apps/admin/src/app/(dashboard)/users/[id]/page.tsx
Due: eslint --fix, prettier --write

fix(data-consistency): address admin-mobile data synchronization issues
  apps/mobile/src/context/RealtimeContext.tsx
  apps/mobile/src/types/core.ts
  apps/mobile/src/types/database.types.ts
  apps/mobile/src/types/domain.ts
  packages/shared/src/types/enums.ts
  packages/shared/src/types/index.ts
  packages/shared/src/utils/adapters.ts
  packages/shared/src/utils/index.ts
  supabase/migrations/20251230100000_admin_mobile_data_consistency.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

perf(mobile): address performance audit findings for production readiness
  apps/mobile/src/components/CurrencySelector.tsx
  apps/mobile/src/components/ceremony/GiftVault.tsx
  apps/mobile/src/components/ceremony/MomentAuthenticator.tsx
  apps/mobile/src/components/ceremony/ProofCeremonyFlow.tsx
  apps/mobile/src/components/ceremony/SacredMoments.tsx
  apps/mobile/src/utils/securityChecks.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(web): add SEO enhancements - sitemap, robots.txt, and JSON-LD
  apps/web/app/layout.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
Due: eslint --fix, prettier --write

fix(db): add complete RLS policies for 13 sensitive tables
  supabase/migrations/20251231000000_missing_rls_policies.sql
Due: none

README for clarity and project updates
  README.md
Due: prettier --write

fix(tests): resolve React 19 testing compatibility issues
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.afterEnv.js
  apps/mobile/package.json
  apps/mobile/src/components/__tests__/AddBankAccountBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/AnimatedComponents.test.tsx
  apps/mobile/src/components/__tests__/CachedImage.test.tsx
  apps/mobile/src/components/__tests__/DeleteMomentModal.test.tsx
  apps/mobile/src/components/__tests__/ErrorState.test.tsx
  apps/mobile/src/components/__tests__/LoadingState.test.tsx
  apps/mobile/src/components/__tests__/NetworkGuard.test.tsx
  apps/mobile/src/components/__tests__/OfflineBanner.test.tsx
  apps/mobile/src/components/__tests__/OfflineState.test.tsx
  apps/mobile/src/components/__tests__/PendingTransactionsModal.test.tsx
  apps/mobile/src/components/__tests__/ShareProofModal.test.tsx
  apps/mobile/src/components/__tests__/withErrorBoundary.test.tsx
  apps/mobile/src/components/profile/__tests__/__snapshots__/ProfileHeaderSection.test.tsx.snap
  apps/mobile/src/components/ui/__tests__/Avatar.test.tsx
  apps/mobile/src/components/ui/__tests__/Badge.test.tsx
  apps/mobile/src/components/ui/__tests__/Divider.test.tsx
  apps/mobile/src/components/ui/__tests__/EmptyState.test.tsx
  apps/mobile/src/components/ui/__tests__/Skeleton.test.tsx
  apps/mobile/src/components/ui/__tests__/SortSelector.test.tsx
  apps/mobile/src/components/ui/__tests__/Spinner.test.tsx
  apps/mobile/src/components/ui/__tests__/__snapshots__/Button.test.tsx.snap
  apps/mobile/src/components/ui/__tests__/__snapshots__/Card.test.tsx.snap
  apps/mobile/src/components/ui/__tests__/__snapshots__/ControlledInput.test.tsx.snap
  apps/mobile/src/components/ui/__tests__/__snapshots__/Input.test.tsx.snap
  apps/mobile/src/stores/__tests__/favoritesStore.test.ts
  apps/mobile/src/stores/__tests__/searchStore.test.ts
  apps/mobile/src/stores/__tests__/uiStore.test.ts
  apps/mobile/src/utils/__tests__/security.test.ts
  apps/web/app/__tests__/page.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Update mobile components and add admin campaign migrations
  apps/admin/src/app/api/promos/route.ts
  apps/mobile/src/components/BottomNav.tsx
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/PendingTransactionsModal.tsx
  apps/mobile/src/components/PlaceSearchModal.tsx
  apps/mobile/src/components/RequestCard.tsx
  apps/mobile/src/components/moment-detail/HostSection.tsx
  apps/mobile/src/components/moment-detail/RequestsSection.tsx
  apps/mobile/src/components/moment-detail/ReviewsSection.tsx
  apps/mobile/src/components/ui/OptimizedImage.tsx
  apps/mobile/src/components/ui/TMCard.tsx
  apps/mobile/src/config/remoteConfig.ts
  apps/mobile/src/context/CurrencyContext.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/features/trips/screens/ReceiverApprovalScreen.tsx
  apps/mobile/src/hooks/usePagination.stories.tsx
  apps/mobile/src/services/paymentService.ts
  apps/mobile/src/services/userService.ts
  supabase/migrations/20251231100000_admin_campaign_tables.sql
  supabase/migrations/20251231200000_admin_campaign_permissions.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(web): implement Gen Z landing page design
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/ceremony/InteractiveDemo.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web): update Toast and GiftPopup animations
  apps/web/app/globals.css
  apps/web/app/page.tsx
Due: eslint --fix, prettier --write

fix(mobile): migrate from deprecated RNMapboxMapsDownloadToken
  .env.example
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): update iOS bundle identifier for TestFlight submission
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): resolve 136 TypeScript errors blocking build
  apps/mobile/package.json
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/NotificationCard.tsx
  apps/mobile/src/components/ceremony/CeremonyProgress.tsx
  apps/mobile/src/components/ceremony/GiftVault.tsx
  apps/mobile/src/components/ceremony/MemoryCard.tsx
  apps/mobile/src/components/ceremony/MomentAuthenticator.tsx
  apps/mobile/src/components/ceremony/PassportBook.tsx
  apps/mobile/src/components/ceremony/ProofCeremonyFlow.tsx
  apps/mobile/src/components/ceremony/SacredMoments.tsx
  apps/mobile/src/components/ceremony/SunsetClock.tsx
  apps/mobile/src/components/ceremony/ThankYouCardCreator.tsx
  apps/mobile/src/components/ceremony/TrustConstellation.tsx
  apps/mobile/src/components/ceremony/index.ts
  apps/mobile/src/components/ui/TMAvatar.tsx
  apps/mobile/src/components/ui/TMGiftCard.tsx
  apps/mobile/src/components/ui/TMInput.tsx
  apps/mobile/src/components/ui/TMProofCard.tsx
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/constants/plans.ts
  apps/mobile/src/context/RealtimeContext.tsx
  apps/mobile/src/features/payments/services/paymentsApi.ts
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/hooks/useCeremony.ts
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/services/paymentService.ts
  apps/mobile/src/services/userService.ts
  apps/mobile/src/types/adapters.ts
  packages/shared/src/types/index.ts
  packages/shared/src/utils/adapters.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): revert bundle ID to match App Store Connect (com.travelmatch.mobile)
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): fix social login (Apple/Google) registration flow
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
  supabase/config.toml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(auth): fix registration flow and phone verification
  apps/mobile/src/features/auth/screens/VerifyPhoneScreen.tsx
  supabase/config.toml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(auth): fix PhoneAuthScreen for Turkish phone numbers
  apps/mobile/src/features/auth/screens/PhoneAuthScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): fix userService profile field mapping
  apps/mobile/src/services/userService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): fix CreateMoment publish and keyboard issues
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
