Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(admin): update CSP for production Supabase connection
  apps/admin/next.config.js
  apps/web/tailwind.config.ts
Due: eslint --fix, prettier --write

refactor(design-system): use original COLORS/GRADIENTS/SHADOWS naming
  packages/design-system/src/tokens/colors.ts
  packages/design-system/src/tokens/index.ts
Due: eslint --fix, prettier --write

refactor(mobile): use original motion.ts implementation
  apps/mobile/src/utils/motion.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(typography): implement Premium Editorial design system
  apps/mobile/src/theme/typography.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor(theme): replace original files with Awwwards design system
  apps/mobile/src/theme/colors-v2.ts
  apps/mobile/src/theme/colors.ts
  apps/mobile/src/theme/typography-v2.ts
  apps/mobile/src/theme/typography.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): use original animation hook names from design system
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/hooks/useAnimations.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor(design-system): apply Liquid Warmth color system to original files
  apps/mobile/src/constants/colors-v2.ts
  apps/mobile/src/constants/colors.ts
  packages/design-system/src/tokens/colors.ts
  packages/shared/src/constants/colors.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor(design-system): consolidate design tokens into original files
  apps/mobile/src/components/ui/TMButton.tsx
  apps/mobile/src/components/ui/TMCard.tsx
  apps/mobile/src/components/ui/TMPill.tsx
  apps/mobile/src/components/ui/TMTrustRing.tsx
  apps/mobile/src/constants/colors-ultimate.ts
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/constants/spacing-ultimate.ts
  apps/mobile/src/constants/spacing.ts
  apps/mobile/src/constants/typography-ultimate.ts
  apps/mobile/src/theme/typography.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: apply Awwwards Design System 2026 to original component files
  apps/mobile/src/components/BottomNav.tsx
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/profile/ProfileHeaderSection.tsx
  apps/mobile/src/components/ui/Button.tsx
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/hooks/useAnimations.ts
  apps/mobile/src/navigation/transitions.ts
  apps/mobile/src/theme/typography.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(web): add TravelMatch design system globals.css
  apps/web/app/globals.css
Due: none

fix: resolve build errors and security issues
  apps/admin/next-env.d.ts
  apps/admin/src/components/ui/use-toast.ts
  apps/web/app/globals.css
  packages/design-system/scripts/design_token_generator.py
  packages/design-system/src/tokens/colors.ts
  packages/design-system/src/tokens/index.ts
  scripts/ux-research/design_validator.py
  scripts/ux-research/journey_mapper.py
  scripts/ux-research/persona_generator.py
  scripts/ux-research/research_synthesizer.py
Due: eslint --fix, prettier --write

fix: resolve TypeScript circular reference in use-toast hook
  apps/admin/src/components/ui/use-toast.ts
Due: eslint --fix, prettier --write

fix(mobile): resolve TypeScript errors - add missing nested properties
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/hooks/useAnimations.ts
  apps/mobile/src/navigation/transitions.ts
  apps/mobile/src/theme/typography.ts
  apps/mobile/src/utils/index.ts
  apps/mobile/src/utils/motion.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(tests): resolve TypeScript errors in test files
  apps/mobile/src/components/__tests__/AddBankAccountBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/AddCardBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/BlockConfirmation.test.tsx
  apps/mobile/src/components/__tests__/BottomNav.test.tsx
  apps/mobile/src/components/__tests__/CachedImage.network.test.tsx
  apps/mobile/src/components/__tests__/CachedImage.test.tsx
  apps/mobile/src/components/__tests__/CompleteGiftBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/CurrencySelectionBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/ErrorBoundary.test.tsx
  apps/mobile/src/components/__tests__/ErrorRecoveryComponents.test.tsx
  apps/mobile/src/components/__tests__/FeedbackModal.test.tsx
  apps/mobile/src/components/__tests__/FormComponents.test.tsx
  apps/mobile/src/components/__tests__/LanguageSelectionBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/LeaveTrustNoteBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/OfflineBanner.test.tsx
  apps/mobile/src/components/__tests__/ThankYouModal.test.tsx
  apps/mobile/src/components/profile/__tests__/StatsRow.test.tsx
  apps/mobile/src/components/ui/__tests__/Button.enhanced.test.tsx
  apps/mobile/src/components/ui/__tests__/Button.test.tsx
  apps/mobile/src/components/ui/__tests__/Card.test.tsx
  apps/mobile/src/components/ui/__tests__/ControlledInput.test.tsx
  apps/mobile/src/components/ui/__tests__/EmptyState.test.tsx
  apps/mobile/src/components/ui/__tests__/MomentCard.test.tsx
  apps/mobile/src/components/ui/__tests__/PasswordInput.test.tsx
  apps/mobile/src/components/ui/__tests__/SortSelector.test.tsx
  apps/mobile/src/hooks/__tests__/useAuth.test.tsx
  apps/mobile/src/hooks/__tests__/useMoments.test.ts
  apps/mobile/src/hooks/__tests__/useNetworkState.test.ts
  apps/mobile/src/hooks/__tests__/usePagination.test.ts
  apps/mobile/src/hooks/__tests__/usePayments.test.ts
  apps/mobile/src/services/__tests__/offlineSyncQueue.test.ts
  apps/mobile/src/services/__tests__/paymentService.concurrency.test.ts
  apps/mobile/src/services/__tests__/paymentService.retry.test.ts
  apps/mobile/src/services/__tests__/paymentService.timeout.test.ts
  apps/mobile/src/services/__tests__/pendingTransactionsService.test.ts
  apps/mobile/src/services/__tests__/syncStrategy.test.ts
  tests/integration/moments.integration.test.ts
  tests/integration/realtimeContext.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(tests): resolve more TypeScript errors in test files
  apps/mobile/src/__tests__/integration/momentCreationFlow.test.ts
  apps/mobile/src/__tests__/integration/paymentFlow.test.ts
  apps/mobile/src/__tests__/integration/requestFlow.test.ts
  apps/mobile/src/components/discover/cards/__tests__/MomentGridCard.test.tsx
  apps/mobile/src/components/discover/cards/__tests__/MomentSingleCard.test.tsx
  apps/mobile/src/features/auth/screens/__tests__/ForgotPasswordScreen.test.tsx
  apps/mobile/src/features/auth/screens/__tests__/LoginScreen.test.tsx
  apps/mobile/src/features/auth/screens/__tests__/RegisterScreen.test.tsx
  apps/mobile/src/features/payments/components/__tests__/WalletListItem.test.tsx
  apps/mobile/src/features/payments/hooks/__tests__/usePaymentMethods.test.ts
  apps/mobile/src/features/payments/screens/__tests__/TransactionHistoryScreen.test.tsx
  apps/mobile/src/features/trips/components/__tests__/RequestCard.test.tsx
  apps/mobile/src/hooks/__tests__/useMessages.test.ts
  apps/mobile/src/hooks/__tests__/useNotifications.test.ts
  apps/mobile/src/services/__tests__/uploadService.test.ts
  apps/mobile/src/stores/__tests__/favoritesStore.test.ts
  apps/mobile/src/utils/__tests__/secureStorage.test.ts
  apps/mobile/src/utils/__tests__/storage.encryption.test.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(tests): resolve TypeScript errors in admin, packages, and root tests
  apps/admin/src/components/ui/__tests__/button.test.tsx
  apps/admin/src/lib/__tests__/utils.test.ts
  packages/design-system/src/components/__tests__/NavigationStates.test.tsx
  tests/integration/cacheManagement.test.ts
  tests/integration/deepLinkHandler.test.ts
  tests/integration/deepLinkHandler.test.tsx
  tests/integration/messageArrival.test.ts
  tests/integration/navigationService.test.ts
  tests/integration/navigationStatePersistence.test.tsx
  tests/integration/supabaseRealtime.test.ts
  tests/integration/tabModalNavigation.test.tsx
  tests/performance/benchmarks.test.ts
Due: eslint --fix, prettier --write

fix(tests): unskip 14 tests and implement proper assertions
  apps/mobile/src/components/__tests__/AddBankAccountBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/AddCardBottomSheet.test.tsx
  apps/mobile/src/components/profile/__tests__/StatsRow.test.tsx
  apps/mobile/src/stores/__tests__/favoritesStore.test.ts
  apps/mobile/src/stores/__tests__/searchStore.test.ts
  apps/mobile/src/stores/__tests__/uiStore.test.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(tests): unskip FormComponents maxLength tests
  apps/mobile/src/components/ui/__tests__/FormComponents.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor(tests): remove non-functional and placeholder tests
  apps/mobile/src/components/__tests__/AccessibleVideoPlayer.test.tsx
  apps/mobile/src/components/profile/__tests__/StatsRow.test.tsx
  apps/mobile/src/components/ui/__tests__/ControlledInput.test.tsx
  apps/mobile/src/components/ui/__tests__/GenericBottomSheet.test.tsx
  apps/mobile/src/components/ui/__tests__/Input.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: implement RPC functions and unskip component tests
  apps/mobile/src/components/ui/__tests__/Button.enhanced.test.tsx
  apps/mobile/src/components/ui/__tests__/Input.enhanced.test.tsx
  apps/mobile/src/services/complianceService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js
