Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix: disable New Architecture to debug startup crash
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mapbox): lazy load SearchMapScreen to prevent TurboModule crash at startup
  apps/mobile/.vscode/mcp.json
  apps/mobile/app.config.ts
  apps/mobile/sentry.properties
  apps/mobile/src/features/discover/index.ts
  apps/mobile/src/features/discover/screens/SearchMapScreen.tsx
  apps/mobile/src/features/moments/components/LocationPickerBottomSheet.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/MainTabNavigator.tsx
  apps/mobile/src/screens/PickLocationScreen.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(sentry): add auth token to sentry.properties
  apps/mobile/sentry.properties
Due: none

fix(lint): remove inline styles and replace console.warn with logger
  apps/mobile/src/features/discover/screens/SearchMapScreen.tsx
  apps/mobile/src/navigation/MainTabNavigator.tsx
  packages/design-system/scripts/design_token_generator.py
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(security): add Infisical integration to EAS build hooks
  apps/mobile/eas-hooks/eas-build-pre-install.sh
  apps/mobile/ios/sentry.properties
Due: none

fix(security): add deepcode ignore for path traversal false positive
  packages/design-system/scripts/design_token_generator.py
Due: none

fix(mapbox): remove LocationPickerBottomSheet from barrel exports
  apps/mobile/src/components/index.ts
  apps/mobile/src/features/moments/components/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore(deps): update expo packages to SDK 54 compatible versions
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(env): make environment validation non-blocking to prevent startup crash
  apps/mobile/src/config/env.config.ts
  apps/mobile/src/services/appBootstrap.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(env): use proper zod transform for optional SUPABASE vars
  apps/mobile/src/config/env.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mapbox): align native SDK version with @rnmapbox/maps 10.2.10 requirement
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(sentry): update to travelmatch-2d org with correct project name
  apps/mobile/.gitignore
  apps/mobile/App.tsx
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: remove non-existent promoCodesService export
  apps/mobile/src/services/supabase.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(tests): enable skipped tests and fix test failures
  apps/mobile/jest.config.js
  apps/mobile/src/components/__tests__/GiftSuccessModal.test.tsx
  apps/mobile/src/components/__tests__/ShareMomentBottomSheet.test.tsx
  apps/mobile/src/components/ui/__tests__/ControlledInput.test.tsx
  apps/mobile/src/components/ui/__tests__/GenericBottomSheet.test.tsx
  apps/mobile/src/services/__tests__/paymentService.cancellation.test.ts
  apps/mobile/src/services/__tests__/paymentService.complete.test.ts
  apps/mobile/src/services/__tests__/paymentService.timeout.test.ts
  apps/mobile/src/stores/__tests__/searchStore.test.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: remove Sentry test button, fix onboarding navigation, fix infinite loop in useFeedbackPrompt
  app.json
  apps/mobile/App.tsx
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/hooks/useFeedbackPrompt.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve storage warnings and OnboardingScreen button
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/services/videoService.ts
  apps/mobile/src/utils/__tests__/secureStorage.test.ts
  apps/mobile/src/utils/secureStorage.ts
  apps/mobile/src/utils/storage.ts
  package.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve terminal errors
  apps/mobile/App.tsx
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/__tests__/testUtilsAsync.helper.ts
  apps/mobile/src/components/__tests__/AddBankAccountBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/AddCardBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/ChatAttachmentBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/CompleteGiftBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/ConfirmGiftModal.test.tsx
  apps/mobile/src/components/__tests__/CurrencySelectionBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/DeleteMomentDialog.test.tsx
  apps/mobile/src/components/__tests__/DeleteProofModal.test.tsx
  apps/mobile/src/components/__tests__/LanguageSelectionBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/LeaveTrustNoteBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/PendingTransactionsModal.test.tsx
  apps/mobile/src/components/__tests__/RemoveCardModal.test.tsx
  apps/mobile/src/components/__tests__/RequestAdditionalProofBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/RetakeProofBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/SetPriceBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/ThankYouModal.test.tsx
  apps/mobile/src/components/__tests__/UnblockUserBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/WithdrawConfirmationModal.test.tsx
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/auth/screens/SplashScreen.tsx
  apps/mobile/src/features/discover/screens/SearchMapScreen.tsx
  apps/mobile/src/features/moments/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/payments/screens/BulkThankYouScreen.tsx
  apps/mobile/src/features/profile/components/__tests__/StatsRow.test.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/verifications/components/ProofCeremonyFlow.tsx
  apps/mobile/src/hooks/useFeedbackPrompt.ts
  apps/mobile/src/hooks/useStories.ts
  apps/mobile/src/services/db/MomentQueries.ts
  apps/mobile/src/services/discoveryService.ts
  apps/mobile/src/utils/cameraConfig.ts
  apps/mobile/src/utils/imageHandling.ts
  docs/INFISICAL_SECRETS_SETUP.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve merge conflicts in useFeedbackPrompt and App.tsx
  apps/mobile/App.tsx
  apps/mobile/src/hooks/useFeedbackPrompt.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: Apple Sign In setup, Google Coming Soon badge, Supabase linter fixes
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/features/discover/screens/SearchMapScreen.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/moments/components/LocationPickerBottomSheet.tsx
  apps/mobile/src/features/moments/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/moments/services/momentsService.ts
  apps/mobile/src/features/payments/screens/PaymentMethodsScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
  apps/mobile/src/features/profile/services/profileService.ts
  apps/mobile/src/features/wallet/screens/WalletScreen.tsx
  apps/mobile/src/hooks/useStories.ts
  docs/SUPABASE_MANUAL_STEPS.md
  scripts/configure-auth-security.sh
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/storage-version
  supabase/config.toml
  supabase/migrations/20260108000001_fix_supabase_linter_warnings.sql
  supabase/migrations/20260108000002_fix_remaining_linter_issues.sql
  supabase/migrations/20260108000003_drop_unused_indexes.sql
  supabase/migrations/20260108100000_fix_remaining_issues.sql
  supabase/migrations/20260108200000_fix_all_remaining_linter_issues.sql
  supabase/migrations/20260108210000_remove_legacy_trips_tables.sql
  supabase/migrations/20260108220000_fix_function_code_errors.sql
  supabase/migrations/20260108230000_fix_remaining_function_errors.sql
  supabase/migrations/20260108240000_cleanup_old_functions.sql
  supabase/migrations/20260108250000_fix_linter_issues_final.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve all ESLint warnings and Snyk path traversal
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/moments/screens/CreateMomentScreen.tsx
  packages/design-system/scripts/design_token_generator.py
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js
