Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(mobile): resolve typescript errors
  apps/mobile/src/features/discover/screens/DiscoverScreen.tsx
  apps/mobile/src/features/verifications/components/SacredMoments.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: update vercel config for monorepo subdirectory deployment
  apps/mobile/ios/Lovendo.xcodeproj/project.pbxproj
  apps/mobile/ios/Lovendo.xcworkspace/contents.xcworkspacedata
  vercel.json
Due: prettier --write

fix: Infisical action config (project-slug) and workflow updates
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/database-migrations.yml
  .github/workflows/production-deploy.yml
  .gitignore
  .vscode/settings.json
  app.json
  apps/mobile/0
  apps/mobile/App.tsx
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/app.config.ts
  apps/mobile/index.js
  apps/mobile/index.ts
  apps/mobile/ios/Lovendo.xcodeproj/project.pbxproj
  apps/mobile/ios/Lovendo.xcworkspace/contents.xcworkspacedata
  apps/mobile/ios/Lovendo/Images.xcassets/AppIcon.appiconset/.!68559!App-Icon-1024x1024@1x.png
  apps/mobile/ios/Lovendo/Images.xcassets/AppIcon.appiconset/.!68728!App-Icon-1024x1024@1x.png
  apps/mobile/ios/Lovendo/Images.xcassets/AppIcon.appiconset/.!68747!App-Icon-1024x1024@1x.png
  apps/mobile/ios/Lovendo/Info.plist
  apps/mobile/ios/Lovendo/Lovendo.entitlements
  apps/mobile/ios/Podfile.lock
  apps/mobile/master_todo.md
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/config/apiClient.ts
  apps/mobile/src/config/sentry.ts
  apps/mobile/src/services/analytics.ts
  apps/mobile/src/services/offlineCache.ts
  apps/mobile/src/utils/logger.ts
  apps/mobile/tsconfig.eslint.json
  apps/mobile/tsconfig.json
  supabase/migrations/20260120150000_fix_users_rls_recursion_v2.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve all TypeScript type errors in mobile tests
  apps/mobile/src/__tests__/integration/authFlow.test.ts
  apps/mobile/src/__tests__/integration/momentCreationFlow.test.ts
  apps/mobile/src/__tests__/integration/paymentFlow.test.ts
  apps/mobile/src/components/__stories__/AnimatedComponents.stories.tsx
  apps/mobile/src/components/__stories__/BottomNav.stories.tsx
  apps/mobile/src/components/__stories__/Button.stories.tsx
  apps/mobile/src/components/__stories__/Colors.stories.tsx
  apps/mobile/src/components/__stories__/ErrorState.stories.tsx
  apps/mobile/src/components/__stories__/FilterPill.stories.tsx
  apps/mobile/src/components/__stories__/Interactions.stories.tsx
  apps/mobile/src/components/__stories__/OfflineBanner.stories.tsx
  apps/mobile/src/components/__stories__/PaginationPerformance.stories.tsx
  apps/mobile/src/components/__stories__/SmartImage.stories.tsx
  apps/mobile/src/components/__tests__/ErrorBoundary.test.tsx
  apps/mobile/src/components/__tests__/ErrorState.test.tsx
  apps/mobile/src/components/__tests__/FilterBottomSheet.test.tsx
  apps/mobile/src/components/__tests__/NetworkGuard.test.tsx
  apps/mobile/src/components/__tests__/OfflineBanner.test.tsx
  apps/mobile/src/components/__tests__/withErrorBoundary.test.tsx
  apps/mobile/src/components/ui/__stories__/Card.stories.tsx
  apps/mobile/src/components/ui/__tests__/Avatar.test.tsx
  apps/mobile/src/components/ui/__tests__/Badge.test.tsx
  apps/mobile/src/features/discover/components/moment-detail/__tests__/MomentInfo.test.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/services/__tests__/imageCacheManager.test.ts
  apps/mobile/src/services/__tests__/sessionManager.test.ts
  apps/mobile/src/services/__tests__/storageMonitor.test.ts
  apps/mobile/src/services/__tests__/supabaseAuthService.test.ts
  apps/mobile/src/services/__tests__/syncStrategy.test.ts
  apps/mobile/src/services/db/AuxiliaryQueries.ts
  apps/mobile/src/types/api.ts
  apps/mobile/src/utils/__tests__/logger.simple.test.ts
  apps/mobile/src/utils/__tests__/logger.test.ts
  apps/mobile/src/utils/logger.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: Remove all Stripe references - Lovendo uses PayTR
  apps/mobile/src/types/database.types.ts
  docs/ADMIN_STABILITY_REPORT.md
  docs/APP_STORE_READY_CHECKLIST.md
  docs/COMPLIANCE_ASSESSMENT_2025.md
  docs/COMPLIANCE_CHECKLIST.md
  docs/DATABASE_ERD.md
  docs/DEPLOYMENT_GUIDE.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/FEATURE_FLAGS.md
  docs/GETTING_STARTED.md
  docs/LAUNCH_CHECKLIST.md
  docs/PLATFORM_ANALYSIS_REPORT.md
  docs/TEST_STRATEGY.md
  packages/shared/src/types/database.generated.ts
  packages/shared/src/types/database.ts
  scripts/add-github-secrets.sh
  scripts/check-secrets.sh
  supabase/migrations/20241207000000_payment_security.sql
  supabase/migrations/20251206000000_add_subscriptions.sql
  supabase/migrations/20251209000000_add_kyc_verifications.sql
  supabase/migrations/20251218130000_final_critical_fixes.sql
  supabase/migrations/20251222000000_schema_best_practices.sql
  supabase/seed-production-ready.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: Remove all remaining Stripe references from docs and SQL
  .github/workflows/setup-secrets.sh
  docs/API_REFERENCE.md
  docs/DATABASE_ARCHITECTURE.md
  docs/DATABASE_SCHEMA.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/C4_MODEL.md
  docs/architecture/DATA_ARCHITECTURE.md
  docs/architecture/SECURITY_ARCHITECTURE.md
  scripts/README.md
  scripts/setup-github-secrets.sh
  scripts/setup-supabase.sh
  scripts/verify-github-secrets.sh
  supabase/README.md
  supabase/migrations/20241207000000_payment_security.sql
  supabase/migrations/20251218200001_security_audit_fixes.sql
  supabase/migrations/20260114000004_add_triage_and_integration_health.sql
Due: prettier --write

chore: Final Stripe cleanup - update deploy script
  supabase/scripts/deploy.sh
Due: none

fix: update migration files for missing columns
  supabase/migrations/20260121121943_remote_schema.sql
  supabase/migrations/20260123000000_create_reports_table.sql
  supabase/migrations/20260124145000_update_uploaded_images_schema.sql
  supabase/migrations/20260124600000_performance_indexes.sql
Due: none

fix(mobile): resolve package.json conflicts
  apps/mobile/package.json
Due: prettier --write

chore: remove all documentation and sanitize secret placeholders
  Master_Project_Plan.md
  Nihai_Finansal_Model.md
  docs/APP_STORE_REVIEWER_NOTES.md
  docs/GOOGLE_PLAY_REVIEWER_NOTES.md
  docs/LAUNCH_AUDIT_CHECKLIST.md
  docs/MASTER_TEST_CHECKLIST.md
  scripts/set-supabase-secrets.sh
  services/.env.example
  supabase/.env.example
Due: prettier --write

fix(mobile): resolve merge conflicts and regenerate lockfile
  apps/mobile/app.config.ts
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): update tests for wallets table schema
  apps/mobile/src/__tests__/integration/paymentFlow.test.ts
  apps/mobile/src/components/__stories__/Button.stories.tsx
  apps/mobile/src/components/__stories__/ErrorState.stories.tsx
  apps/mobile/src/components/ui/GenericBottomSheet.tsx
  apps/mobile/src/components/ui/__stories__/Avatar.stories.tsx
  apps/mobile/src/components/ui/__stories__/Badge.stories.tsx
  apps/mobile/src/components/ui/__stories__/Button.stories.tsx
  apps/mobile/src/components/ui/__stories__/Card.stories.tsx
  apps/mobile/src/components/ui/__stories__/Input.stories.tsx
  apps/mobile/src/context/__tests__/BiometricAuthContext.test.tsx
  apps/mobile/src/features/discover/components/moment-detail/__tests__/MomentInfo.test.tsx
  apps/mobile/src/services/__tests__/messageService.test.ts
  apps/mobile/src/services/__tests__/optimisticUpdates.test.ts
  apps/mobile/src/services/__tests__/paymentService.cancellation.test.ts
  apps/mobile/src/services/__tests__/paymentService.complete.test.ts
  apps/mobile/src/services/__tests__/paymentService.timeout.test.ts
  apps/mobile/src/services/__tests__/paymentService.webhook.test.ts
  apps/mobile/src/services/__tests__/sessionManager.test.ts
  apps/mobile/src/services/__tests__/supabaseAuthService.test.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(kyc): iDenfy integration with PayTR cleanup
  .env.example
  .vscode/settings.json
  apps/mobile/jest.config.js
  apps/mobile/package.json
  apps/mobile/src/__tests__/integration/authFlow.test.ts
  apps/mobile/src/features/payments/hooks/usePayments.ts
  apps/mobile/src/features/payments/index.ts
  apps/mobile/src/features/payments/screens/PaymentsKYCScreen.tsx
  apps/mobile/src/features/verifications/index.ts
  apps/mobile/src/features/verifications/kyc/KYCIntroScreen.tsx
  apps/mobile/src/features/verifications/kyc/KYCPendingScreen.tsx
  apps/mobile/src/features/verifications/kyc/KYCReviewScreen.tsx
  apps/mobile/src/features/verifications/kyc/KYCSelfieScreen.tsx
  apps/mobile/src/features/verifications/kyc/index.ts
  apps/mobile/src/features/wallet/screens/WalletScreen.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/routeParams.ts
  apps/mobile/src/services/__tests__/paymentService.complete.test.ts
  apps/mobile/src/services/securePaymentService.ts
  apps/mobile/src/services/trustNotesService.ts
  apps/mobile/src/services/userService.ts
  package.json
  pnpm-lock.yaml
  supabase/functions/_shared/types.ts
  supabase/functions/get-idenfy-token/index.ts
  supabase/functions/idenfy-webhook/index.ts
  supabase/migrations/20260123010000_idenfy_kyc_updates.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: update Sentry API calls to v5+ syntax
  apps/mobile/src/config/sentry.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix auth flow, profile inputs, and onboarding UX
  apps/mobile/App.tsx
  apps/mobile/app.config.ts
  apps/mobile/ios/Lovendo.xcodeproj/project.pbxproj
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/config/env.config.ts
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/context/RealtimeContext.tsx
  apps/mobile/src/features/auth/index.ts
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/auth/screens/UnifiedAuthScreen.tsx
  apps/mobile/src/features/auth/services/authService.ts
  apps/mobile/src/features/discover/components/ImmersiveMomentCard.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/routeParams.ts
  apps/mobile/src/screens/dev/DevMenuScreen.tsx
  apps/mobile/src/types/db.ts
  apps/mobile/src/utils/forms/schemas.ts
  package.json
  packages/shared/src/schemas/user.ts
  supabase/functions/_shared/validation.ts
  supabase/migrations/20260117000000_discover_nearby_moments_rpc.sql
  supabase/migrations/20260123030001_handle_new_user_resilient.sql
  supabase/migrations/20260202020000_app_config_public_grants.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

🚨 CRITICAL: Fix P0 security vulnerabilities for launch readiness
  apps/admin/src/lib/api-auth.ts
  apps/mobile/src/features/discover/components/ImmersiveMomentCard.tsx
  apps/mobile/src/services/db/ProfileQueries.ts
  supabase/functions/idenfy-webhook/index.ts
  supabase/functions/revenuecat-webhook/index.ts
  supabase/migrations/20260203000000_fix_users_pii_exposure.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: Complete P0/P1 launch readiness fixes and documentation
  LAUNCH_READINESS_COMPLETE.md
  apps/admin/middleware.ts
  apps/admin/src/app/api/notifications/route.ts
  apps/mobile/GOOGLE_SERVICES_SETUP.md
  apps/mobile/babel.config.js
  supabase/functions/_shared/env-validator.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

docs: Add comprehensive deployment guide for beta launch
  DEPLOYMENT_GUIDE.md
Due: prettier --write
