Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Exclude integration, performance, and load tests from ESLint
  .eslintrc.js
Due: none

Exclude all test directories from ESLint
  .eslintrc.js
Due: none

Exclude services directory from ESLint and add proper configs
  .eslintrc.js
  services/ml-service/pyrightconfig.json
  services/shared/tsconfig.json
  services/tsconfig.json
Due: prettier --write

Fix TypeScript and Python type errors across monitoring and design-system packages
  packages/design-system/package.json
  packages/design-system/scripts/accessibility_checker.py
  packages/design-system/scripts/design_token_generator.py
  packages/design-system/scripts/handoff_generator.py
  packages/design-system/scripts/responsive_calculator.py
  packages/design-system/src/personalization/context/PersonalizationContext.tsx
  packages/monitoring/examples/monitoring-examples.tsx
  packages/monitoring/hooks/useMonitoring.ts
  packages/monitoring/services/monitoring.ts
Due: eslint --fix, prettier --write

Fix Kong YAML and VS Code workspace schema validation errors
  .vscode/travelmatch.code-workspace
  docker/kong.yml
Due: prettier --write

Fix Deno TypeScript errors in Supabase Edge Functions
  .vscode/settings.json
  supabase/functions/deno.json
  supabase/functions/twilio-sms/__tests__/index.test.ts
  supabase/functions/verify-kyc/__tests__/index.test.ts
  supabase/functions/verify-kyc/index-async.ts
Due: prettier --write

Fix admin app TypeScript configuration errors
  apps/admin/package.json
  apps/admin/tsconfig.node.json
Due: prettier --write

Fix TypeScript type errors in admin hooks
  apps/admin/src/hooks/use-auth.ts
  apps/admin/src/hooks/use-permission.ts
  apps/admin/src/hooks/use-realtime.ts
Due: eslint --fix, prettier --write

Fix implicit any type in Header component
  apps/admin/src/components/layout/header.tsx
Due: eslint --fix, prettier --write

Fix ESLint errors: react-hooks, img elements, and unused vars
  apps/web/app/(marketing)/features/proof-ceremony/page.tsx
  apps/web/app/page.tsx
  apps/web/components/ceremony/InteractiveDemo.tsx
Due: eslint --fix, prettier --write

Fix Pylance type errors in design_token_generator.py
  packages/design-system/scripts/design_token_generator.py
Due: none

Fix TypeScript errors and add missing @heroicons/react dependency
  apps/admin/package.json
  apps/admin/src/components/ceremony/ProofReviewPanel.tsx
  apps/admin/src/components/common/admin-chart.tsx
  apps/admin/src/components/common/dashboard-widgets.tsx
  apps/admin/src/components/common/kanban-board.tsx
  apps/admin/tsconfig.json
  apps/admin/tsconfig.node.json
Due: eslint --fix, prettier --write

Fix TypeScript errors in admin API routes
  apps/admin/src/app/api/escrow/route.ts
  apps/admin/src/app/api/finance/route.ts
  apps/admin/src/app/api/integrations/route.ts
  apps/admin/src/app/api/kyc/route.ts
  apps/admin/src/app/api/proofs/route.ts
  apps/admin/src/app/api/stats/route.ts
  apps/admin/src/app/api/tasks/[id]/route.ts
  apps/admin/src/app/api/tasks/route.ts
  apps/admin/src/app/api/transactions/route.ts
Due: eslint --fix, prettier --write

Fix TypeScript errors and module resolution in admin app
  apps/admin/src/app/api/transactions/route.ts
  apps/admin/src/app/api/vip-users/[userId]/route.ts
  apps/admin/src/app/api/vip-users/route.ts
  apps/admin/src/app/api/wallets/route.ts
  apps/admin/tsconfig.json
Due: eslint --fix, prettier --write

Merge branch changes and cleanup files
  .snyk
  MASTERPLAN.md
  packages/design-system/FIGMA_REMOVED.md
  packages/design-system/QUALITY_GATES.md
  packages/design-system/scripts/accessibility_checker.py
  packages/design-system/scripts/handoff_generator.py
  packages/design-system/scripts/responsive_calculator.py
  services/SETUP_COMPLETE.md
  services/job-queue/package-lock.json
  services/ml-service/README.md
  services/ml-service/requirements-gpu.txt
  services/ml-service/requirements.txt
Due: prettier --write

Fix TypeScript errors across mobile app
  apps/mobile/src/components/ceremony/GiftVault.tsx
  apps/mobile/src/components/ceremony/ProofCeremonyFlow.tsx
  apps/mobile/src/components/ui/GlassModal.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/auth/screens/SplashScreen.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/features/chat/screens/ChatDetailScreen.tsx
  apps/mobile/src/features/chat/screens/InboxScreen.tsx
  apps/mobile/src/features/discovery/screens/SearchMapScreen.tsx
  apps/mobile/src/features/inbox/screens/InboxScreen.tsx
  apps/mobile/src/features/notifications/screens/NotificationsScreen.tsx
  apps/mobile/src/features/payment/screens/CheckoutScreen.tsx
  apps/mobile/src/features/payments/screens/AddCardScreen.tsx
  apps/mobile/src/features/payments/screens/EarningsScreen.tsx
  apps/mobile/src/features/payments/screens/GiftUnboxingScreen.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/payments/types/success.types.ts
  apps/mobile/src/features/profile/screens/ReviewScreen.tsx
  apps/mobile/src/features/reviews/screens/ReviewScreen.tsx
  apps/mobile/src/features/settings/screens/ReportUserScreen.tsx
  apps/mobile/src/navigation/routeParams.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix TypeScript and ESLint errors in mobile app
  apps/mobile/.storybook/index.tsx
  apps/mobile/.storybook/storybook.requires.js
  apps/mobile/app.config.ts
  apps/mobile/jest.native-mocks.js
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix TypeScript errors in test files
  apps/mobile/src/__tests__/integration/momentCreationFlow.test.ts
  apps/mobile/src/__tests__/integration/paymentFlow.test.ts
  apps/mobile/src/__tests__/testUtilsRender.helper.tsx
  apps/mobile/tsconfig.test.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix security vulnerabilities flagged by Snyk
  apps/admin/src/app/(dashboard)/moments/page.tsx
  packages/design-system/scripts/design_token_generator.py
Due: eslint --fix, prettier --write

Fix TypeScript errors in ActiveFilters test by replacing deprecated UNSAFE methods
  apps/mobile/src/components/ActiveFilters.tsx
  apps/mobile/src/components/__tests__/ActiveFilters.test.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix TypeScript errors and ESLint warnings in ceremony components
  apps/mobile/src/components/ceremony/GiftVault.tsx
  apps/mobile/src/components/ceremony/MomentAuthenticator.tsx
  apps/mobile/src/components/ceremony/PassportBook.tsx
  apps/mobile/src/components/ceremony/ProofCeremonyFlow.tsx
  apps/mobile/src/types/custom.d.ts
  apps/mobile/tsconfig.test.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js
