Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

docs: Add PR description for launch readiness fixes
  PR_DESCRIPTION.md
Due: prettier --write

refactor: Remove travel/booking terminology and improve code clarity
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/features/discover/index.ts
  apps/mobile/src/features/settings/screens/HelpCenterScreen.tsx
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
  apps/mobile/src/services/requestService.ts
  apps/mobile/src/services/userService.ts
  apps/mobile/src/types/api.ts
  apps/mobile/src/types/db.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor: Eliminate duplicate validation and currency formatting utilities
  apps/mobile/src/utils/helpers.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

CRITICAL FIX: Remove ALL remaining travel/tour/booking terminology
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/(dashboard)/discovery-analytics/page.tsx
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/user-lifecycle/page.tsx
  apps/admin/src/app/privacy/page.tsx
  apps/admin/src/app/terms/page.tsx
  apps/admin/src/components/layout/header.tsx
  apps/admin/src/components/layout/sidebar.tsx
  apps/admin/src/hooks/use-chat-analytics.ts
  apps/mobile/src/components/ui/Paywall.tsx
  apps/mobile/src/config/storeMetadata.ts
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/auth/screens/SplashScreen.tsx
  apps/mobile/src/features/discover/components/constants.ts
  apps/mobile/src/features/moments/components/createMoment/DetailsSection.tsx
  apps/mobile/src/features/profile/screens/MyMomentsScreen.tsx
  apps/mobile/src/features/settings/screens/SafetyScreen.tsx
  apps/mobile/src/features/verifications/kyc/KYCDocumentTypeScreen.tsx
  apps/mobile/src/features/verifications/screens/ProofDetailScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

SECURITY FIX: Add special character requirement to password validation
  apps/mobile/src/utils/forms/schemas.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

CRITICAL FIXES: JSON validation, security, translation consistency
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
  apps/mobile/src/services/deepLinkHandler.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

DATABASE FIX: Align subscription tiers with mobile app
  supabase/migrations/20260124000000_fix_subscription_tiers.sql
  supabase/migrations/20260124000001_fix_vip_trigger_tier.sql
Due: none

PLAN: Admin panel streamline (52→10 pages)
  ADMIN_PANEL_STREAMLINE_PLAN.md
Due: prettier --write

COIN SYSTEM: Fix precision + remove duplicate rate declaration
  supabase/functions/paytr-withdraw/index.ts
  supabase/migrations/20260124000002_fix_coin_transaction_precision.sql
Due: none

COIN SYSTEM: Add idempotency + fix wallet race condition
  supabase/functions/paytr-withdraw/index.ts
  supabase/functions/revenuecat-webhook/index.ts
  supabase/migrations/20260124000002_fix_coin_transaction_precision.sql
Due: none

COIN SYSTEM: Dynamic config + fix balance column confusion
  apps/mobile/src/features/wallet/screens/CoinStoreScreen.tsx
  apps/mobile/src/services/walletService.ts
  supabase/functions/paytr-withdraw/index.ts
  supabase/migrations/20260124000003_system_financial_config.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: sync migration updates
  supabase/migrations/20260123090000_admin_views_pagination.sql
  supabase/migrations/20260124060000_fix_supabase_lints_from_csv.sql
  supabase/migrations/20260124130000_setup_storage_webhook.sql
Due: none

fix: resolve mobile type-check errors
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/wallet/screens/CoinStoreScreen.tsx
  apps/mobile/src/services/db/ProfileQueries.ts
  apps/mobile/src/services/deepLinkHandler.ts
  apps/mobile/src/services/walletService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(security): implement Vibe Coding Security Manifesto hardening
  apps/mobile/src/features/auth/services/authService.ts
  apps/mobile/src/features/messages/services/messagesService.ts
  apps/mobile/src/features/profile/services/profileService.ts
  apps/mobile/src/services/edgeFunctions.ts
  scripts/db-security-audit.sh
  supabase/functions/_shared/webhookGuard.ts
  supabase/functions/delete-account/index.ts
  supabase/functions/gift-approve/index.ts
  supabase/functions/revenuecat-webhook/index.ts
  supabase/functions/send-notification/index.ts
  supabase/functions/sendgrid-webhook/index.ts
  supabase/migrations/20260124000001_security_hardening_p0.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: align edge function payload types
  apps/mobile/src/services/edgeFunctions.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: cast edge function payload
  apps/mobile/src/services/edgeFunctions.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: define edge function payload type
  apps/mobile/src/services/edgeFunctions.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: Security Hardening, Admin UX Polish, and Mobile Loading States (Patch Pack 1)
  apps/admin/src/app/(auth)/login/page.tsx
  apps/admin/src/app/(dashboard)/users/page.tsx
  apps/admin/src/app/drops/page.tsx
  apps/admin/src/app/settings/inbound/page.tsx
  apps/admin/src/components/users/users-table.tsx
  apps/mobile/src/features/discover/screens/DiscoverScreen.tsx
  apps/mobile/src/features/drops/components/OfferBottomSheet.tsx
  apps/mobile/src/features/drops/screens/CityDropsScreen.tsx
  apps/mobile/src/features/drops/screens/DropDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
  supabase/functions/unlock-conversation/index.ts
  supabase/migrations/20260203000000_product_expansion_schema.sql
  supabase/migrations/20260205000000_offer_rpcs.sql
  supabase/migrations/20260205000001_update_offer_rpc_and_trigger.sql
  supabase/migrations/20260205000002_fix_offer_transfer_logic.sql
  supabase/migrations/20260301000000_security_lockdown.sql
  supabase/migrations/20260301000001_secure_views.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix failed tests and database migrations
  apps/mobile/src/services/__tests__/paymentService.timeout.test.ts
  apps/mobile/src/services/__tests__/supabaseDbService.performance.test.ts
  apps/mobile/src/services/__tests__/supabaseDbService.test.ts
  apps/mobile/src/services/db/ProfileQueries.ts
  supabase/migrations/20260124000000_fix_subscription_tiers.sql
  supabase/migrations/20260124000002_fix_coin_transaction_precision.sql
  supabase/migrations/20260124000005_fix_subscription_tiers.sql
  supabase/migrations/20260124000006_security_hardening_p0.sql
  supabase/migrations/20260203000000_fix_users_pii_exposure.sql
  supabase/migrations/20260203000001_product_expansion_schema.sql
  supabase/migrations/20260301000000_security_lockdown.sql
  supabase/migrations/20260301000001_secure_views.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Remove unused drops feature (CityDrops, DropDetail, OfferSheet)
  apps/mobile/src/features/drops/components/OfferBottomSheet.tsx
  apps/mobile/src/features/drops/screens/CityDropsScreen.tsx
  apps/mobile/src/features/drops/screens/DropDetailScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Remove redundant documentation and SQL files
  ADMIN_PANEL_STREAMLINE_PLAN.md
  BRANCH_PROTECTION_RULES.md
  LAUNCH_READINESS_COMPLETE.md
  PROMPT_TEMPLATES.md
  PR_DESCRIPTION.md
  REPO_MAP.md
  check_policies.sql
  debug_audit.sql
  docs/BUG_BASH_MATRIX.md
Due: prettier --write

feat(mobile): add Maestro E2E testing infrastructure
  .github/workflows/maestro-e2e.yml
  apps/mobile/.maestro/README.md
  apps/mobile/.maestro/TESTID_STRATEGY.md
  apps/mobile/.maestro/config.yaml
  apps/mobile/.maestro/flows/auth_email_otp.yaml
  apps/mobile/.maestro/flows/cold_start.yaml
  apps/mobile/.maestro/flows/empty_state.yaml
  apps/mobile/.maestro/flows/image_upload.yaml
  apps/mobile/.maestro/flows/logout_login_cycle.yaml
  apps/mobile/.maestro/flows/onboarding_minimal.yaml
  apps/mobile/.maestro/flows/purchase_revenuecat.yaml
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/auth/screens/UnifiedAuthScreen.tsx
  apps/mobile/src/features/auth/screens/VerifyCodeScreen.tsx
  apps/mobile/src/features/auth/screens/WelcomeScreen.tsx
  apps/mobile/src/features/discover/screens/DiscoverScreen.tsx
  apps/mobile/src/features/settings/screens/AppSettingsScreen.tsx
  apps/mobile/src/features/wallet/screens/CoinStoreScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: complete P0/P1 launch readiness fixes
  .github/workflows/accessibility-audit.yml
  .github/workflows/build.yml
  .github/workflows/monorepo-ci.yml
  .github/workflows/performance-ci.yml
  apps/admin/next.config.js
  apps/admin/src/app/api/dashboard/route.ts
  apps/admin/src/lib/supabase.server.ts
  apps/admin/src/lib/supabase.ts
  apps/mobile/src/context/RealtimeContext.tsx
  services/shared/ml/openai-client.ts
  supabase/functions/ai-content-scan/index.ts
  supabase/functions/handle-storage-upload/index.ts
  turbo.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: complete remaining P1 launch readiness fixes
  apps/admin/src/lib/rate-limit.ts
  apps/mobile/src/components/ui/RequiredIndicator.tsx
  apps/mobile/src/constants/motion.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(security): critical security hardening for launch readiness
  scripts/create-admin-user.ts
  scripts/reset-admin-password.ts
  supabase/functions/auth-proxy/index.ts
  supabase/functions/revenuecat-webhook/index.ts
  supabase/functions/sendgrid-webhook/index.ts
Due: none

feat(ui/ux): improve accessibility and loading states
  apps/admin/src/components/ui/button.tsx
  apps/admin/src/components/ui/input.tsx
  apps/mobile/src/components/ui/GlassModal.tsx
  apps/mobile/src/features/inbox/screens/InboxScreen.tsx
  apps/mobile/src/hooks/useReducedMotion.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: TypeScript errors and tests in mobile app
  apps/mobile/src/__tests__/integration/authFlow.test.ts
  apps/mobile/src/__tests__/integration/paymentFlow.test.ts
  apps/mobile/src/components/__stories__/ErrorState.stories.tsx
  apps/mobile/src/components/__stories__/Interactions.stories.tsx
  apps/mobile/src/components/__stories__/OfflineBanner.stories.tsx
  apps/mobile/src/components/__tests__/AnimatedComponents.test.tsx
  apps/mobile/src/components/ui/__stories__/Avatar.stories.tsx
  apps/mobile/src/components/ui/__stories__/Badge.stories.tsx
  apps/mobile/src/components/ui/__stories__/Button.stories.tsx
  apps/mobile/src/components/ui/__stories__/Card.stories.tsx
  apps/mobile/src/components/ui/__stories__/Input.stories.tsx
  apps/mobile/src/components/ui/__tests__/Button.enhanced.test.tsx
  apps/mobile/src/components/ui/__tests__/Divider.test.tsx
  apps/mobile/src/components/ui/__tests__/EmptyState.test.tsx
  apps/mobile/src/components/ui/__tests__/FormComponents.test.tsx
  apps/mobile/src/constants/motion.ts
  apps/mobile/src/context/RealtimeContext.tsx
  apps/mobile/src/context/__tests__/BiometricAuthContext.test.tsx
  apps/mobile/src/features/wallet/screens/CoinStoreScreen.tsx
  apps/mobile/src/services/__tests__/messageService.test.ts
  apps/mobile/src/services/__tests__/paymentService.cancellation.test.ts
  apps/mobile/src/services/__tests__/paymentService.complete.test.ts
  apps/mobile/src/services/__tests__/paymentService.concurrency.test.ts
  apps/mobile/src/services/__tests__/paymentService.retry.test.ts
  apps/mobile/src/services/__tests__/paymentService.timeout.test.ts
  apps/mobile/src/services/__tests__/paymentService.webhook.test.ts
  apps/mobile/src/services/__tests__/sessionManager.test.ts
  apps/mobile/src/services/__tests__/supabaseAuthService.test.ts
  apps/mobile/src/services/userService.ts
  supabase/_archive/duplicate_migrations/20260120000001_auto_cleanup.sql
  supabase/_archive/duplicate_migrations/20260120000002_admin_dashboard.sql
  supabase/_archive/duplicate_migrations/20260123000000_create_reports_table.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(ci): resolve lint and test failures for merge readiness
  apps/admin/jest.config.js
  apps/admin/package.json
  apps/admin/src/__mocks__/@upstash/ratelimit.ts
  apps/admin/src/__mocks__/@upstash/redis.ts
  apps/admin/src/app/(dashboard)/finance/page.tsx
  apps/admin/src/app/(dashboard)/moderation/page.tsx
  apps/mobile/src/__tests__/integration/authFlow.test.ts
  apps/mobile/src/features/verifications/kyc/KYCReviewScreen.tsx
  apps/mobile/src/features/verifications/kyc/KYCSelfieScreen.tsx
  apps/mobile/src/services/userService.ts
  pnpm-lock.yaml
  services/job-queue/jest.config.cjs
  services/job-queue/src/__tests__/auth-middleware.test.ts
  services/job-queue/src/index.ts
  services/job-queue/src/workers/email-worker.ts
  services/job-queue/src/workers/kyc-worker.ts
  services/job-queue/src/workers/notification-worker.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor(kyc): remove Onfido, use idenfy as sole KYC provider
  docker-compose.yml
  services/job-queue/.env.example
  services/job-queue/src/jobs/index.ts
  services/job-queue/src/workers/kyc-worker.ts
Due: eslint --fix, prettier --write

refactor(mobile): remove unused trip/travel code and schemas
  apps/mobile/src/components/ui/Skeleton.tsx
  apps/mobile/src/components/ui/__tests__/Skeleton.test.tsx
  apps/mobile/src/utils/forms/schemas.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: update auto-generated config files
  apps/admin/next-env.d.ts
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/gradle.properties
  apps/mobile/android/sentry.properties
  apps/mobile/ios/sentry.properties
Due: eslint --fix, prettier --write

fix(mobile): remove duplicate object keys and fix subscribeToConversation return type
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/services/userService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(vercel): simplify vercel configs for deployment
  .vscode/settings.json
  apps/admin/vercel.json
  apps/web/vercel.json
Due: prettier --write

docs: update deployment guide with new architecture
  DEPLOYMENT_GUIDE.md
Due: prettier --write

fix: vercel outputDirectory path
  apps/web/vercel.json
Due: prettier --write

fix: Resolve mobile type-check and lint errors
  apps/mobile/src/components/ErrorBoundary.tsx
  apps/mobile/src/components/ThankYouFlowModal.tsx
  apps/mobile/src/components/withErrorBoundary.tsx
  apps/mobile/src/constants/trustNotesRules.ts
  apps/mobile/src/features/discover/components/PlaceAutocomplete.tsx
  apps/mobile/src/features/discover/components/StoryList.tsx
  apps/mobile/src/features/discover/screens/MyDisputesScreen.tsx
  apps/mobile/src/features/discover/services/disputesService.ts
  apps/mobile/src/features/settings/screens/InviteFriendsScreen.tsx
  apps/mobile/src/hooks/useConversationsRealtime.ts
  apps/mobile/src/hooks/useMessagingEligibility.ts
  apps/mobile/src/hooks/usePlaceSearch.ts
  apps/mobile/src/services/MediaService.ts
  apps/mobile/src/services/supabase.ts
  apps/mobile/src/services/userService.ts
  apps/mobile/src/utils/imageCompression.ts
  apps/mobile/src/utils/screenWrappers.tsx
  apps/web/src/app/moment/[id]/page.tsx
  apps/web/src/app/moments/[id]/page.tsx
  apps/web/src/data/content.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: update Deno imports for Supabase Edge Functions
  apps/mobile/src/components/ui/NeonPulseMarker.tsx
  apps/mobile/src/constants/trustNotesRules.ts
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/features/discover/components/StoryList.tsx
  apps/mobile/src/features/discover/components/types.ts
  apps/mobile/src/features/discover/screens/SearchMapScreen.tsx
  apps/mobile/src/hooks/useLocationPermission.ts
  apps/mobile/src/services/deepLinkHandler.ts
  apps/mobile/src/services/securePaymentService.ts
  apps/mobile/src/utils/imageCompression.ts
  supabase/functions/get-idenfy-token/index.ts
  supabase/functions/handle-storage-upload/index.ts
  supabase/functions/idenfy-webhook/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
