Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(a11y): add accessibility to Badge, TMPill, PasswordInput + fix logger silent catch
  apps/mobile/src/components/ui/Badge.tsx
  apps/mobile/src/components/ui/PasswordInput.tsx
  apps/mobile/src/components/ui/TMPill.tsx
  apps/mobile/src/utils/logger.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(mobile): add proper error logging to user-facing catch blocks
  apps/mobile/eslint.config.mjs
  apps/mobile/src/features/auth/screens/ChangePasswordScreen.tsx
  apps/mobile/src/features/auth/screens/ForgotPasswordScreen.tsx
  apps/mobile/src/features/auth/screens/PhoneAuthScreen.tsx
  apps/mobile/src/features/auth/screens/SetPasswordScreen.tsx
  apps/mobile/src/features/auth/screens/TwoFactorSetupScreen.tsx
  apps/mobile/src/features/auth/screens/VerifyCodeScreen.tsx
  apps/mobile/src/features/moments/components/createMoment/DetailsSection.tsx
  apps/mobile/src/features/moments/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/payments/components/EditCardModal.tsx
  apps/mobile/src/features/payments/screens/CheckoutScreen.tsx
  apps/mobile/src/features/payments/screens/ProofReviewScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/profile/screens/ShareMomentScreen.tsx
  apps/mobile/src/features/verifications/components/MomentAuthenticator.tsx
  apps/mobile/src/features/verifications/kyc/KYCReviewScreen.tsx
  apps/mobile/src/features/verifications/screens/ProofFlowScreen.tsx
  apps/mobile/src/features/wallet/screens/WalletScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

docs: clarify design-system migration as post-launch phase
  apps/mobile/src/constants/colors.ts
  packages/design-system/src/native/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore(mobile): optimize .easignore for monorepo (667MB → ~20MB)
  app.json
  apps/mobile/.easignore
  apps/mobile/eas.json
  apps/mobile/package.json
  apps/mobile/webpack.performance.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: add root .easignore for monorepo EAS builds
  .easignore
Due: none

fix(eas): remove trailing slashes from .easignore for EAS compatibility
  .easignore
  apps/mobile/.easignore
Due: none

fix(eas): add .venv to easignore - was 2.4GB
  .easignore
  apps/mobile/.easignore
Due: none

fix(eas): hardcode Apple credentials in submit config
  apps/mobile/eas.json
Due: prettier --write

fix(eas): configure pnpm as package manager for EAS builds
  apps/mobile/eas.json
Due: prettier --write

fix(eas): remove invalid packageManager from cli config
  apps/mobile/eas.json
Due: prettier --write

fix(eas): add eas-build-pre-install hook for pnpm, upgrade to Node 20
  .nvmrc
  apps/mobile/eas.json
  package.json
Due: prettier --write

fix(eas): add package-lock.json for EAS npm ci compatibility
  package-lock.json
Due: prettier --write

fix(eas): remove package-lock.json to force pnpm detection
  .gitignore
  package-lock.json
Due: prettier --write

fix(eas): remove eas-build-pre-install hook, let EAS auto-detect pnpm
  package.json
Due: prettier --write

fix(eas): remove package-lock.json to use pnpm (like build #28)
  .gitignore
  app.json
Due: prettier --write

fix(eas): use /services to exclude only root services folder, not src/services
  .easignore
  apps/mobile/.easignore
Due: none

fix: resolve expo-doctor warnings - duplicate deps and script conflicts
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add missing supercluster dependency
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add missing expo-clipboard dependency
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add 8 missing dependencies for EAS build
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: disable New Architecture to debug startup crash
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js
