Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "node scripts/jest-mobile-lint-staged.js"],
  "apps/web/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/admin/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Add bottom tab navigation with floating tab bar
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/MainTabNavigator.tsx
  apps/mobile/src/navigation/routeParams.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Add comprehensive TravelMatch platform analysis report v5.0
  docs/PLATFORM_ANALYSIS_REPORT.md
Due: prettier --write

Fix P0 security and code quality issues
  apps/mobile/src/features/payments/screens/TransactionDetailScreen.tsx
  apps/mobile/src/screens/SearchMapScreen.tsx
  services/job-queue/src/index.ts
  services/job-queue/src/webhooks.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix P1: Remove 'any' types from navigation props in feature screens
  apps/mobile/src/features/auth/screens/BiometricSetupScreen.tsx
  apps/mobile/src/features/auth/screens/ChangePasswordScreen.tsx
  apps/mobile/src/features/auth/screens/EmailVerificationScreen.tsx
  apps/mobile/src/features/auth/screens/ForgotPasswordScreen.tsx
  apps/mobile/src/features/auth/screens/InterestSelectionScreen.tsx
  apps/mobile/src/features/auth/screens/LocationPermissionScreen.tsx
  apps/mobile/src/features/payments/screens/EarningsScreen.tsx
  apps/mobile/src/features/payments/screens/GiftUnboxingScreen.tsx
  apps/mobile/src/features/payments/screens/PayoutSettingsScreen.tsx
  apps/mobile/src/features/payments/screens/PromoCodeScreen.tsx
  apps/mobile/src/features/payments/screens/RefundRequestScreen.tsx
  apps/mobile/src/features/payments/screens/SuccessScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix keyboard dismiss, navigation typing, and calendar validation issues
  apps/mobile/src/features/payments/screens/AddCardScreen.tsx
  apps/mobile/src/features/payments/screens/RefundRequestScreen.tsx
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
  apps/mobile/src/features/settings/screens/ContactSupportScreen.tsx
  apps/mobile/src/features/settings/screens/DeleteAccountScreen.tsx
  apps/mobile/src/features/settings/screens/ReportUserScreen.tsx
  apps/mobile/src/features/trips/screens/DisputeScreen.tsx
  apps/mobile/src/screens/DateTimePickerScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: critical security and authentication improvements
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/features/auth/screens/ChangePasswordScreen.tsx
  apps/mobile/src/features/auth/screens/ForgotPasswordScreen.tsx
  apps/mobile/src/services/biometricAuth.ts
  apps/mobile/src/services/supabaseAuthService.ts
  apps/mobile/src/utils/secureStorage.ts
  apps/mobile/src/utils/security.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: add i18n support for error screens
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
  apps/mobile/src/screens/LinkInvalidScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix ChatDetailScreen empty catch block and improve DateTimePickerScreen
  apps/mobile/src/features/chat/screens/ChatDetailScreen.tsx
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
  apps/mobile/src/navigation/routeParams.ts
  apps/mobile/src/screens/DateTimePickerScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Add i18n support to CreateMomentScreen
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Use typed useNavigation hook from useNavigationHelpers
  apps/mobile/src/features/auth/screens/ChangePasswordScreen.tsx
  apps/mobile/src/features/auth/screens/ForgotPasswordScreen.tsx
  apps/mobile/src/screens/DateTimePickerScreen.tsx
  apps/mobile/src/screens/LinkInvalidScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Integrate WithdrawScreen with usePayments hook for proper limits
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix critical security vulnerabilities and type safety issues
  apps/mobile/src/components/ShareMomentBottomSheet.tsx
  apps/mobile/src/features/auth/screens/SetPasswordScreen.tsx
  apps/mobile/src/features/auth/screens/VerifyCodeScreen.tsx
  apps/mobile/src/features/auth/screens/WaitingForCodeScreen.tsx
  apps/mobile/src/features/inbox/screens/InboxScreen.tsx
  apps/mobile/src/features/payments/screens/PayTRWebViewScreen.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/profile/screens/MyMomentsScreen.tsx
  apps/mobile/src/hooks/useMessages.ts
  apps/mobile/src/screens/LinkNotFoundScreen.tsx
  apps/mobile/src/services/deepLinkTracker.ts
  apps/mobile/src/utils/sslPinning.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix remaining type safety issues and standardize codebase
  apps/mobile/src/components/BottomNav.tsx
  apps/mobile/src/components/__tests__/ShareMomentBottomSheet.test.tsx
  apps/mobile/src/components/layout/FloatingDock.tsx
  apps/mobile/src/features/auth/screens/TwoFactorSetupScreen.tsx
  apps/mobile/src/features/profile/screens/DeletedMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/MyHostedMomentsScreen.tsx
  apps/mobile/src/hooks/useProfile.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Add proper error logging to catch blocks and fix error handling
  apps/mobile/src/components/BlockConfirmation.tsx
  apps/mobile/src/components/GiftCelebration.tsx
  apps/mobile/src/components/ReportModal.tsx
  apps/mobile/src/components/ShareMomentBottomSheet.tsx
  apps/mobile/src/utils/secureStorage.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix critical database references, security vulnerabilities, and type safety
  apps/admin/src/app/api/analytics/route.ts
  apps/admin/src/app/api/disputes/route.ts
  apps/admin/src/app/api/escrow/route.ts
  apps/admin/src/app/api/kyc/route.ts
  apps/admin/src/app/api/moments/route.ts
  apps/admin/src/app/api/proofs/route.ts
  apps/admin/src/app/api/reports/[id]/route.ts
  apps/admin/src/app/api/reports/route.ts
  apps/admin/src/app/api/stats/route.ts
  apps/admin/src/app/api/transactions/route.ts
  apps/admin/src/app/api/users/[id]/route.ts
  apps/admin/src/app/api/users/route.ts
  apps/admin/src/app/api/vip-users/route.ts
  apps/admin/src/app/api/wallets/route.ts
  apps/mobile/src/components/ui/Input.tsx
  apps/mobile/src/config/sentry.ts
  apps/mobile/src/features/profile/screens/ProofFlowScreen.tsx
  apps/mobile/src/features/profile/services/profileApi.ts
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/hooks/useDeepLinking.ts
  apps/mobile/src/services/infisicalService.ts
  apps/mobile/src/utils/sslPinning.ts
  services/shared/ml/feature-store.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Add i18n support to WithdrawScreen and fix Supabase error handling
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/services/paymentService.ts
  apps/mobile/src/services/requestService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix TypeScript type errors and XSS vulnerability in moments page
  apps/admin/src/app/(dashboard)/moments/page.tsx
Due: eslint --fix, prettier --write

Fix ESLint configuration and resolve linting errors
  .eslintrc.js
  tests/load/api-load-test.js
  tests/performance/benchmarks.test.ts
Due: none

Fix TypeScript errors across mobile app
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/features/payments/index.ts
  apps/mobile/src/features/profile/index.ts
  apps/mobile/src/features/settings/index.ts
  apps/mobile/src/features/settings/screens/SettingsScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/features/trips/screens/RequestManagerScreen.tsx
  apps/mobile/src/features/wallet/screens/WalletScreen.tsx
  apps/mobile/src/hooks/useProfile.ts
  apps/mobile/src/hooks/useWallet.ts
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/MainTabNavigator.tsx
  apps/mobile/src/navigation/routeParams.ts
  apps/mobile/src/services/giftOfferService.ts
  apps/mobile/src/services/userService.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Exclude integration, performance, and load tests from ESLint
  .eslintrc.js
Due: none
