Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf(mobile): DEFCON 2 performance and type safety improvements
  apps/mobile/src/components/RecentSearches.tsx
  apps/mobile/src/components/ui/EnhancedSearchBar.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: Add GOD MODE System Architect prompt and forensic audit report
  FORENSIC_AUDIT_2025-12-19.md
  SYSTEM_ARCHITECT_PROMPT.md
Due: prettier --write

docs: Add unified Platinum Standard Roadmap 2026
  PLATINUM_STANDARD_ROADMAP.md
Due: prettier --write

fix: Supabase migrations - separated CONCURRENTLY indexes, fixed FK constraint
  .turbo/cookies/10.cookie
  .turbo/cookies/11.cookie
  .turbo/cookies/12.cookie
  .turbo/cookies/13.cookie
  .turbo/cookies/4.cookie
  .turbo/cookies/5.cookie
  .turbo/cookies/6.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  supabase/migrations/20251217200000_enable_atomic_transfer.sql
  supabase/migrations/20251219200000_platinum_security_fixes.sql
  supabase/migrations/20251219200001_atomic_transfer_grants.sql
  supabase/migrations/20251219200002_performance_indexes.sql
Due: none

fix: reduce type errors from 141 to 22
  apps/mobile/src/schemas/payment.schema.ts
  apps/mobile/src/services/cacheService.ts
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/types/adapters.ts
  apps/mobile/tsconfig.json
  docs/audits/FORENSIC_AUDIT_2025-12-19.md
  docs/roadmaps/PLATINUM_STANDARD_ROADMAP.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: resolve all TypeScript type errors (22 → 0)
  apps/mobile/src/components/ui/EnhancedSearchBar.tsx
  apps/mobile/src/services/db/queries.ts
  apps/mobile/src/services/moderationService.ts
  apps/mobile/src/services/notificationService.ts
  apps/mobile/src/services/paymentMigration.ts
  apps/mobile/src/services/paymentService.ts
  apps/mobile/src/services/paymentsApi.ts
  apps/mobile/src/services/requestService.ts
  apps/mobile/src/services/reviewService.ts
  apps/mobile/src/services/supabaseDbService.ts
  apps/mobile/src/services/uploadService.ts
  apps/mobile/src/types/database.types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: remove BEGIN/COMMIT from migration for Supabase CLI compatibility
  supabase/migrations/20251220000000_restore_atomic_transfer.sql
Due: none

fix: optimize lint-staged to prevent SIGKILL memory issues
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: resolve test failures and update snapshots
  apps/mobile/src/utils/__tests__/storage.encryption.test.ts
  tests/integration/feedFlow.test.ts
  tests/integration/realtimeContext.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(tests): fix multiple test suites and clean up unused HomeScreen
  apps/mobile/src/components/__tests__/BottomNav.test.tsx
  apps/mobile/src/components/ui/__tests__/ControlledInput.test.tsx
  apps/mobile/src/components/ui/__tests__/EmptyState.test.tsx
  apps/mobile/src/components/ui/__tests__/FormComponents.test.tsx
  apps/mobile/src/components/ui/__tests__/GenericBottomSheet.test.tsx
  apps/mobile/src/components/ui/__tests__/MomentCard.test.tsx
  apps/mobile/src/components/ui/__tests__/SkeletonList.test.tsx
  apps/mobile/src/components/ui/__tests__/__snapshots__/ControlledInput.test.tsx.snap
  apps/mobile/src/hooks/__tests__/useAuth.test.tsx
  apps/mobile/src/screens/HomeScreen.tsx
  apps/mobile/src/screens/__tests__/HomeScreen.test.tsx
  apps/mobile/src/services/__tests__/paymentService.test.ts
  apps/mobile/src/utils/__tests__/logger.test.ts
  apps/mobile/src/utils/__tests__/storage.encryption.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: Codecov integration (Coverage, Bundle Analysis, Test Analytics)
  .github/workflows/ci.yml
  .vscode/settings.json
  .vscode/travelmatch.code-workspace
  README.md
  apps/mobile/jest.config.js
  apps/mobile/src/screens/HomeScreen.tsx
  apps/mobile/src/services/loggingService.ts
  apps/mobile/src/utils/memoryLeakDetector.ts
  apps/mobile/tsconfig.json
  apps/web/next.config.ts
  apps/web/package.json
  codecov.yml
  package.json
  packages/design-system/jest.config.js
  packages/shared/jest.config.js
  pnpm-lock.yaml
  tests/integration/tabModalNavigation.test.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: simplify atomic_transfer migration for supabase push compatibility
  supabase/migrations/20251220000000_restore_atomic_transfer.sql
Due: none

chore: upgrade supabase CLI to v2.67.3 & add RLS InitPlan optimization
  package.json
  pnpm-lock.yaml
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/storage-version
  supabase/migrations/20251221000000_rls_initplan_optimization.sql
Due: prettier --write

docs: Add comprehensive code review report
  CODE_REVIEW_REPORT.md
Due: prettier --write

docs(security): Add comprehensive penetration test report
  PENTEST_REPORT_2025-12-22.md
Due: prettier --write

docs(compliance): Add comprehensive compliance assessment and checklist
  docs/COMPLIANCE_ASSESSMENT_2025.md
  docs/COMPLIANCE_CHECKLIST.md
Due: prettier --write

security: OWASP compliance audit and vulnerability fixes
  SECURITY_AUDIT_REPORT.md
  apps/admin/next.config.js
  apps/admin/src/app/api/admin-users/route.ts
  apps/admin/src/app/api/auth/login/route.ts
  apps/admin/src/app/api/auth/verify-2fa/route.ts
  apps/admin/src/app/api/users/route.ts
  apps/admin/src/lib/security.ts
  apps/web/next.config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf(mobile): optimize Supabase realtime subscriptions
  apps/mobile/src/config/supabase.ts
  apps/mobile/src/context/RealtimeContext.tsx
  apps/mobile/src/hooks/useMessages.ts
  apps/mobile/src/services/realtimeChannelManager.ts
  apps/mobile/src/services/subscriptionService.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf(mobile): optimize React performance with memoization
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/context/I18nContext.tsx
  apps/mobile/src/context/RealtimeContext.tsx
  apps/mobile/src/context/ToastContext.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(admin): resolve TypeScript compilation errors
  apps/admin/package.json
  apps/admin/src/app/api/auth/login/route.ts
  apps/admin/src/app/api/auth/setup-2fa/route.ts
  apps/admin/src/app/api/reports/[id]/route.ts
  apps/admin/src/app/api/tasks/[id]/route.ts
  apps/admin/src/app/api/tasks/route.ts
  apps/admin/src/lib/auth.ts
  apps/admin/src/lib/index.ts
  apps/admin/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(testing): Add comprehensive test automation infrastructure
  .github/workflows/ci.yml
  apps/admin/jest.config.js
  apps/admin/jest.setup.js
  apps/admin/package.json
  apps/admin/src/components/ui/__tests__/button.test.tsx
  apps/admin/src/lib/__tests__/utils.test.ts
  apps/admin/src/stores/__tests__/auth-store.test.ts
  apps/web/app/__tests__/page.test.tsx
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/package.json
  package.json
  packages/test-utils/package.json
  packages/test-utils/src/factories/content.factory.ts
  packages/test-utils/src/factories/index.ts
  packages/test-utils/src/factories/user.factory.ts
  packages/test-utils/src/helpers/async.helper.ts
  packages/test-utils/src/helpers/dom.helper.ts
  packages/test-utils/src/helpers/index.ts
  packages/test-utils/src/helpers/render.helper.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/mocks/index.ts
  packages/test-utils/src/mocks/next.mock.ts
  packages/test-utils/src/mocks/supabase.mock.ts
  packages/test-utils/tsconfig.json
  playwright.config.ts
  services/job-queue/jest.config.js
  services/job-queue/package.json
  services/ml/jest.config.js
  services/ml/package.json
  services/payment/jest.config.js
  services/payment/package.json
  tests/e2e-playwright/admin/login.spec.ts
  tests/e2e-playwright/web/homepage.spec.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

security: Fix critical API vulnerabilities (OWASP Top 10)
  .env.example
  SECURITY_AUDIT_REPORT.md
  apps/admin/next.config.js
  apps/admin/nginx.conf
  apps/admin/src/app/api/admin-users/route.ts
  apps/admin/src/app/api/tasks/route.ts
  apps/admin/src/app/api/users/[id]/route.ts
  apps/admin/src/app/api/users/route.ts
  apps/admin/src/lib/query-utils.ts
  services/job-queue/src/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: Update comprehensive audit report with compliance assessment
  CODE_REVIEW_REPORT.md
Due: prettier --write

docs(database): Add comprehensive database architecture documentation
  docs/DATABASE_ARCHITECTURE.md
  docs/DATABASE_ERD.md
  docs/DATABASE_OPTIMIZATION_GUIDE.md
Due: prettier --write

docs: Add comprehensive branch merge roadmap
  BRANCH_ROADMAP.md
Due: prettier --write

feat(art): Add Celestial Murmuration algorithmic art generator
  algorithmic-art/celestial-murmuration.html
  algorithmic-art/celestial-murmuration.md
Due: prettier --write

feat(db): Apply PostgreSQL schema best practices
  docs/DATABASE_SCHEMA.md
  supabase/migrations/20251222000000_schema_best_practices.sql
Due: prettier --write

feat(design-system): Add UI design system toolkit with Python scripts
  packages/design-system/package.json
  packages/design-system/scripts/accessibility_checker.py
  packages/design-system/scripts/design_token_generator.py
  packages/design-system/scripts/handoff_generator.py
  packages/design-system/scripts/responsive_calculator.py
Due: prettier --write

docs: update project documentation with implementation status
  ADMIN_PANEL_ROADMAP.md
  README.md
  apps/admin/README.md
  docs/LAUNCH_CHECKLIST.md
  docs/README.md
Due: prettier --write

refactor: improve code quality and fix TypeScript errors
  apps/mobile/src/__tests__/testUtilsRender.helper.tsx
  apps/mobile/src/components/BlockConfirmation.tsx
  apps/mobile/src/components/CardListItem.tsx
  apps/mobile/src/components/GiftInboxCard.tsx
  apps/mobile/src/components/ReportModal.tsx
  apps/mobile/src/components/ShareMomentBottomSheet.tsx
  apps/mobile/src/components/SocialButton.tsx
  scripts/bundle-size-check.mts
  scripts/generate-device-farm-report.mts
  tests/integration/deepLinkHandler.test.tsx
  tests/integration/moments.integration.test.tsx
  tests/integration/navigationStatePersistence.test.tsx
  tests/performance/benchmarks.test.ts
  tests/performance/benchmarks.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(architecture): Add comprehensive architecture documentation
  docs/architecture/ARCHITECTURE.md
  docs/architecture/C4_MODEL.md
  docs/architecture/DATA_ARCHITECTURE.md
  docs/architecture/README.md
  docs/architecture/SECURITY_ARCHITECTURE.md
  docs/architecture/adr/ADR-001-monorepo-turborepo.md
  docs/architecture/adr/ADR-002-supabase-backend.md
  docs/architecture/adr/ADR-003-react-native-expo.md
  docs/architecture/adr/ADR-004-zustand-state-management.md
  docs/architecture/adr/ADR-005-row-level-security.md
  docs/architecture/adr/README.md
Due: prettier --write

feat(ux): Add comprehensive UX research and design toolkit
  scripts/README.md
  scripts/ux-research/README.md
  scripts/ux-research/design_validator.py
  scripts/ux-research/journey_mapper.py
  scripts/ux-research/persona_generator.py
  scripts/ux-research/research_synthesizer.py
  scripts/ux-research/usability_testing.py
Due: prettier --write

test: add comprehensive test suite for shared package and admin lib
  apps/admin/jest.config.js
  apps/admin/jest.setup.js
  apps/admin/package.json
  apps/admin/src/lib/__tests__/formatters.test.ts
  apps/admin/src/lib/__tests__/permissions.test.ts
  apps/admin/src/lib/__tests__/rate-limit.test.ts
  apps/admin/src/lib/__tests__/validators.test.ts
  packages/shared/src/__tests__/currency.test.ts
  packages/shared/src/__tests__/date.test.ts
  packages/shared/src/__tests__/formatters.test.ts
  packages/shared/src/__tests__/schemas.test.ts
  packages/shared/src/__tests__/validation.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: update pnpm-lock.yaml with test dependencies
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
