Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: resolve migration conflicts and apply to Supabase
  supabase/migrations/20250107_ai_ml_services.sql
  supabase/migrations/20250107_engagement_analytics.sql
  supabase/migrations/20250107_event_tracking.sql
  supabase/migrations/20250107_video_soc2.sql
  supabase/migrations/20250108_video_infrastructure.sql
  supabase/migrations/20251207000000_file_upload_validation.sql
  supabase/migrations/20251208_comprehensive_index_strategy.sql
  supabase/migrations/20251208_create_audit_logs_table.sql
  supabase/migrations/20251208_create_rate_limits.sql
  supabase/migrations/20251208_database_optimizations.sql
  supabase/migrations/20251208_gdpr_compliance.sql
  supabase/migrations/20251208_materialized_views.sql
  supabase/migrations/20251208_moments_indexing.sql
  supabase/migrations/20251208_soft_delete_implementation.sql
  supabase/migrations/20251208_unused_index_cleanup.sql
  supabase/migrations/20251209000000_add_kyc_verifications.sql
  supabase/migrations/20251209000001_cdn_invalidation_triggers.sql
  supabase/migrations/20251209000002_feed_delta.sql
  supabase/migrations/20251209000003_feed_delta_triggers.sql
  supabase/migrations/20251209000004_mobile_optimizations.sql
  supabase/migrations/20251209000005_normalize_conversations.sql
  supabase/migrations/20251209000006_ai_ml_services.sql
  supabase/migrations/20251209000007_engagement_analytics.sql
  supabase/migrations/20251209000008_event_tracking.sql
  supabase/migrations/20251209000009_video_soc2.sql
  supabase/migrations/20251209000010_video_infrastructure.sql
  supabase/migrations/20251209000011_comprehensive_index_strategy.sql
  supabase/migrations/20251209000012_create_audit_logs_table.sql
  supabase/migrations/20251209000013_create_rate_limits.sql
  supabase/migrations/20251209000014_database_optimizations.sql
  supabase/migrations/20251209000015_gdpr_compliance.sql
  supabase/migrations/20251209000016_materialized_views.sql
  supabase/migrations/20251209000017_moments_indexing.sql
  supabase/migrations/20251209000018_soft_delete_implementation.sql
  supabase/migrations/20251209000019_unused_index_cleanup.sql
Due: none

refactor: Migrate to proper monorepo structure - move mobile files to apps/mobile
  apps/mobile/App.tsx
  apps/mobile/app.config.ts
  apps/mobile/babel.config.js
  apps/mobile/eas.json
  apps/mobile/index.ts
  apps/mobile/metro.config.js
  apps/mobile/package.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: production hardening & architecture validation
  .dockerignore
  .env.turbo.example
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .node-version
  .nvmrc
  README.md
  apps/admin/Dockerfile
  apps/admin/nginx.conf
  apps/web/Dockerfile
  apps/web/app/api/health/route.ts
  apps/web/next.config.ts
  docker-compose.yml
  docs/MONOREPO_ARCHITECTURE_STATUS.md
  docs/MONOREPO_FINAL_OPTIMIZATIONS.md
  package.json
  turbo.json
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: temporarily disable pre-push tests
  .husky/pre-push
Due: none

docs: add comprehensive project analysis and test reorganization proposals
  README.md
  docs/ANALYSIS_REPORTS_INDEX.md
  docs/AUTH_IMPLEMENTATION_GUIDE.md
  docs/COMPREHENSIVE_PROJECT_ANALYSIS.md
  docs/PROJECT_DASHBOARD.md
  docs/QUICK_ACTION_PLAN.md
  docs/TEST_MIGRATION_SAFE_GUIDE.md
  docs/TEST_REORGANIZATION_PROPOSAL.md
Due: prettier --write

refactor(monorepo): clean root directory - move mobile configs to apps/mobile
  apps/mobile/.bundlewatch.yml
  apps/mobile/.device-farm.yml
  apps/mobile/.easignore
  apps/mobile/.maestro/01-login.yaml
  apps/mobile/.maestro/07-signup.yaml
  apps/mobile/.maestro/08-forgot-password.yaml
  apps/mobile/.maestro/10-search-filter.yaml
  apps/mobile/.maestro/11-favorites.yaml
  apps/mobile/.maestro/12-messaging.yaml
  apps/mobile/.maestro/13-notifications.yaml
  apps/mobile/.maestro/14-review.yaml
  apps/mobile/.maestro/15-trust-verification.yaml
  apps/mobile/.maestro/16-kyc.yaml
  apps/mobile/.maestro/17-wallet.yaml
  apps/mobile/.maestro/18-refund.yaml
  apps/mobile/.maestro/19-block-user.yaml
  apps/mobile/.maestro/20-report-content.yaml
  apps/mobile/.maestro/README.md
  apps/mobile/.storybook/index.tsx
  apps/mobile/.storybook/main.js
  apps/mobile/.storybook/preview.js
  apps/mobile/.storybook/storybook.requires.js
  apps/mobile/jest.config.js
  apps/mobile/jest.config.root-backup.js
  apps/mobile/jest.setup.root-backup.js
  apps/mobile/lighthouserc.js
  apps/mobile/webpack.performance.config.js
  package.json
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: confirm-payment edge function syntax error
  supabase/functions/confirm-payment/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: upgrade Docker images to Node.js 20 and pnpm 9
  apps/admin/Dockerfile
  apps/web/Dockerfile
Due: none

fix: resolve all integration issues for GitHub, Supabase, Docker, and VS Code
  .github/.actionlint-matcher.json
  .github/workflows/monorepo-ci.yml
  .vscode/settings.json
  apps/admin/Dockerfile
  apps/mobile/tsconfig.json
  apps/web/Dockerfile
  apps/web/next.config.ts
  docker-compose.yml
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: resolve TypeScript and Next.js build issues
  .turbo/cache/02179cd36eaab5a1-meta.json
  .turbo/cache/02179cd36eaab5a1.tar.zst
  .turbo/cache/4f24b74d3b7f159c-meta.json
  .turbo/cache/4f24b74d3b7f159c.tar.zst
  .turbo/cache/55196227188f0603-meta.json
  .turbo/cache/55196227188f0603.tar.zst
  .turbo/cache/e1405b3ba5610688-meta.json
  .turbo/cache/e1405b3ba5610688.tar.zst
  .turbo/cookies/68.cookie
  .turbo/cookies/69.cookie
  .turbo/cookies/70.cookie
  .turbo/cookies/71.cookie
  .turbo/cookies/72.cookie
  .turbo/cookies/73.cookie
  .turbo/cookies/74.cookie
  .turbo/cookies/75.cookie
  .turbo/cookies/76.cookie
  .turbo/cookies/77.cookie
  .turbo/cookies/78.cookie
  .turbo/cookies/79.cookie
  apps/mobile/tsconfig.json
  apps/web/next.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: remove customConditions from tsconfig to resolve TypeScript error
  apps/mobile/tsconfig.json
Due: prettier --write

chore: infrastructure cleanup - TS config, EAS setup, CI workflow
  .github/workflows/simple-ci.yml
  .turbo/cache/37148ca3e02b137e-meta.json
  .turbo/cache/37148ca3e02b137e.tar.zst
  .turbo/cache/60b2c4399733e132-meta.json
  .turbo/cache/60b2c4399733e132.tar.zst
  .turbo/cache/681e1a97896785bd-meta.json
  .turbo/cache/681e1a97896785bd.tar.zst
  .turbo/cache/74b6df35eda63a15-meta.json
  .turbo/cache/74b6df35eda63a15.tar.zst
  .turbo/cache/e98e4b18f7c86b67-meta.json
  .turbo/cache/e98e4b18f7c86b67.tar.zst
  .turbo/cache/ebe756d0a86929ce-meta.json
  .turbo/cache/ebe756d0a86929ce.tar.zst
  apps/mobile/App.tsx
  apps/mobile/app.config.ts
  apps/mobile/src/utils/lazyLoad.tsx
  apps/web/app/page.tsx
  docs/INFRASTRUCTURE_CLEANUP_REPORT.md
  docs/QUICKSTART_INFRASTRUCTURE.md
  packages/design-system/src/components/NavigationStates.tsx
  packages/design-system/src/components/__tests__/NavigationStates.test.tsx
  packages/design-system/src/index.ts
  packages/design-system/tsconfig.json
  scripts/setup-github-secrets.sh
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: infrastructure cleanup - TypeScript config alignment and CI preparation
  .github/workflows/infrastructure-test.yml
  apps/admin/tsconfig.json
  apps/mobile/tsconfig.json
  apps/web/tsconfig.json
  docs/CI_SECRETS_CHECKLIST.md
  docs/INFRASTRUCTURE_CLEANUP_COMPLETE.md
  packages/design-system/tsconfig.json
  tsconfig.json
Due: prettier --write

fix: upgrade react-native from 0.76.5 to 0.82.1
  apps/mobile/package.json
Due: prettier --write

fix: upgrade react from 18.2.0 to 18.3.1
  apps/mobile/package.json
Due: prettier --write

fix: upgrade react-dom from 18.2.0 to 18.3.1
  apps/mobile/package.json
Due: prettier --write

fix: upgrade react-native-reanimated from 3.16.7 to 3.19.4
  apps/mobile/package.json
Due: prettier --write

fix: upgrade react-native-maps from 1.18.0 to 1.26.18
  apps/mobile/package.json
Due: prettier --write

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: prettier --write

audit: comprehensive pre-launch QA audit and critical blocker fixes
  .github/dependabot.yml
  AUDIT_FIX_BLOCKER_1.sql
  AUDIT_FIX_BLOCKER_1_EdgeFunction.ts
  AUDIT_FIX_BLOCKER_2.sql
  AUDIT_FIX_BLOCKER_3_Backend.sql
  AUDIT_FIX_BLOCKER_3_Frontend.ts
  AUDIT_FIX_FlashList_Migration.md
  AUDIT_FIX_MMKV_Migration.md
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: remove hardcoded localhost fallbacks and configure Supabase
  SUPABASE_SETUP_COMPLETE.md
  apps/mobile/src/config/env.ts
  apps/mobile/src/services/aiQualityScorer.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(blocker-1): implement atomic transaction RPC for transfer-funds
  supabase/functions/transfer-funds/index.ts
  supabase/migrations/20251213000000_atomic_transfer_rpc.sql
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(blocker-2): implement strict RLS policies to prevent privacy leaks
  supabase/migrations/20251213000001_strict_rls_policies.sql
Due: none

fix(blocker-3): implement escrow system for payment protection
  apps/mobile/src/services/paymentService.ts
  supabase/migrations/20251213000002_escrow_system_backend.sql
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf: migrate to FlashList for 60% faster scrolling performance
  apps/mobile/package.json
  apps/mobile/src/features/messages/screens/ChatScreen.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/profile/screens/DeletedMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/features/trips/screens/MatchConfirmationScreen.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf: migrate to MMKV storage for 10-20x faster I/O operations
  apps/mobile/package.json
  apps/mobile/src/stores/favoritesStore.ts
  apps/mobile/src/stores/searchStore.ts
  apps/mobile/src/stores/uiStore.ts
  apps/mobile/src/utils/errorRecovery.ts
  apps/mobile/src/utils/secureStorage.ts
  apps/mobile/src/utils/storage.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: add PostHog analytics and fix bundle ID consistency
  apps/mobile/app.config.ts
  apps/mobile/package.json
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: add escrow indexes and update production config
  BACKEND_SETUP.md
  supabase/config.toml
  supabase/migrations/20251213000003_escrow_indexes.sql
Due: prettier --write

fix(critical): enable pg_cron and cleanup production console logs
  apps/mobile/src/services/aiQualityScorer.ts
  apps/mobile/src/utils/secureStorage.ts
  supabase/migrations/20251213000004_enable_pg_cron.sql
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: add comprehensive deployment checklist and final summary
  DEPLOYMENT_CHECKLIST.md
Due: prettier --write

feat(maps): migrate from Google Maps to Mapbox
  BACKEND_SETUP.md
  DEPLOYMENT_CHECKLIST.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/config/env.config.ts
  apps/mobile/src/config/env.ts
  supabase/functions/geocode/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(secrets): integrate Infisical for centralized secrets management
  BACKEND_SETUP.md
  DEPLOYMENT_CHECKLIST.md
  INFISICAL_SETUP.md
  apps/mobile/.infisical.json
  apps/mobile/package.json
Due: prettier --write

feat(cdn): document and configure Cloudflare Images CDN
  BACKEND_SETUP.md
  CLOUDFLARE_SETUP.md
  DEPLOYMENT_CHECKLIST.md
  apps/mobile/src/services/cloudflareImages.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(analytics): initialize PostHog and complete integration revision
  INTEGRATION_SUMMARY.md
  apps/mobile/App.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(critical): security and code quality improvements
  apps/mobile/src/services/deepLinkTracker.ts
  apps/mobile/src/services/imagePreloader.ts
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/services/offlineCache.ts
  apps/mobile/src/services/paymentService.ts
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: integrate PostHog analytics and fix NavigationStates tests
  apps/mobile/src/hooks/useScreenPerformance.ts
  packages/design-system/src/components/NavigationStates.tsx
  packages/design-system/src/components/__tests__/NavigationStates.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor: replace Alert.alert() with Toast/Confirmation contexts
  apps/mobile/App.tsx
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/ShareMomentBottomSheet.tsx
  apps/mobile/src/components/createMoment/DetailsSection.tsx
  apps/mobile/src/components/createMoment/PhotoSection.tsx
  apps/mobile/src/components/ui/ImagePicker.tsx
  apps/mobile/src/features/auth/ChangePasswordScreen.tsx
  apps/mobile/src/features/auth/ForgotPasswordScreen.tsx
  apps/mobile/src/features/auth/RegisterScreen.tsx
  apps/mobile/src/features/auth/TwoFactorSetupScreen.tsx
  apps/mobile/src/features/auth/screens/CompleteProfileScreen.tsx
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/RegisterScreen.tsx
  apps/mobile/src/features/messages/hooks/useChatScreen.ts
  apps/mobile/src/features/messages/screens/ArchivedChatsScreen.tsx
  apps/mobile/src/features/payments/hooks/usePaymentMethods.ts
  apps/mobile/src/features/payments/kyc/KYCDocumentCaptureScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCReviewScreen.tsx
  apps/mobile/src/features/payments/kyc/KYCSelfieScreen.tsx
  apps/mobile/src/features/payments/screens/GiftInboxDetailScreen.tsx
  apps/mobile/src/features/payments/screens/RefundRequestScreen.tsx
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
  apps/mobile/src/features/profile/screens/CreateMomentScreen.tsx
  apps/mobile/src/features/profile/screens/EditMomentScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ProofFlowScreen.tsx
  apps/mobile/src/features/profile/screens/ShareMomentScreen.tsx
  apps/mobile/src/features/settings/screens/AppSettingsScreen.tsx
  apps/mobile/src/features/settings/screens/BlockedUsersScreen.tsx
  apps/mobile/src/features/settings/screens/ConnectedAccountsScreen.tsx
  apps/mobile/src/features/settings/screens/DataPrivacyScreen.tsx
  apps/mobile/src/features/settings/screens/HiddenItemsScreen.tsx
  apps/mobile/src/features/settings/screens/SecurityScreen.tsx
  apps/mobile/src/features/settings/screens/SupportScreen.tsx
  apps/mobile/src/features/trips/hooks/useRequestsScreen.ts
  apps/mobile/src/features/trips/screens/BookingDetailScreen.tsx
  apps/mobile/src/features/trips/screens/DisputeFlowScreen.tsx
Due: eslint --fix --max-warnings=0, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix --max-warnings=0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
