Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(admin): Add missing hooks for build compatibility
  apps/admin/src/hooks/use-debounce.ts
  apps/admin/src/hooks/use-toast.ts
Due: eslint --fix, prettier --write

fix(migrations): Renumber duplicate migrations, remove exact duplicates
  supabase/migrations/20260111_add_super_admin.sql
  supabase/migrations/20260114000003_add_founder_decision_log.sql
  supabase/migrations/20260114000004_add_triage_and_integration_health.sql
Due: none

fix(admin): Add sidebar colors to tailwind config
  apps/admin/tailwind.config.ts
Due: eslint --fix, prettier --write

fix(mobile): Fix React Hooks rules violations and lint errors
  apps/mobile/src/config/sentry.ts
  apps/mobile/src/features/discover/screens/EscrowStatusScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  apps/mobile/src/features/settings/screens/DiagnosticsScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(admin): Update Sentry config and add env to turbo.json
  apps/admin/next-env.d.ts
  apps/admin/next.config.js
  turbo.json
Due: eslint --fix, prettier --write

fix(turbo): Correct admin#build outputs for Next.js
  turbo.json
Due: prettier --write

refactor(admin): Remove Upstash Redis - simplify to in-memory rate limiting
  apps/admin/next-env.d.ts
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  apps/admin/src/lib/index.ts
  apps/admin/src/lib/rate-limit.ts
  apps/admin/src/lib/redis.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: Remove all Upstash Redis references across codebase
  .github/workflows/deploy-supabase.yml
  apps/admin/ADMIN_DASHBOARD_EXECUTIVE_REPORT.md
  apps/admin/INTEGRATION_STATUS_REPORT.md
  apps/admin/src/app/(dashboard)/integrations-monitor/page.tsx
  apps/mobile/.env.example
  apps/mobile/src/config/env.config.ts
  docs/DATABASE_OPTIMIZATION_GUIDE.md
  docs/PERFORMANCE_OPTIMIZATION_GUIDE.md
  scripts/monitor-edge-functions.sh
  scripts/set-supabase-secrets.sh
  scripts/test-edge-functions.sh
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve Snyk security warnings and update Infisical action
  .github/workflows/deploy-supabase.yml
  apps/admin/src/app/(dashboard)/security/page.tsx
  scripts/validate-scenarios.ts
  scripts/verify-full-flow.ts
Due: eslint --fix, prettier --write

fix: correct Infisical project-slug to lovendo-app-infisical2
  .github/workflows/deploy-supabase.yml
Due: prettier --write

fix: update Sentry org from travelmatch-2d to lovendo-2d
  apps/admin/next.config.js
  apps/mobile/.vscode/mcp.json
  apps/mobile/app.config.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: rename workspace to lovendo
  .vscode/lovendo.code-workspace
Due: none

Fix lint errors: remove unused AsyncStorage imports and fix cacheService structure
  apps/mobile/src/config/i18n.ts
  apps/mobile/src/hooks/useLowPowerMode.ts
  apps/mobile/src/services/HapticManager.ts
  apps/mobile/src/services/cacheService.ts
  apps/mobile/src/services/offlineSyncQueue.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

Fix Badge component usage in RequestsScreen: use correct size prop and label prop
  apps/mobile/src/features/discover/screens/RequestsScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: add env vars to turbo.json
  turbo.json
Due: prettier --write

fix: use window.location for login redirect to ensure cookies are sent
  apps/admin/src/app/(auth)/login/page.tsx
Due: eslint --fix, prettier --write

fix(admin): properly set cookie on NextResponse for auth flow
  apps/admin/middleware.ts
  apps/admin/src/app/api/auth/login/route.ts
Due: eslint --fix, prettier --write

fix(admin): check session from API on dashboard load
  apps/admin/src/app/(auth)/login/page.tsx
  apps/admin/src/components/layout/dashboard-shell.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
