Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: remove online status feature for user privacy
  apps/mobile/src/features/inbox/components/InboxChatItem.tsx
  apps/mobile/src/features/inbox/hooks/useInbox.ts
  apps/mobile/src/features/inbox/types/inbox.types.ts
  apps/mobile/src/features/messages/components/ChatHeader.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/settings/screens/VisibilitySettingsScreen.tsx
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/services/userService.ts
  apps/mobile/src/types/db.ts
  apps/mobile/src/utils/__tests__/validation.test.ts
  apps/mobile/src/utils/validation.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: remove unused online status code and styles
  apps/mobile/src/features/messages/components/ChatHeader.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: clean up orphaned online status code and optimize realtime
  apps/mobile/src/context/RealtimeContext.tsx
  apps/mobile/src/features/inbox/components/InboxChatItem.tsx
  apps/mobile/src/hooks/useMessages.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: update Next.js auto-generated types path
  apps/admin/next-env.d.ts
Due: eslint --fix, prettier --write

test: add comprehensive test coverage for encryption and integration
  apps/admin/src/__tests__/integration/admin-mobile-api.test.ts
  apps/mobile/.maestro/21-encrypted-messaging.yaml
  apps/mobile/src/services/__tests__/encryptionService.test.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

refactor: update ML service and admin for gift platform
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  services/ml-service/README.md
  services/ml-service/app/main.py
  services/ml-service/app/models/offer_analysis.py
  services/ml-service/app/models/recommendations.py
Due: eslint --fix, prettier --write

feat(ml-service): implement comprehensive AI/ML engine v3.0
  services/ml-service/app/main.py
  services/ml-service/app/models/chatbot.py
  services/ml-service/app/models/forecasting.py
  services/ml-service/app/models/price_prediction.py
  services/ml-service/app/models/proof_verification.py
  services/ml-service/app/models/recommendation_engine.py
  services/ml-service/app/models/turkish_nlp.py
Due: none

feat: complete AI/ML integration across all layers
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  apps/admin/src/lib/ai-service.ts
  apps/mobile/src/hooks/useAI.ts
  apps/mobile/src/services/aiService.ts
  services/ml-service/tests/__init__.py
  services/ml-service/tests/test_chatbot.py
  services/ml-service/tests/test_forecasting.py
  services/ml-service/tests/test_price_prediction.py
  services/ml-service/tests/test_proof_verification.py
  services/ml-service/tests/test_recommendation_engine.py
  services/ml-service/tests/test_turkish_nlp.py
  supabase/functions/ml-gateway/index.ts
  supabase/migrations/20260110000000_ai_ml_features.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: implement real-time content moderation system
  apps/mobile/src/hooks/useContentModeration.ts
  packages/shared/src/content-filter.ts
  supabase/functions/_shared/content-moderation.ts
  supabase/functions/send-message/index.ts
  supabase/migrations/20260110100000_content_moderation.sql
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: complete bilingual content moderation system (Turkish & English)
  apps/admin/src/app/(dashboard)/moderation/page.tsx
  apps/mobile/src/hooks/useContentModeration.ts
  packages/shared/src/__tests__/content-filter.test.ts
  packages/shared/src/content-filter.ts
  supabase/functions/_shared/content-moderation.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: resolve content filter regex issues and test failures
  packages/shared/src/__tests__/content-filter.test.ts
  packages/shared/src/content-filter.ts
Due: eslint --fix, prettier --write

fix: export content-filter from shared package index
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

fix: remove unused queryClient variable in useAI hook
  apps/mobile/src/hooks/useAI.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

chore: improve path validation security and normalize Xcode project settings
  apps/mobile/ios/TravelMatch.xcodeproj/project.pbxproj
  packages/design-system/scripts/design_token_generator.py
Due: none

feat(web): implement Neural Mesh pSEO architecture for social economy domination
  apps/web/app/[lang]/[city]/[intent]/page.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/sitemap.ts
  apps/web/components/landing/KralHero.tsx
  apps/web/components/landing/LivePulse.tsx
  apps/web/components/landing/MomentGrid.tsx
  apps/web/components/landing/UnlockButton.tsx
  apps/web/components/landing/index.ts
  apps/web/components/seo/GiftingSchema.tsx
  apps/web/components/seo/index.ts
  apps/web/lib/seo-engine.ts
  apps/web/middleware.ts
Due: eslint --fix, prettier --write

feat: immersive 3D website redesign with Three.js/React Three Fiber
  apps/web/app/__tests__/immersive.test.tsx
  apps/web/app/__tests__/page.test.tsx
  apps/web/app/page.tsx
  apps/web/components/3d/ParticleField.tsx
  apps/web/components/3d/Scene3D.tsx
  apps/web/components/3d/SentientOrb.tsx
  apps/web/components/3d/index.ts
  apps/web/components/layout/TunnelNav.tsx
  apps/web/components/layout/index.ts
  apps/web/components/shared/LiquidToken.tsx
  apps/web/components/shared/NoiseOverlay.tsx
  apps/web/components/stash/LockedDrop.tsx
  apps/web/components/stash/index.ts
  apps/web/hooks/index.ts
  apps/web/hooks/usePerformanceMonitor.ts
  apps/web/hooks/useRealtimeStars.ts
  apps/web/hooks/useSunsetAtmosphere.ts
  apps/web/lib/three-utils.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(web): add dynamic OG images, language hubs, and enhanced bot management
  apps/web/app/[lang]/page.tsx
  apps/web/app/api/og/route.tsx
  apps/web/app/robots.ts
  apps/web/lib/tracking-server.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors and lint issues after branch merges
  apps/mobile/ios/TravelMatch.xcodeproj/project.pbxproj
  apps/web/app/(marketing)/features/proof-ceremony/page.tsx
  apps/web/app/[lang]/page.tsx
  apps/web/app/__tests__/immersive.test.tsx
  apps/web/app/__tests__/page.test.tsx
  apps/web/app/api/og/route.tsx
  apps/web/app/page.tsx
  apps/web/app/sitemap.ts
  apps/web/components/3d/ParticleField.tsx
  apps/web/components/3d/Scene3D.tsx
  apps/web/components/3d/SentientOrb.tsx
  apps/web/components/ceremony/CeremonyShowcase.tsx
  apps/web/components/landing/KralHero.tsx
  apps/web/components/landing/LivePulse.tsx
  apps/web/components/landing/MomentGrid.tsx
  apps/web/components/shared/NoiseOverlay.tsx
  apps/web/hooks/usePerformanceMonitor.ts
  apps/web/hooks/useSunsetAtmosphere.ts
  apps/web/lib/seo-engine.ts
  apps/web/lib/three-utils.ts
Due: eslint --fix, prettier --write

refactor: rename KralHero to ConversionHero
  apps/web/app/[lang]/[city]/[intent]/page.tsx
  apps/web/components/landing/ConversionHero.tsx
  apps/web/components/landing/index.ts
Due: eslint --fix, prettier --write

fix: resolve hydration error and improve download button UX
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/components/shared/LiquidToken.tsx
Due: eslint --fix, prettier --write

fix: remove V2 and NFT references, update to realistic features
  apps/web/app/__tests__/immersive.test.tsx
  apps/web/app/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
