Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: bilingual system (TR/EN) and UI improvements
  apps/admin/package.json
  apps/admin/src/app/(dashboard)/creators/page.tsx
  apps/admin/src/app/globals.css
  apps/admin/src/app/page.tsx
  apps/admin/src/components/common/stat-card.tsx
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/3d/GiftStreamShader.tsx
  apps/web/src/components/3d/SacredAtmosphere.tsx
  apps/web/src/components/landing/AuraRitual.tsx
  apps/web/src/components/landing/GlobalPulse.tsx
  apps/web/src/components/landing/Hero.tsx
  apps/web/src/components/landing/Manifesto.tsx
  apps/web/src/components/landing/ManifestoLoop.tsx
  apps/web/src/components/landing/MomentDeck.tsx
  apps/web/src/components/landing/ProofCeremony.tsx
  apps/web/src/components/landing/WhisperUI.tsx
  apps/web/src/components/landing/index.ts
  apps/web/src/components/layout/Footer.tsx
  apps/web/src/components/layout/Navbar.tsx
  apps/web/src/components/providers/AppProvider.tsx
  apps/web/src/components/shared/ExperienceAssistant.tsx
  apps/web/src/components/shared/Navbar.tsx
  apps/web/src/components/ui/CustomCursor.tsx
  apps/web/src/context/LanguageContext.tsx
  apps/web/src/context/RitualContext.tsx
  apps/web/src/hooks/useAuraSync.ts
  pnpm-lock.yaml
  scripts/sync-types.sh
Due: eslint --fix, prettier --write

feat: bilingual system and UI improvements
  apps/web/src/app/layout.tsx
  apps/web/src/components/3d/index.ts
  apps/web/src/components/landing/GlobalPulse.tsx
  apps/web/src/components/landing/WhisperUI.tsx
  apps/web/src/components/shared/ExperienceAssistant.tsx
  apps/web/src/components/shared/Navbar.tsx
  apps/web/src/components/ui/CustomCursor.tsx
Due: eslint --fix, prettier --write

fix(admin): fix dark mode colors and CanvaStatCard props
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  apps/admin/src/app/(dashboard)/ceremony-management/page.tsx
  apps/admin/src/app/(dashboard)/users/[id]/page.tsx
Due: eslint --fix, prettier --write

fix(admin): complete Canva migration and dark mode fixes
  apps/admin/src/app/(dashboard)/promos/page.tsx
  apps/admin/src/app/(dashboard)/safety-hub/page.tsx
  apps/admin/src/app/(dashboard)/support/page.tsx
  apps/admin/src/app/(dashboard)/team/page.tsx
Due: eslint --fix, prettier --write

feat(admin): add fraud investigation and wallet operations hooks
  apps/admin/ADMIN_DASHBOARD_IMPLEMENTATION_PLAN.md
  apps/admin/src/hooks/index.ts
  apps/admin/src/hooks/use-fraud.ts
  apps/admin/src/hooks/use-wallet-operations.ts
Due: eslint --fix, prettier --write

feat(admin): complete P0/P1 fixes for admin dashboard
  apps/admin/src/app/(dashboard)/audit-logs/page.tsx
  apps/admin/src/app/(dashboard)/disputes/page.tsx
  apps/admin/src/app/(dashboard)/feature-flags/page.tsx
  apps/admin/src/app/(dashboard)/fraud-investigation/page.tsx
  apps/admin/src/app/(dashboard)/notifications/page.tsx
  apps/admin/src/app/(dashboard)/security/page.tsx
  apps/admin/src/app/(dashboard)/support/page.tsx
  apps/admin/src/app/(dashboard)/team/page.tsx
  apps/admin/src/app/(dashboard)/wallet-operations/page.tsx
  apps/admin/src/hooks/use-support.ts
Due: eslint --fix, prettier --write

docs(admin): update implementation plan with completed P0/P1 phases
  apps/admin/ADMIN_DASHBOARD_IMPLEMENTATION_PLAN.md
Due: prettier --write

fix(admin): complete dark mode support across all dashboard pages
  apps/admin/src/app/(dashboard)/ai-center/page.tsx
  apps/admin/src/app/(dashboard)/ai-insights/page.tsx
  apps/admin/src/app/(dashboard)/alerts/page.tsx
  apps/admin/src/app/(dashboard)/audit-trail/page.tsx
  apps/admin/src/app/(dashboard)/campaign-builder/page.tsx
  apps/admin/src/app/(dashboard)/ceo-briefing/page.tsx
  apps/admin/src/app/(dashboard)/chat-analytics/page.tsx
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/(dashboard)/creators/page.tsx
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/(dashboard)/dev-tools/page.tsx
  apps/admin/src/app/(dashboard)/discovery-analytics/page.tsx
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/finance/page.tsx
  apps/admin/src/app/(dashboard)/geographic/page.tsx
  apps/admin/src/app/(dashboard)/integrations-monitor/page.tsx
  apps/admin/src/app/(dashboard)/moderation/page.tsx
  apps/admin/src/app/(dashboard)/ops-center/page.tsx
  apps/admin/src/app/(dashboard)/pricing/page.tsx
  apps/admin/src/app/(dashboard)/proof-center/page.tsx
  apps/admin/src/app/(dashboard)/queue/page.tsx
  apps/admin/src/app/(dashboard)/revenue/page.tsx
  apps/admin/src/app/(dashboard)/safety-hub/page.tsx
  apps/admin/src/app/(dashboard)/system-health/page.tsx
  apps/admin/src/app/(dashboard)/user-lifecycle/page.tsx
  apps/admin/src/app/(dashboard)/vip-management/page.tsx
Due: eslint --fix, prettier --write

docs(admin): update implementation plan to 100% complete status
  apps/admin/ADMIN_DASHBOARD_IMPLEMENTATION_PLAN.md
Due: prettier --write

refactor: replace console statements with structured logger
  apps/admin/src/app/(dashboard)/security/page.tsx
  apps/mobile/src/components/ui/OptimizedImage.tsx
  apps/mobile/src/context/NetworkContext.tsx
  apps/mobile/src/hooks/useContentReactiveGlow.ts
  apps/mobile/src/utils/audioSystem.ts
  supabase/functions/_shared/circuit-breaker.ts
  supabase/functions/cleanup-expired-stories/index.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: improve type safety and fix @ts-ignore issues
  apps/mobile/src/components/ui/AnimatedGradient.tsx
  apps/mobile/src/features/wallet/screens/WithdrawScreen.tsx
  apps/mobile/src/services/pendingTransactionsService.ts
  apps/mobile/src/utils/audioSystem.ts
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat: implement API integrations for admin ceremony and security pages
  apps/admin/src/app/(dashboard)/ceremony-management/page.tsx
  apps/admin/src/app/(dashboard)/security/page.tsx
Due: eslint --fix, prettier --write

feat(a11y): add accessibility labels to TMCard component
  apps/mobile/src/components/ui/TMCard.tsx
  apps/mobile/src/locales/en.json
  apps/mobile/src/locales/tr.json
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(a11y): add accessibility labels to ImagePicker component
  apps/mobile/src/components/ui/ImagePicker.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(admin): complete admin dashboard to 100% quality standards
  apps/admin/ADMIN_DASHBOARD_IMPLEMENTATION_PLAN.md
  apps/admin/src/app/(dashboard)/analytics/page.tsx
  apps/admin/src/app/(dashboard)/audit-trail/page.tsx
  apps/admin/src/app/(dashboard)/campaigns/page.tsx
  apps/admin/src/app/(dashboard)/ceo-briefing/page.tsx
  apps/admin/src/app/(dashboard)/ceremony-management/page.tsx
  apps/admin/src/app/(dashboard)/command-center/page.tsx
  apps/admin/src/app/(dashboard)/creators/page.tsx
  apps/admin/src/app/(dashboard)/feature-flags/page.tsx
  apps/admin/src/app/(dashboard)/geographic/page.tsx
  apps/admin/src/app/(dashboard)/promos/page.tsx
  apps/admin/src/app/(dashboard)/revenue/page.tsx
  apps/admin/src/app/(dashboard)/settings/page.tsx
  apps/admin/src/app/(dashboard)/support/page.tsx
  apps/admin/src/app/(dashboard)/team/page.tsx
  apps/admin/src/app/(dashboard)/users/page.tsx
  apps/admin/src/app/(dashboard)/wallet-operations/page.tsx
  apps/admin/src/components/layout/command-palette.tsx
  apps/admin/src/components/layout/header.tsx
Due: eslint --fix, prettier --write

docs: add GDPR-compliant incident response and data breach procedure
  docs/INCIDENT_RESPONSE.md
Due: prettier --write

feat(web): add GDPR-compliant cookie consent banner
  apps/web/src/app/layout.tsx
  apps/web/src/components/ui/CookieConsent.tsx
  apps/web/src/context/LanguageContext.tsx
Due: eslint --fix, prettier --write

feat(mobile): add accessibility labels to discover components
  apps/mobile/src/features/discover/components/CategoryChips.tsx
  apps/mobile/src/features/discover/components/ImmersiveMomentCard.tsx
  apps/mobile/src/features/discover/components/LiquidMomentCard.tsx
  apps/mobile/src/features/discover/components/StoryItem.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

feat(mobile): add accessibility to chat and welcome components
  apps/mobile/src/features/discover/components/HomeWelcomeCard.tsx
  apps/mobile/src/features/messages/components/ChatUnlockButton.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix: complete cleanup - TODO comments, console.log, email service
  apps/admin/src/app/(dashboard)/vip-management/page.tsx
  apps/admin/src/app/api/admin-users/[id]/reset-password/route.ts
  apps/mobile/src/__tests__/flows/OnboardingFlow.test.tsx
  apps/mobile/src/components/ui/AnimatedGradient.tsx
  apps/web/src/components/landing/DemoApplication.tsx
Due: eslint --fix, prettier --write, node scripts/jest-mobile-lint-staged.js

fix(admin): correct CanvaBadge and CanvaButton variant types
  apps/admin/src/app/(dashboard)/ai-insights/page.tsx
  apps/admin/src/app/(dashboard)/audit-trail/page.tsx
  apps/admin/src/app/(dashboard)/ceo-briefing/page.tsx
  apps/admin/src/app/(dashboard)/escrow-operations/page.tsx
  apps/admin/src/app/(dashboard)/fraud-investigation/page.tsx
  apps/admin/src/app/(dashboard)/integrations-monitor/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})
  prettier --write: ((((((any of: packages/**/*.{ts,tsx}) or (any of: services/**/*.{ts,tsx})) or (any of: apps/mobile/**/*.{ts,tsx,js,jsx})) or (any of: apps/web/**/*.{ts,tsx})) or (any of: apps/admin/**/*.{ts,tsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  node scripts/jest-mobile-lint-staged.js: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
