Repository weareasocialyazilim/travelmatch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ci): update Infisical action to v1.0.20
  .github/workflows/ci.yml
  .github/workflows/monorepo-ci.yml
Due: prettier --write

fix: resolve 18 TypeScript errors for SDK 54 compatibility
  .gitignore
  app.json
  apps/mobile/src/components/RecentSearches.tsx
  apps/mobile/src/components/TopPicksSection.tsx
  apps/mobile/src/features/messages/screens/ChatScreen.tsx
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/payments/hooks/useGiftInbox.ts
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/profile/screens/DeletedMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
  apps/mobile/src/features/settings/screens/DataPrivacyScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/features/trips/screens/MatchConfirmationScreen.tsx
  apps/mobile/src/services/imageCacheManager.ts
  apps/mobile/src/services/supabaseStorageService.ts
  apps/mobile/src/utils/imageHandling.ts
  apps/mobile/src/utils/lazyLoad.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: remove unused @ts-expect-error directives in imageCacheManager
  apps/mobile/src/services/imageCacheManager.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add store metadata, privacy policy and terms of service
  apps/web/app/privacy/page.tsx
  apps/web/app/terms/page.tsx
  docs/STORE_METADATA.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: update GitHub workflows - Infisical action v1.0.15 with new API
  .github/workflows/ci.yml
  .github/workflows/monorepo-ci.yml
Due: prettier --write

fix: disable non-essential workflows and fix CI errors
  .github/workflows/_disabled/accessibility-audit.yml
  .github/workflows/_disabled/engagement-analytics.yml
  .github/workflows/_disabled/infrastructure-test.yml
  .github/workflows/_disabled/load-test.yml
  .github/workflows/_disabled/security-rls-tests.yml
  .github/workflows/_disabled/simple-ci.yml
  .github/workflows/_disabled/type-safety.yml
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Due: prettier --write

feat: re-enable workflows with Codecov & Snyk support
  .github/workflows/_disabled/accessibility-audit.yml
  .github/workflows/_disabled/design-system.yml.disabled
  .github/workflows/_disabled/device-farm-tests.yml.disabled
  .github/workflows/_disabled/e2e-detox.yml.disabled
  .github/workflows/_disabled/e2e-tests.yml.disabled
  .github/workflows/_disabled/engagement-analytics.yml
  .github/workflows/_disabled/infrastructure-test.yml
  .github/workflows/_disabled/load-test.yml
  .github/workflows/_disabled/performance-ci.yml.disabled
  .github/workflows/_disabled/security-compliance.yml.disabled
  .github/workflows/_disabled/security-rls-tests.yml
  .github/workflows/_disabled/simple-ci.yml
  .github/workflows/_disabled/type-safety.yml
  .github/workflows/_disabled/ui-e2e-tests.yml.disabled
  .github/workflows/_disabled/visual-regression.yml.disabled
  .github/workflows/accessibility-audit.yml
  .github/workflows/infrastructure-test.yml
  .github/workflows/load-test.yml
  .github/workflows/security-rls-tests.yml
  .github/workflows/security-scan.yml
Due: prettier --write

feat: add production-ready workflows for launch
  .github/workflows/CI_CD_COMPLETE.md
  .github/workflows/E2E_CI_QUICK_START.md
  .github/workflows/E2E_CI_SETUP.md
  .github/workflows/database-migrations.yml
  .github/workflows/performance-ci.yml
  .github/workflows/production-deploy.yml
  docs/LAUNCH_CHECKLIST.md
Due: prettier --write

docs: update launch checklist with verified items
  docs/LAUNCH_CHECKLIST.md
Due: prettier --write

fix(ci): resolve GitHub workflow errors
  .github/workflows/database-migrations.yml
  .github/workflows/monorepo-ci.yml
Due: prettier --write

feat(ci): enable GitHub Environments for secure deployments
  .github/BRANCH_PROTECTION.md
  .github/workflows/database-migrations.yml
Due: prettier --write

fix(admin): Resolve build errors - force dynamic rendering for all routes
  apps/admin/next.config.js
  apps/admin/next.config.ts
  apps/admin/src/app/(dashboard)/audit-logs/page.tsx
  apps/admin/src/app/(dashboard)/layout.tsx
  apps/admin/src/app/api/admin-users/[id]/route.ts
  apps/admin/src/app/api/admin-users/route.ts
  apps/admin/src/app/api/analytics/route.ts
  apps/admin/src/app/api/auth/login/route.ts
  apps/admin/src/app/api/auth/verify-2fa/route.ts
  apps/admin/src/app/layout.tsx
  apps/admin/src/components/layout/dashboard-shell.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: Add Next.js build artifacts and app lockfiles to gitignore
  .gitignore
Due: none

chore(admin): Upgrade all dependencies to latest December 2025 versions
  apps/admin/next-env.d.ts
  apps/admin/next.config.js
  apps/admin/package.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(admin): Add .env.example with required environment variables
  apps/admin/.env.example
Due: none

docs(audit): Add comprehensive GOD MODE forensic security audit
  FORENSIC_GOD_MODE_AUDIT_2025-12-18.md
Due: prettier --write

fix(security): Implement critical security audit fixes
  .env.example
  .github/workflows/security-scan.yml
  apps/mobile/src/utils/storage.ts
  docker-compose.yml
  services/job-queue/src/index.ts
  services/payment/process-payment/index.ts
  supabase/functions/verify-2fa/index.ts
  supabase/functions/verify-kyc/index.ts
  supabase/migrations/20251218200000_security_audit_fixes.sql
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(mobile): Resolve VirtualizedList nesting warnings in screens
  apps/admin/src/components/common/stat-card.tsx
  apps/admin/src/components/common/status-badge.tsx
  apps/mobile/src/features/payments/screens/WalletScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  services/job-queue/src/workers/kyc-worker.ts
  services/shared/ml/openai-client.ts
  supabase/functions/_shared/security-middleware.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: Remove unused momentsGrid style
  apps/mobile/src/features/profile/screens/ProfileScreen.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(security): Complete SHA pinning for all GitHub Actions
  .github/workflows/security-scan.yml
Due: prettier --write

fix(security): Remove hardcoded DB passwords from docker-compose
  docker-compose.yml
Due: prettier --write

test: Add comprehensive security unit tests
  apps/mobile/src/utils/__tests__/storage.encryption.test.ts
  services/job-queue/src/__tests__/auth-middleware.test.ts
  supabase/functions/verify-2fa/__tests__/replay-protection.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(types): Replace all critical `any` types with proper TypeScript types
  services/job-queue/src/webhooks.ts
  services/shared/ml/feature-store.ts
  supabase/functions/_shared/errorHandler.ts
  supabase/functions/_shared/redisCache.ts
  supabase/functions/_shared/types.ts
  supabase/functions/cdn-invalidate/index.ts
  supabase/functions/confirm-payment/index.ts
  supabase/functions/export-user-data/index.ts
  supabase/functions/payment/create-payment-intent.ts
  supabase/functions/payment/stripe-webhook.ts
  supabase/functions/stripe-webhook/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(services): Complete critical service implementations
  apps/mobile/src/features/auth/TwoFactorSetupScreen.tsx
  apps/mobile/src/features/payments/index.ts
  apps/mobile/src/features/payments/screens/UnifiedGiftFlowScreen.tsx
  apps/mobile/src/features/payments/screens/WithdrawScreen.tsx
  apps/mobile/src/features/payments/services/paymentsApi.ts
  apps/mobile/src/services/messageService.ts
  services/job-queue/src/workers/email-worker.ts
  services/job-queue/src/workers/index.ts
  services/job-queue/src/workers/notification-worker.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: Remove unused paymentsApi import
  apps/mobile/src/features/payments/screens/UnifiedGiftFlowScreen.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(auth): Implement complete authentication screens
  apps/mobile/src/features/auth/screens/ChangePasswordScreen.tsx
  apps/mobile/src/features/auth/screens/EmailAuthScreen.tsx
  apps/mobile/src/features/auth/screens/ForgotPasswordScreen.tsx
  apps/mobile/src/features/auth/screens/PhoneAuthScreen.tsx
  apps/mobile/src/features/auth/screens/SetPasswordScreen.tsx
  apps/mobile/src/features/auth/screens/VerifyCodeScreen.tsx
  apps/mobile/src/services/messageService.ts
  apps/mobile/src/services/supabase.ts
  apps/mobile/src/services/supabaseAuthService.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(critical): Complete audit fixes - moment delete, auth screens
  apps/mobile/src/features/auth/screens/TwoFactorSetupScreen.tsx
  apps/mobile/src/features/auth/screens/WaitingForCodeScreen.tsx
  apps/mobile/src/features/profile/services/profileApi.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(security): Critical security and UX fixes
  apps/mobile/src/features/auth/screens/LoginScreen.tsx
  apps/mobile/src/features/auth/screens/WaitingForCodeScreen.tsx
  apps/mobile/src/features/trips/services/tripsApi.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(assets): Replace all placeholder URLs with DEFAULT_IMAGES constants
  apps/mobile/src/components/GiftInboxCard.tsx
  apps/mobile/src/components/MomentCard.tsx
  apps/mobile/src/components/RequestCard.tsx
  apps/mobile/src/components/discover/GridMomentCard.tsx
  apps/mobile/src/components/discover/SingleMomentCard.tsx
  apps/mobile/src/components/discover/cards/MomentGridCard.tsx
  apps/mobile/src/components/discover/cards/MomentSingleCard.tsx
  apps/mobile/src/constants/defaultValues.ts
  apps/mobile/src/constants/index.ts
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/features/notifications/screens/GestureReceivedScreen.tsx
  apps/mobile/src/features/profile/screens/EditProfileScreen.tsx
  apps/mobile/src/features/profile/screens/MomentDetailScreen.tsx
  apps/mobile/src/features/profile/screens/MyMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/ProfileDetailScreen.tsx
  apps/mobile/src/features/profile/screens/SavedMomentsScreen.tsx
  apps/mobile/src/features/profile/screens/ShareMomentScreen.tsx
  apps/mobile/src/features/settings/screens/BlockedUsersScreen.tsx
  apps/mobile/src/features/trips/screens/EscrowStatusScreen.tsx
  apps/mobile/src/features/trips/screens/ReceiverApprovalScreen.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(types): Comprehensive TypeScript and React improvements
  apps/mobile/src/components/BlockConfirmation.tsx
  apps/mobile/src/components/GiftSuccessModal.tsx
  apps/mobile/src/components/LoadingState.tsx
  apps/mobile/src/components/RequestMoreProofBottomSheet.tsx
  apps/mobile/src/components/discover/LocationModal.tsx
  apps/mobile/src/components/discover/StoryViewer.tsx
  apps/mobile/src/components/moment-detail/ReviewsSection.tsx
  apps/mobile/src/components/skeletons/index.tsx
  apps/mobile/src/components/ui/ImagePicker.tsx
  apps/mobile/src/components/ui/SkeletonList.tsx
  apps/mobile/src/components/ui/SkeletonLoaders.tsx
  apps/mobile/src/examples/AIQualityScoringExample.tsx
  apps/mobile/src/features/auth/PhoneAuthScreen.tsx
  apps/mobile/src/features/auth/VerifyCodeScreen.tsx
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/auth/screens/VerifyCodeScreen.tsx
  apps/mobile/src/features/payments/screens/SubscriptionScreen.tsx
  apps/mobile/src/features/profile/screens/MomentGalleryScreen.tsx
  apps/mobile/src/features/profile/screens/ProofDetailScreen.tsx
  apps/mobile/src/features/profile/screens/ReputationScreen.tsx
  apps/mobile/src/features/profile/screens/TrustGardenDetailScreen.tsx
  apps/mobile/src/features/settings/screens/AboutScreen.tsx
  apps/mobile/src/features/trips/screens/DisputeFlowScreen.tsx
  apps/mobile/src/hooks/useMoments.ts
  apps/mobile/src/services/apiV1Service.ts
  apps/mobile/src/services/notificationService.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(navigation): Implement TODO navigation handlers
  apps/mobile/src/features/trips/hooks/useRequestsScreen.ts
  apps/mobile/src/features/trips/screens/RequestsScreen.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(types): Replace any types with proper types in core services
  apps/mobile/src/services/moderationService.ts
  apps/mobile/src/services/paymentsApi.ts
  apps/mobile/src/services/requestService.ts
  apps/mobile/src/services/reviewService.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(audit): Critical fixes from comprehensive audit
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.afterEnv.js
  apps/mobile/src/services/requestService.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: Implement DEFCON 1-3 security and UX fixes
  .github/workflows/monorepo-ci.yml
  apps/mobile/package.json
  apps/mobile/src/components/ui/NavigationSkeleton.tsx
  apps/mobile/src/hooks/useAbortController.ts
  apps/mobile/src/hooks/useAppTrackingTransparency.ts
  apps/mobile/src/hooks/useInputMask.ts
  apps/mobile/src/hooks/useReduceMotion.ts
  apps/mobile/src/services/supabaseDbService.ts
  apps/web/app/layout.tsx
  packages/design-system/src/tokens/colors.ts
  packages/shared/.eslintrc.js
  supabase/migrations/20251218200000_fix_conversation_race_condition.sql
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(audit): Add comprehensive forensic security audit report
  SECURITY_AUDIT_REPORT.md
Due: prettier --write

fix: DEFCON 2 security and performance improvements
  apps/mobile/src/components/PaginationPerformance.stories.tsx
  apps/mobile/src/components/ui/OptimizedFlatList.tsx
  apps/mobile/src/components/ui/__tests__/OptimizedFlatList.test.tsx
  apps/mobile/src/examples/MomentsFeedExample.tsx
  apps/mobile/src/features/auth/screens/OnboardingScreen.tsx
  apps/mobile/src/features/trips/screens/DiscoverScreen.tsx
  apps/mobile/src/hooks/usePagination.stories.tsx
  apps/mobile/src/services/analytics.ts
  apps/mobile/src/services/apiV1Service.ts
  apps/mobile/src/services/paymentService.ts
  apps/mobile/src/services/userService.ts
  apps/mobile/src/stores/discoverStore.ts
  apps/mobile/src/types/adapters.ts
  apps/mobile/src/types/core.ts
  apps/mobile/src/types/domain.ts
  apps/mobile/src/types/index.ts
  apps/mobile/src/utils/listOptimization.ts
  apps/mobile/src/utils/performance.ts
  packages/shared/src/types/core.ts
  packages/shared/src/types/domain.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(navigation): DEFCON 3.4 - Enable iOS swipe-to-go-back gesture
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/hooks/useInputMask.ts
  apps/mobile/src/hooks/useNavigationGesture.ts
  apps/mobile/src/hooks/useReduceMotion.ts
  apps/mobile/src/navigation/AppNavigator.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(audit): Add comprehensive DEFCON forensic security audit report
  FORENSIC_AUDIT_DEFCON_2025-12-19.md
Due: prettier --write

fix(security): DEFCON 1 critical security fixes
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  apps/mobile/src/features/messages/screens/MessagesScreen.tsx
  apps/mobile/src/services/supabaseDbService.ts
  supabase/migrations/20251219000001_critical_security_fixes.sql
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
